<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-3">
                <ul>
                    <li class="title"><a href="about.html">О&nbsp;компании</a></li>
                    <li><a href="family.html">Семья Eclisse</a></li>
                    <li><a href="/">Эксклюзивные отношения</a></li>
                    <li><a href="/">Сервисы и&nbsp;услуги</a></li>
                    <li><a href="/">Значение и&nbsp;роль ТДВ</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-3">
                <ul>
                    <li class="title"><a href="partners.html">Для партнёров</a></li>
                    <li><a href="#">Дистрибьюторам</a></li>
                    <li><a href="#">Диллерам</a></li>
                    <li><a href="#">Дизайнерам</a></li>
                    <li><a href="#">Профессионалам</a></li>
                    <li><a href="#">Карта партнеров</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-3">
                <ul>
                    <li class="title"><a href="community.html">Сообщество</a></li>
                    <li><a href="family.html">Семья Eclisse</a></li>
                    <li><a href="/">Новости</a></li>
                    <li><a href="/">Работы</a></li>
                    <li><a href="/">Конкурс работ и&nbsp;историй</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-3">
                <ul>
                    <li class="title"><a href="catalog.html">Каталог</a></li>
                    <li><a href="/">Пеналы</a></li>
                    <li><a href="/">Аксессуары</a></li>
                    <li><a href="/">Товары совместимые с&nbsp;Eclisse</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-3">
                <ul>
                    <li class="title"><a href="academy.html">Академия</a></li>
                    <li><a href="/">Мероприятия и&nbsp;новости</a></li>
                    <li><a href="/">Курсы</a></li>
                    <li><a href="/">Сертификация и&nbsp;аккредитация</a></li>
                    <li><a href="/">Библиотека ресурсов</a></li>
                    <li><a href="/">Бизнес-решения</a></li>
                    <li><a href="/">Дизайнерские решения</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-3">
                <ul>
                    <li class="title"><a href="support.html">Поддержка</a></li>
                    <li><a href="/">FAQ</a></li>
                    <li><a href="/">Полезные ссылки</a></li>
                    <li><a href="/">Техническая поддержка</a></li>
                    <li><a href="/">Инструкции по&nbsp;сборке</a></li>
                    <li><a href="/">Гарантийные условия</a></li>
                    <li><a href="/">Конфигуратор подбора</a></li>
                </ul>
            </div>
            <div class="col-12 col-lg-6 subscribe mob">
                <h4 class="title hide">
                    Подпишитесь на&nbsp;рассылку <span>новостей</span></h4>
                <form>
                    <div class="input_field input">
                        <input class="fluid" required type="email" placeholder="Эл. почта">
                    </div>
                    <div class="input_field label">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" required><span class="cr"><i class="cr-icon fas fa-check"></i></span>Я&nbsp;даю согласие на&nbsp;обработку своих данных
                            </label>
                        </div>
                    </div>
                    <div class="input_field submit">
                        <button class="float_right" type="submit">Отправить</button>
                    </div>
                </form>
                <div class="contacts">
                    <div class="phone"><a class="tel">+7&nbsp;495&nbsp;518-96-80</a></div>
                    <div class="mail"><a href="mailto:info@eclisse24.ru">info@eclisse24.ru</a></div>
                </div>
                <h4 class="title socials">Мы&nbsp;в&nbsp;соц. сетях<a href="/"><img src="img/ico_fb.png"></a><a href="/"><img src="img/ico_tw.png"></a><a href="/"><img src="img/ico_inst.png"></a></h4>
            </div>
        </div>
        <div class="row bottom mob">
            <div class="col-12 col-lg-6 mob">
                <p>&copy; 2018, ООО&nbsp;ТДВ. Все права защищены.</p>
            </div>
            <div class="col-12 col-lg-6 mob">
                <div class="footer_link">
                    <div class="link"><a href="/">Карта сайта</a><a href="/">Политика конфиденциальности</a></div>
                    <div class="dev">Создание сайта: <a href="/">WebGK</a></div>
                    <div class="lang"><a href="/"><img src="img/rectangle-3-copy-2@2x.png"></a></div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="js/jquery-3.4.1.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/validator.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/maskInput.js"></script>
<script src="js/jquery.mCustomScrollbar.js"></script>
<script src="js/select2.full.js"></script>
<!--<script src="js/jquery.mask.min.js"></script>-->
<script src="js/base.js"></script>
</body>
</html>