<header>
    <div class="container-fluid">
        <div class="row top">
            <div class="col top-navs">
                <div class="burger">
                    <button class="hamburger hamburger--slider"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button>
                </div>
                <div class="logo"><a href="/"><img src="img/logo.png"></a></div>
                <div class="buttons">
                    <button><img src="img/group-copy-2.svg"></button>
                    <button><img src="img/search-grey-copy-2.svg"></button>
                </div>
                <div class="phone">
                    <tel>+7&nbsp;495&nbsp;518-96-80</tel>
                </div>
                <div class="langs"><a href="/"><img src="img/lang_ru.svg"></a></div>
            </div>
        </div>
        <nav class="row mob">
            <div class="col"><a href="catalog.html">Каталог</a>
                <div class="more"><img class="down" src="img/arrow_down.svg"><img class="up" src="img/arrow_up.svg"></div>
                <div class="submenu">
                    <div class="submenu-item"><a href="index.html">Мероприятия и&nbsp;новости</a></div>
                    <div class="submenu-item"><a href="index.html">Курсы</a></div>
                    <div class="submenu-item"><a href="index.html">Сертификация и&nbsp;аккредитация</a></div>
                    <div class="submenu-item"><a href="index.html">Библиотека ресурсов</a></div>
                    <div class="submenu-item"><a href="index.html">Бизнес-решения</a></div>
                    <div class="submenu-item"><a href="index.html">Дизайнерские решения</a></div>
                </div>
            </div>
            <div class="col"><a href="academy.html">Академия</a>
                <div class="more"><img class="down" src="img/arrow_down.svg"><img class="up" src="img/arrow_up.svg"></div>
                <div class="submenu">
                    <div class="submenu-item"><a href="index.html">Мероприятия и&nbsp;новости</a></div>
                    <div class="submenu-item"><a href="index.html">Курсы</a></div>
                    <div class="submenu-item"><a href="index.html">Сертификация и&nbsp;аккредитация</a></div>
                    <div class="submenu-item"><a href="index.html">Библиотека ресурсов</a></div>
                    <div class="submenu-item"><a href="index.html">Бизнес-решения</a></div>
                    <div class="submenu-item"><a href="index.html">Дизайнерские решения</a></div>
                </div>
            </div>
            <div class="col"><a href="partners.html">Партнёры</a>
                <div class="more"><img class="down" src="img/arrow_down.svg"><img class="up" src="img/arrow_up.svg"></div>
                <div class="submenu">
                    <div class="submenu-item"><a href="index.html">Мероприятия и&nbsp;новости</a></div>
                    <div class="submenu-item"><a href="index.html">Курсы</a></div>
                    <div class="submenu-item"><a href="index.html">Сертификация и&nbsp;аккредитация</a></div>
                    <div class="submenu-item"><a href="index.html">Библиотека ресурсов</a></div>
                    <div class="submenu-item"><a href="index.html">Бизнес-решения</a></div>
                    <div class="submenu-item"><a href="index.html">Дизайнерские решения</a></div>
                </div>
            </div>
            <div class="col"><a href="community.html">Сообщество</a>
                <div class="more"><img class="down" src="img/arrow_down.svg"><img class="up" src="img/arrow_up.svg"></div>
                <div class="submenu">
                    <div class="submenu-item"><a href="index.html">Мероприятия и&nbsp;новости</a></div>
                    <div class="submenu-item"><a href="index.html">Курсы</a></div>
                    <div class="submenu-item"><a href="index.html">Сертификация и&nbsp;аккредитация</a></div>
                    <div class="submenu-item"><a href="index.html">Библиотека ресурсов</a></div>
                    <div class="submenu-item"><a href="index.html">Бизнес-решения</a></div>
                    <div class="submenu-item"><a href="index.html">Дизайнерские решения</a></div>
                </div>
            </div>
        </nav>
    </div>
</header>