<header class="header">
    <div class="container-fluid">
        <div class="row top">
            <div class="col top-navs">
                <div class="burger">
                    <button class="hamburger hamburger--slider"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button>
                </div>
                <div class="logo"><a href="/"><img src="img/logo.png"></a></div>
                <div class="buttons">
                    <button><img src="img/group-copy-2.svg"></button>
                    <button><img src="img/search-grey-copy-2.svg"></button>
                </div>
                <div class="phone">
                    <tel>+7&nbsp;495&nbsp;518-96-80</tel>
                </div>
                <div class="langs"><a href="/"><img src="img/lang_ru.svg"></a></div>
            </div>
        </div>
        <nav class="row mob">
            <div class="col"><a href="catalog.html">Каталог</a>
                <div class="more"><img class="down" src="img/arrow_down.svg"><img class="up" src="img/arrow_up.svg"></div>
                <div class="submenu">
                    <div class="submenu-item"><a href="index.html">Мероприятия и&nbsp;новости</a></div>
                    <div class="submenu-item"><a href="index.html">Курсы</a></div>
                    <div class="submenu-item"><a href="index.html">Сертификация и&nbsp;аккредитация</a></div>
                    <div class="submenu-item"><a href="index.html">Библиотека ресурсов</a></div>
                    <div class="submenu-item"><a href="index.html">Бизнес-решения</a></div>
                    <div class="submenu-item"><a href="index.html">Дизайнерские решения</a></div>
                </div>
            </div>
            <div class="col"><a href="academy.html">Академия</a>
                <div class="more"><img class="down" src="img/arrow_down.svg"><img class="up" src="img/arrow_up.svg"></div>
                <div class="submenu">
                    <div class="submenu-item"><a href="index.html">Мероприятия и&nbsp;новости</a></div>
                    <div class="submenu-item"><a href="index.html">Курсы</a></div>
                    <div class="submenu-item"><a href="index.html">Сертификация и&nbsp;аккредитация</a></div>
                    <div class="submenu-item"><a href="index.html">Библиотека ресурсов</a></div>
                    <div class="submenu-item"><a href="index.html">Бизнес-решения</a></div>
                    <div class="submenu-item"><a href="index.html">Дизайнерские решения</a></div>
                </div>
            </div>
            <div class="col"><a href="partners.html">Партнёры</a>
                <div class="more"><img class="down" src="img/arrow_down.svg"><img class="up" src="img/arrow_up.svg"></div>
                <div class="submenu">
                    <div class="submenu-item"><a href="index.html">Мероприятия и&nbsp;новости</a></div>
                    <div class="submenu-item"><a href="index.html">Курсы</a></div>
                    <div class="submenu-item"><a href="index.html">Сертификация и&nbsp;аккредитация</a></div>
                    <div class="submenu-item"><a href="index.html">Библиотека ресурсов</a></div>
                    <div class="submenu-item"><a href="index.html">Бизнес-решения</a></div>
                    <div class="submenu-item"><a href="index.html">Дизайнерские решения</a></div>
                </div>
            </div>
            <div class="col"><a href="community.html">Сообщество</a>
                <div class="more"><img class="down" src="img/arrow_down.svg"><img class="up" src="img/arrow_up.svg"></div>
                <div class="submenu">
                    <div class="submenu-item"><a href="index.html">Мероприятия и&nbsp;новости</a></div>
                    <div class="submenu-item"><a href="index.html">Курсы</a></div>
                    <div class="submenu-item"><a href="index.html">Сертификация и&nbsp;аккредитация</a></div>
                    <div class="submenu-item"><a href="index.html">Библиотека ресурсов</a></div>
                    <div class="submenu-item"><a href="index.html">Бизнес-решения</a></div>
                    <div class="submenu-item"><a href="index.html">Дизайнерские решения</a></div>
                </div>
            </div>
        </nav>
        <div class="desktop">
            <div class="row">
                <div class="col-12 col-md-3">
                    <ul>
                        <li class="title"><a href="about.html">Каталог</a></li>
                        <li><a href="family.html">Пеналы</a></li>
                        <li><a href="/">Аксесуары</a></li>
                        <li><a href="/">Сервисы и&nbsp;услуги</a></li>
                        <li><a href="/">Товары совместимые с Eclisse</a></li>
                    </ul>
                </div>
                <div class="col-12 col-md-3">
                    <ul>
                        <li class="title"><a href="partners.html">Академия</a></li>
                        <li><a href="#">Мароприятия и новости</a></li>
                        <li><a href="#">Курсы</a></li>
                        <li><a href="#">Сертификация и аккредитация</a></li>
                        <li><a href="#">Библиотека ресурсов</a></li>
                        <li><a href="#">Бизнес решения</a></li>
                        <li><a href="#">Дизайнерские решения</a></li>
                    </ul>
                </div>
                <div class="col-12 col-md-3">
                    <ul>
                        <li class="title"><a href="community.html">Для партнеров</a></li>
                        <li><a href="family.html">Дистрибюторам</a></li>
                        <li><a href="/">Диллерам</a></li>
                        <li><a href="/">Дизайнерам</a></li>
                        <li><a href="/">Профессионалам</a></li>
                        <li><a href="/">Карта партнеров</a></li>
                    </ul>
                </div>
                <div class="col-12 col-md-3">
                    <ul>
                        <li class="title"><a href="catalog.html">Сообщество</a></li>
                        <li><a href="/">Новости</a></li>
                        <li><a href="/">Истории</a></li>
                        <li><a href="/">Работы</a></li>
                        <li><a href="/">Конкурс работ и историй</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-3">
                    <ul>
                        <li class="title"><a href="academy.html">О компании</a></li>
                        <li><a href="/">Семья Eclisse</a></li>
                        <li><a href="/">Значение и роль ТДВ</a></li>
                        <li><a href="/">Эксклюзивные отношения</a></li>
                        <li><a href="/">Сервисы и услуги</a></li>
                        <li><a href="/">Контакты</a></li>
                    </ul>
                </div>
                <div class="col-12 col-md-3">
                    <ul>
                        <li class="title"><a href="support.html">Поддержка</a></li>
                        <li><a href="/">FAQ</a></li>
                        <li><a href="/">Полезные ссылки</a></li>
                        <li><a href="/">Техническая поддержка</a></li>
                        <li><a href="/">Инструкции по&nbsp;сборке</a></li>
                        <li><a href="/">Гарантийные условия</a></li>
                        <li><a href="/">Конфигуратор подбора</a></li>
                    </ul>
                </div>
                <div class="col-12 col-lg-6 subscribe mob">
                    <h4 class="title">
                        Подпишитесь на&nbsp;рассылку новостей</h4>
                    <form>
                        <div class="input_field input">
                            <input class="fluid" required type="email" placeholder="Эл. почта">
                        </div>
                        <div class="input_field label">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" required><span class="cr"><i class="cr-icon fas fa-check"></i></span>Я&nbsp;даю согласие на&nbsp;обработку своих данных
                                </label>
                            </div>
                        </div>
                        <div class="input_field submit">
                            <button class="float_right" type="submit">Отправить</button>
                        </div>
                    </form>
                    <div class="contacts">
                        <div class="phone"><a class="tel">+7&nbsp;495&nbsp;518-96-80</a></div>
                        <div class="mail"><a href="mailto:info@eclisse24.ru">info@eclisse24.ru</a></div>
                    </div>
                    <h4 class="title socials">Мы&nbsp;в&nbsp;соц. сетях<a href="/"><img src="img/ico_fb.png"></a><a href="/"><img src="img/ico_tw.png"></a><a href="/"><img src="img/ico_inst.png"></a></h4>
                </div>
            </div>
            <div class="row bottom mob">
                <div class="col-12 col-lg-6 mob">
                    <p>&copy; 2018, ООО&nbsp;ТДВ. Все права защищены.</p>
                </div>
                <div class="col-12 col-lg-6 mob">
                    <div class="footer_link">
                        <div class="link"><a href="/">Карта сайта</a><a href="/">Политика конфиденциальности</a></div>
                        <div class="dev">Создание сайта: <a href="/">WebGK</a></div>
                        <div class="lang"><a href="/"><img src="img/rectangle-3-copy-2@2x.png"></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>