//= parts/head.html
//= parts/header.html
<div class="av-family__title" style="background-image: url('img/academy-back.jpg');">
    <section class="container av-breadcrumbs av-breadcrumbs--gray">
        <a href="#">Главная</a>
        <span>Академия</span>
    </section>
    <section class="container-fluid av-family">
        <h2>Академия Eclisse</h2>
        <p>На сегодняшний день Eclisse представляет собой известный бренд, лидер индустрии, включающий 10 дочерних компаний, более чем 30 представительств и тысячи дистрибьютеров.</p>
    </section>
    <a href="#" class="av-family__more">
        <img src="img/arrow_down.svg" alt="">
    </a>
</div>

<div class="av-family__tabs-wrap">
    <section class="container-fluid av-family__tabs">
        <a href="#about">Академия</a>
        <a href="#course">События</a>
        <a href="#certificate">Сертификация</a>
        <a href="#library">Библиотека</a>
        <a href="#design">Решения <!--<img src="img/arrow_down-black.svg" alt="">--></a>
    </section>
</div>
<section class="container-fluid p-0">
    <h2 id="about" class="h2">О нашей академии</h2>
</section>
<section class="container-fluid av-product p-0">
    <div class="av-product__content active m-0">
        <div class="row m-0 av-product__no-arrow">
            <div class=" col-12 col-lg-6 p-0 d-flex flex-column align-items-center">
                <div class="av-product__photo">
                    <img class="av-product__photo" src="img/template-slider.jpg" alt="">
                </div>

            </div>
            <div class="col-white col-12 col-lg-6 p-0 d-flex justify-content-center align-items-center">
                <div class="av-product__about">
                    <div class="av-product__about-title">Миссия</div>
                    Пеналом принято называть специальный короб, монтируемый в стену, куда задвигается перегородка. Таким образом, дверное полотно не распахивается, а скрывается в коробе.
                </div>
            </div>
        </div>
        <div class="row flex-row-reverse m-0 av-product__no-arrow">
            <div class=" col-12 col-lg-6 p-0 d-flex flex-column align-items-center">
                <div class="av-product__photo">
                    <img class="av-product__photo" src="img/about-img_02.jpg" alt="">
                </div>
            </div>
            <div class="col-white col-12 col-lg-6 p-0 d-flex justify-content-center align-items-center">
                <div class="av-product__about">
                    <div class="av-product__about-title">Цель</div>
                    Пеналом принято называть специальный короб, монтируемый в стену, куда задвигается перегородка. Таким образом, дверное полотно не распахивается, а скрывается в коробе.
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid p-0">
    <h2 id="course" class="h2">Мероприятия и курсы</h2>
</section>
<section class="container-fluid av-product av-course p-0">
    <div class="av-product__content active m-0">
        <div class="row av-product--max-height-140 m-0">
            <div class="col-12 col-lg-6 p-0">
                <a href="#" class="row m-0">
                    <div class="col-6 d-flex flex-column justify-content-between align-items-center">
                        <div class="av-product__type align-self-start">01.11</div>
                        <div class="av-product__img">
                            <img src="img/course-img_01.jpg" alt="">
                        </div>

                    </div>
                    <div class="col-6 d-flex justify-content-center align-items-center">
                        <div class="av-product__name">
                            Курс проектирования
                            <span>Приглашаем всех желающих
                        посетить наш обучающий курс
                        по проектированию.</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-lg-6 p-0">
                <a href="#" class="row m-0">
                    <div class="col-6 d-flex flex-column justify-content-between align-items-center">
                        <div class="av-product__type align-self-start">02.11</div>
                        <div class="av-product__img">
                            <img src="img/course-img_02.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-6 d-flex justify-content-center align-items-center">
                        <div class="av-product__name">Семинар по увеличению продаж</div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-lg-6 p-0">
                <a href="#" class="row m-0">
                    <div class="col-6 d-flex flex-column justify-content-between align-items-center">
                        <div class="av-product__type align-self-start">18.01</div>
                        <div class="av-product__img">
                            <img src="img/course-img_02.jpg" alt="">
                        </div>

                    </div>
                    <div class="col-6 d-flex justify-content-center align-items-center">
                        <div class="av-product__name">Участие в международной выставке</div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-lg-6 p-0">
                <a href="#" class="row m-0">
                    <div class="col-6 d-flex flex-column justify-content-between align-items-center">
                        <div class="av-product__type align-self-start">01.01</div>
                        <div class="av-product__img">
                            <img src="img/course-img_01.jpg">
                        </div>

                    </div>
                    <div class="col-6 d-flex justify-content-center align-items-center">
                        <div class="av-product__name">Приглашаем к нам на экскурсию</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<div class="border-bottom">
    <section class="container-fluid p-0">
        <div class="btn-wrap">
            <a href="#" class="btn btn-default">Показать ещё</a>
        </div>
    </section>
</div>
<section class="container-fluid p-0">
    <h2 id="certificate" class="h2">Сертификация и аккредитация</h2>
</section>
<section class="container-fluid av-product p-0">
    <div class="av-product__content active m-0">
        <div class="row m-0 av-product__no-arrow">
            <div class=" col-12 col-lg-6 p-0 d-flex flex-column align-items-center">
                <div class="av-product__photo">
                    <img class="av-product__photo" src="img/certificate-img_01.jpg" alt="">
                </div>

            </div>
            <div class="col-white col-12 col-lg-6 p-0 d-flex justify-content-center align-items-center">
                <div class="av-product__about">
                    <div class="av-product__about-title">Сертификат</div>
                    Пеналом принято называть специальный короб, монтируемый в стену, куда задвигается перегородка. Таким образом, дверное полотно не распахивается, а скрывается в коробе.
                </div>
            </div>
        </div>
        <div class="row flex-row-reverse m-0 av-product__no-arrow">
            <div class=" col-12 col-lg-6 p-0 d-flex flex-column align-items-center">
                <div class="av-product__photo">
                    <img class="av-product__photo" src="img/certificate-img_02.jpg" alt="">
                </div>
            </div>
            <div class="col-white col-12 col-lg-6 p-0 d-flex justify-content-center align-items-center">
                <div class="av-product__about">
                    <div class="av-product__about-title">Аккредитация</div>
                    Пеналом принято называть специальный короб, монтируемый в стену, куда задвигается перегородка. Таким образом, дверное полотно не распахивается, а скрывается в коробе.
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid p-0">
    <h2 id="business" class="h2">Решения для бизнеса</h2>
</section>
<section class="container-fluid av-product av-course p-0">
    <div class="av-product__content active m-0">
        <div class="row av-product--max-height-140 m-0">
            <div class="col-12 col-lg-6 p-0">
                <a href="#" class="row m-0">
                    <div class="col-6 d-flex flex-column justify-content-between align-items-center">
                        <div class="av-product__img">
                            <img src="img/business-img_01.jpg" alt="">
                        </div>

                    </div>
                    <div class="col-6 d-flex justify-content-center align-items-center">
                        <div class="av-product__name">Для малых компаний</div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-lg-6 p-0">
                <a href="#" class="row m-0">
                    <div class="col-6 d-flex flex-column justify-content-between align-items-center">
                        <div class="av-product__img">
                            <img src="img/business-img_02.jpg">
                        </div>

                    </div>
                    <div class="col-6 d-flex justify-content-center align-items-center">
                        <div class="av-product__name">Для среднего и крупного бизнеса</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid p-0">
    <h2 id="professional" class="h2">Решения для профессионалов</h2>
</section>
<section class="container-fluid av-product av-course p-0">
    <div class="av-product__content active m-0">
        <div class="row av-product--max-height-140 m-0">
            <div class="col-12 col-lg-6 p-0">
                <a href="#" class="row m-0">
                    <div class="col-6 d-flex flex-column justify-content-between align-items-center">
                        <div class="av-product__img">
                            <img src="img/business-img_01.jpg" alt="">
                        </div>

                    </div>
                    <div class="col-6 d-flex justify-content-center align-items-center">
                        <div class="av-product__name">Готовые кейсы для строителей</div>
                    </div>
                </a>
        </div>
            <div class="col-12 col-lg-6 p-0">
                <a href="#" class="row m-0">
                    <div class="col-6 d-flex flex-column justify-content-between align-items-center">
                        <div class="av-product__img">
                            <img src="img/business-img_02.jpg">
                        </div>

                    </div>
                    <div class="col-6 d-flex justify-content-center align-items-center">
                        <div class="av-product__name">Для проектировщиков</div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-lg-6 p-0">
                <a href="#" class="row m-0">
                    <div class="col-6 d-flex flex-column justify-content-between align-items-center">
                        <div class="av-product__img">
                            <img src="img/business-img_02.jpg" alt="">
                        </div>

                    </div>
                    <div class="col-6 d-flex justify-content-center align-items-center">
                        <div class="av-product__name">Готовые проекты</div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-lg-6 p-0">
                <a href="#" class="row m-0">
                    <div class="col-6 d-flex flex-column justify-content-between align-items-center">
                        <div class="av-product__img">
                            <img src="img/business-img_01.jpg">
                        </div>

                    </div>
                    <div class="col-6 d-flex justify-content-center align-items-center">
                        <div class="av-product__name">Решения для всех</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<div class="border-bottom">
    <section class="container-fluid p-0">
        <div class="btn-wrap">
            <a href="#" class="btn btn-default">Показать ещё</a>
        </div>
    </section>
</div>
<section class="container-fluid p-0">
    <h2 id="library" class="h2">Библиотека ресурсов</h2>
</section>
<section class="container-fluid av-product av-library p-0">
    <div class="av-product__content active m-0">
        <div class="row m-0">
            <div class="col-12 col-lg-6 p-0">
                <a href="#" class="row m-0">
                    <div class="col-6 d-flex flex-column justify-content-between align-items-center">
                        <div class="av-library__file">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 44">
                                <g fill="none" fill-rule="evenodd">
                                    <g class="ico-hover" fill="#0050AD">
                                        <path d="M8 .008V.002l8.307.002L20 .002v.003L44.01.01C46.21.01 48 1.8 48 4v28.012c0 2.2-1.79 3.992-3.99 3.992H3.99c-2.2 0-3.99-1.792-3.99-3.992V4C0 1.8 1.79.01 3.99.01L8 .008zm8.307 1.995L3.99 2.008C2.892 2.008 2 2.902 2 4v28.012c0 1.098.892 1.992 1.99 1.992h40.02c1.098 0 1.99-.894 1.99-1.992V4a1.993 1.993 0 0 0-1.99-1.992l-27.703-.005z"/>
                                        <path d="M23 35h2v8h-2z"/>
                                        <path d="M15 42h18v2H15z"/>
                                    </g>
                                    <circle cx="16" cy="18" r="2" fill="#FFB200"/>
                                    <circle cx="24" cy="18" r="2" fill="#FFB200"/>
                                    <circle cx="32" cy="18" r="2" fill="#FFB200"/>
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="col-6 d-flex justify-content-center align-items-center">
                        <div class="av-product__name">Решения для сайтов</div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-lg-6 p-0">
                <a href="#" class="row m-0">
                    <div class="col-6 d-flex flex-column justify-content-between align-items-center">
                        <div class="av-library__file">
                            <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 48 48">
                                <g fill="none" fill-rule="evenodd" transform="translate(0 -1)">
                                    <path class="ico-hover" fill="#0050AD" d="M0 47h48v2H0z"/>
                                    <path fill="#FFB200" d="M14 21h2v20h-2zM20 21h2v20h-2zM26 21h2v20h-2zM32 21h2v20h-2zM38 21h2v20h-2zM8 21h2v20H8z"/>
                                    <path class="ico-hover" fill="#0050AD" fill-rule="nonzero" d="M46.446 15H1.554c-.728 0-1.35-.49-1.514-1.19-.16-.69.176-1.394.82-1.71L22.842 1.268a2.627 2.627 0 0 1 2.314 0L47.14 12.1c.642.318.98 1.02.82 1.712A1.544 1.544 0 0 1 46.446 15zM3.558 13h40.884l-20.17-9.936a.612.612 0 0 0-.544 0L3.558 13z"/>
                                    <circle cx="24" cy="9" r="2" fill="#FFB200"/>
                                    <path class="ico-hover"fill="#0050AD" d="M4 43h40v2H4zM4 17h40v2H4z"/>
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="col-6 d-flex justify-content-center align-items-center">
                        <div class="av-product__name">Решения для выставочных залов</div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-lg-6 p-0">
                <a href="#" class="row m-0">
                    <div class="col-6 d-flex flex-column justify-content-between align-items-center">
                        <div class="av-library__file">
                            <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 48 48">
                                <g fill="none" fill-rule="evenodd">
                                    <circle cx="8" cy="8" r="2" fill="#FFB200"/>
                                    <circle cx="40" cy="8" r="2" fill="#FFB200"/>
                                    <path class="ico-hover" fill="#0050AD" fill-rule="nonzero" d="M40 16c-4.412 0-8-3.588-8-8H16c0 4.412-3.588 8-8 8s-8-3.588-8-8 3.588-8 8-8h32c4.412 0 8 3.588 8 8s-3.588 8-8 8zM14.9 6h18.202l.988 1.146c-.048.328-.09.586-.09.854 0 3.308 2.692 6 6 6s6-2.692 6-6-2.692-6-6-6H8C4.692 2 2 4.692 2 8s2.692 6 6 6 6-2.692 6-6c0-.256-.04-.502-.074-.748L14.9 6z"/>
                                    <path class="ico-hover" fill="#0050AD" d="M40 48h-2V16H10v32H8V15l1-1h30l1 1z"/>
                                    <path class="ico-hover" fill="#0050AD" d="M6 20h36v2H6z"/>
                                    <path fill="#FFB200" d="M14 26h2v22h-2zM20 26h2v22h-2zM26 26h2v22h-2zM32 26h2v22h-2z"/>
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="col-6 d-flex justify-content-center align-items-center">
                        <div class="av-product__name">Решения для выставок</div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-lg-6 p-0">
                <a href="#" class="row m-0">
                    <div class="col-6 d-flex flex-column justify-content-between align-items-center">
                        <div class="av-library__file">
                            <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 48 48">
                                <g fill="none" fill-rule="evenodd">
                                    <path class="ico-hover" fill="#0050AD" fill-rule="nonzero" d="M2.864 46.29l-1.152-1.152 2.044-12.204a4.537 4.537 0 0 1 1.232-2.298L33.062 2.562c3.41-3.41 8.964-3.41 12.376 0 3.41 3.412 3.41 8.964 0 12.376L17.366 43.01a4.508 4.508 0 0 1-2.256 1.226L2.864 46.29zM39.25 2.002a6.732 6.732 0 0 0-4.774 1.974L6.404 32.048a2.514 2.514 0 0 0-.682 1.258L3.916 44.084l10.818-1.812c.436-.094.872-.33 1.216-.676l28.074-28.072a6.761 6.761 0 0 0 0-9.546l.708-.708-.708.706a6.74 6.74 0 0 0-4.774-1.974z"/>
                                    <path class="ico-hover" fill="#0050AD" d="M14.942 42.896l-.32-.948c-1.244-3.688-4.706-6.998-8.614-8.238h-.08l-.988-.148.298-1.978 1.222.186c4.64 1.458 8.62 5.28 10.056 9.54l.32.948-1.894.638zM41.412 16.426l-.318-.948C39.85 11.79 36.388 8.48 32.48 7.24l-.088-.002-.988-.156.312-1.976 1.224.194c4.63 1.456 8.612 5.276 10.048 9.54l.32.948-1.896.638z"/>
                                    <g fill="#FFB200">
                                        <path d="M8.434 21.046L.998 13.608a3.408 3.408 0 0 1 0-4.812l7.8-7.8a3.406 3.406 0 0 1 4.812 0l7.438 7.438-1.416 1.414-7.438-7.436a1.404 1.404 0 0 0-1.984 0l-7.8 7.8a1.406 1.406 0 0 0 0 1.984l7.438 7.438-1.414 1.412zM36.796 47.998c-.872 0-1.742-.33-2.406-.994l-7.438-7.438 1.414-1.414 7.438 7.438a1.406 1.406 0 0 0 1.984 0l7.8-7.8a1.406 1.406 0 0 0 0-1.984l-7.438-7.438 1.414-1.414 7.438 7.438a3.408 3.408 0 0 1 0 4.812l-7.8 7.8a3.386 3.386 0 0 1-2.406.994z"/>
                                    </g>
                                    <path fill="#FFB200" d="M7.252 19.4l6.015-6.015 1.414 1.415-6.014 6.014zM27.185 39.333l3.48-3.48 1.414 1.414-3.48 3.48zM2.652 15.033l3.48-3.48 1.415 1.414-3.48 3.48zM31.786 43.933l6.015-6.014 1.414 1.414-6.015 6.015z"/>
                                    <path class="ico-hover" fill="#0050AD" d="M.008 46.582l2.694-2.692 1.414 1.415-2.694 2.692z"/>
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="col-6 d-flex justify-content-center align-items-center">
                        <div class="av-product__name">Решения для дизайнеров</div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-lg-6 p-0">
                <a href="#" class="row m-0">
                    <div class="col-6 d-flex flex-column justify-content-between align-items-center">
                        <div class="av-library__file">
                            <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 48 44">
                                <g fill="none" fill-rule="evenodd">
                                    <path class="ico-hover" fill="#0050AD" fill-rule="nonzero" d="M43.998 44H4.002A4.005 4.005 0 0 1 0 39.998V12.002A4.005 4.005 0 0 1 4.002 8h39.996A4.005 4.005 0 0 1 48 12.002v27.996A4.005 4.005 0 0 1 43.998 44zM4.002 10A2.004 2.004 0 0 0 2 12.002v27.996C2 41.102 2.898 42 4.002 42h39.996A2.004 2.004 0 0 0 46 39.998V12.002A2.004 2.004 0 0 0 43.998 10H4.002z"/>
                                    <path class="ico-hover" fill="#0050AD" d="M28 26h19v2H28zM1 26h19v2H1zM34 9.334h-2v-6.34A.995.995 0 0 0 31.008 2H16.992a.994.994 0 0 0-.992.992v6.34h-2v-6.34A2.995 2.995 0 0 1 16.992 0h14.016A2.995 2.995 0 0 1 34 2.992v6.342z"/>
                                    <path fill="#FFB200" fill-rule="nonzero" d="M27.992 32h-7.984A2.01 2.01 0 0 1 18 29.992v-5.984A2.01 2.01 0 0 1 20.008 22h7.984C29.1 22 30 22.9 30 24.008v5.984A2.01 2.01 0 0 1 27.992 32zm-7.984-8L20 29.992l7.992.008h.002L28 24.008 20.008 24z"/>
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="col-6 d-flex justify-content-center align-items-center">
                        <div class="av-product__name">Решения для профессионалов</div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-lg-6 p-0">
                <a href="#" class="row m-0">
                    <div class="col-6 d-flex flex-column justify-content-between align-items-center">
                        <div class="av-library__file">
                            <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 48 40">
                                <g fill="none" fill-rule="evenodd">
                                    <path fill="#FFB200" d="M17.562 23.414L16.148 22l4-4H9v-2h13.562l.708 1.708z"/>
                                    <path fill="#FFB200" d="M16.147 12l1.414-1.414 6.414 6.413-1.414 1.414z"/>
                                    <path class="ico-hover" fill="#0050AD" fill-rule="nonzero" d="M12 40c-3.308 0-6-2.692-6-6s2.692-6 6-6 6 2.692 6 6-2.692 6-6 6zm0-10c-2.206 0-4 1.794-4 4s1.794 4 4 4 4-1.794 4-4-1.794-4-4-4zM36 40c-3.308 0-6-2.692-6-6s2.692-6 6-6 6 2.692 6 6-2.692 6-6 6zm0-10c-2.206 0-4 1.794-4 4s1.794 4 4 4 4-1.794 4-4-1.794-4-4-4z"/>
                                    <path class="ico-hover" fill="#0050AD" d="M44 34h-3.1v-2H44a2 2 0 0 0 2-2v-7.024c0-.508-.104-1-.31-1.462L43.3 16.14A3.602 3.602 0 0 0 40.008 14H32v-2h8.008a5.612 5.612 0 0 1 5.122 3.328l2.388 5.374c.32.72.482 1.486.482 2.276V30c0 2.206-1.794 4-4 4zM31 34H17v-2h13V3.992A1.995 1.995 0 0 0 28.008 2H3.992A1.995 1.995 0 0 0 2 3.992V32h5.13v2H1l-1-1V3.992C0 1.792 1.792 0 3.992 0h24.016C30.208 0 32 1.792 32 3.992V33l-1 1z"/>
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="col-6 d-flex justify-content-center align-items-center">
                        <div class="av-product__name">Логистическая информация</div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-lg-6 p-0">
                <a href="#" class="row m-0">
                    <div class="col-6 d-flex flex-column justify-content-between align-items-center">
                        <div class="av-library__file">
                            <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 40 48">
                                <g fill="none" fill-rule="evenodd">
                                    <path fill="#FFB200" d="M20.708 32.108h-1.416L12.586 25.4 14 23.986l6 6 6-6 1.414 1.414z"/>
                                    <path fill="#FFB200" d="M19 18h2v12h-2zM12 36h16v2H12z"/>
                                    <path class="ico-hover" fill="#0050AD" d="M10.996 14H4v-2h6.996C11.55 12 12 11.55 12 10.996V4h2v6.996A3.008 3.008 0 0 1 10.996 14z"/>
                                    <path class="ico-hover" fill="#0050AD" fill-rule="nonzero" d="M36 48H4c-2.206 0-4-1.794-4-4V10.992l.292-.708L10.284.292 10.992 0H36c2.206 0 4 1.794 4 4v40c0 2.206-1.794 4-4 4zM2 11.406V44c0 1.104.898 2 2 2h32a2 2 0 0 0 2-2V4c0-1.102-.896-2-2-2H11.406L2 11.406z"/>
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="col-6 d-flex justify-content-center align-items-center">
                        <div class="av-product__name">Документация</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid">
    <h2 id="design" class="h2">Дизайнерские решения</h2>
</section>
<section class="container-fluid av-works p-0">
    <div class="row m-0">
        <div class="col-6 col-lg-3 p-0">
            <a href="" class="av-works__item">
                <img src="img/works/works_01.jpg" alt="">
            </a>
        </div>
        <div class="col-6 col-lg-3 p-0">
            <a href="" class="av-works__item">
                <img src="img/works/works_02.jpg" alt="">
            </a>
        </div>
        <div class="col-6 col-lg-3 p-0">
            <a href="" class="av-works__item">
                <img src="img/works/works_03.jpg" alt="">
            </a>
        </div>
        <div class="col-6 col-lg-3 p-0">
            <a href="" class="av-works__item">
                <img src="img/works/works_04.jpg" alt="">
            </a>
        </div>
        <div class="col-6 col-lg-3 p-0">
            <a href="" class="av-works__item">
                <img src="img/works/works_05.jpg" alt="">
            </a>
        </div>
        <div class="col-6 col-lg-3 p-0">
            <a href="" class="av-works__item">
                <img src="img/works/works_06.jpg" alt="">
            </a>
        </div>
        <div class="col-6 col-lg-3 p-0">
            <a href="" class="av-works__item">
                <img src="img/works/works_07.jpg" alt="">
            </a>
        </div>
        <div class="col-6 col-lg-3 p-0">
            <a href="" class="av-works__item">
                <img src="img/works/works_08.jpg" alt="">
            </a>
        </div>
    </div>
</section>
</main>
//= parts/footer.html