//= parts/head.html
//= parts/header.html
<main>
    <section class="container av-breadcrumbs">
        <a href="#">Главная</a>
        <a href="#">Каталог</a>
        <a href="#">Товар</a>
        <span>Последний</span>
    </section>
    <section class="container">
        <h1>Каталог продукции</h1>
        <div class="av-href">
            <a class="link_border or" href="#">Конфигуратор</a>
        </div>
    </section>
    <section class="container-fluid av-info">
        <div class="row">
            <div class="col-12 col-md-6 av-info__image" style="background-image: url('img/bitmap_9.jpg')"></div>
            <div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
                <div class="av-info__text">
                    <h3 class="h3"> Пеналы </h3>
                    <p>Пеналом принято называть специальный короб, монтируемый в стену, куда задвигается перегородка. Таким образом, дверное полотно не распахивается, а скрывается в коробе.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="container-fluid av-list">
        <div class="row">
            <div class="col-6 col-lg-3 p-0">
                <div class="av-list-item">
                    <div class="av-list-item__top">
                        <div class="av-list-item__img">
                            <img src="img/catalog/bitmap_01.png" alt="">
                        </div>
                        <div class="av-list-item__text">
                            <p>Пенал SYNTESIS LUCE для одностворчатой двери дополняет минималистический дизайн пенала SYNTESIS широкими возможностями пенала LUCE.</p>
                        </div>
                    </div>
                    <a href="#" class="av-list-item__bot">
                        <p>Unico</p>
                    </a>
                </div>
            </div>
            <div class="col-6 col-lg-3 p-0">
                <div class="av-list-item">
                    <div class="av-list-item__top">
                        <div class="av-list-item__img">
                            <img src="img/catalog/bitmap_02.png" alt="">
                        </div>
                        <div class="av-list-item__text">
                            <p>Пенал SYNTESIS LUCE для одностворчатой двери дополняет минималистический дизайн пенала SYNTESIS широкими возможностями пенала LUCE.</p>
                        </div>
                    </div>
                    <a href="#" class="av-list-item__bot">
                        <p>Unico Double</p>
                    </a>
                </div>
            </div>
            <div class="col-6 col-lg-3 p-0">
                <div class="av-list-item">
                    <div class="av-list-item__top">
                        <div class="av-list-item__img">
                            <img src="img/catalog/bitmap_03.png" alt="">
                        </div>
                        <div class="av-list-item__text">
                            <p>Пенал SYNTESIS LUCE для одностворчатой двери дополняет минималистический дизайн пенала SYNTESIS широкими возможностями пенала LUCE.</p>
                        </div>
                    </div>
                    <a href="#" class="av-list-item__bot">
                        <p>Luce</p>
                    </a>
                </div>
            </div>
            <div class="col-6 col-lg-3 p-0">
                <div class="av-list-item">
                    <div class="av-list-item__top">
                        <div class="av-list-item__img">
                            <img src="img/catalog/bitmap.jpg" alt="">
                        </div>
                        <div class="av-list-item__text">
                            <p>Пенал SYNTESIS LUCE для одностворчатой двери дополняет минималистический дизайн пенала SYNTESIS широкими возможностями пенала LUCE.</p>
                        </div>
                    </div>
                    <a href="#" class="av-list-item__bot">
                        <p>Luce Double</p>
                    </a>
                </div>
            </div>
            <div class="col-6 col-lg-3 p-0">
                <div class="av-list-item">
                    <div class="av-list-item__top">
                        <div class="av-list-item__img">
                            <img src="img/catalog/bitmap_05.png" alt="">
                        </div>
                        <div class="av-list-item__text">
                            <p>Пенал SYNTESIS LUCE для одностворчатой двери дополняет минималистический дизайн пенала SYNTESIS широкими возможностями пенала LUCE.</p>
                        </div>
                    </div>
                    <a href="#" class="av-list-item__bot">
                        <p>Syntesis Line</p>
                    </a>
                </div>
            </div>
            <div class="col-6 col-lg-3 p-0">
                <div class="av-list-item">
                    <div class="av-list-item__top">
                        <div class="av-list-item__img">
                            <img src="img/catalog/bitmap_06.png" alt="">
                        </div>
                        <div class="av-list-item__text">
                            <p>Пенал SYNTESIS LUCE для одностворчатой двери дополняет минималистический дизайн пенала SYNTESIS широкими возможностями пенала LUCE.</p>
                        </div>
                    </div>
                    <a href="#" class="av-list-item__bot">
                        <p>Syntesis Luce Double</p>
                    </a>
                </div>
            </div>
            <div class="col-6 col-lg-3 p-0">
                <div class="av-list-item">
                    <div class="av-list-item__top">
                        <div class="av-list-item__img">
                            <img src="img/catalog/bitmap_06.png" alt="">
                        </div>
                        <div class="av-list-item__text">
                            <p>Пенал SYNTESIS LUCE для одностворчатой двери дополняет минималистический дизайн пенала SYNTESIS широкими возможностями пенала LUCE.</p>
                        </div>
                    </div>
                    <a href="#" class="av-list-item__bot">
                        <p>Syntesis Line</p>
                    </a>
                </div>
            </div>
            <div class="col-6 col-lg-3 p-0">
                <div class="av-list-item">
                    <div class="av-list-item__top">
                        <div class="av-list-item__img">
                            <img src="img/catalog/bitmap.jpg" alt="">
                        </div>
                        <div class="av-list-item__text">
                            <p>Пенал SYNTESIS LUCE для одностворчатой двери дополняет минималистический дизайн пенала SYNTESIS широкими возможностями пенала LUCE.</p>
                        </div>
                    </div>
                    <a href="#" class="av-list-item__bot">
                        <p>Syntesis Line Double</p>
                    </a>
                </div>
            </div>
            <div class="col-6 col-lg-3 p-0">
                <div class="av-list-item">
                    <div class="av-list-item__top">
                        <div class="av-list-item__img">
                            <img src="img/catalog/bitmap_08.png" alt="">
                        </div>
                        <div class="av-list-item__text">
                            <p>Пенал SYNTESIS LUCE для одностворчатой двери дополняет минималистический дизайн пенала SYNTESIS широкими возможностями пенала LUCE.</p>
                        </div>
                    </div>
                    <a href="#" class="av-list-item__bot">
                        <p>Telescopica</p>
                    </a>
                </div>
            </div>
            <div class="col-6 col-lg-3 p-0">
                <div class="av-list-item">
                    <div class="av-list-item__top">
                        <div class="av-list-item__img">
                            <img src="img/catalog/bitmap_09.png" alt="">
                        </div>
                        <div class="av-list-item__text">
                            <p>Пенал SYNTESIS LUCE для одностворчатой двери дополняет минималистический дизайн пенала SYNTESIS широкими возможностями пенала LUCE.</p>
                        </div>
                    </div>
                    <a href="#" class="av-list-item__bot">
                        <p>Telescopica Double</p>
                    </a>
                </div>
            </div>
            <div class="col-6 col-lg-3 p-0">
                <div class="av-list-item">
                    <div class="av-list-item__top">
                        <div class="av-list-item__img">
                            <img src="img/catalog/bitmap_10.png" alt="">
                        </div>
                        <div class="av-list-item__text">
                            <p>Пенал SYNTESIS LUCE для одностворчатой двери дополняет минималистический дизайн пенала SYNTESIS широкими возможностями пенала LUCE.</p>
                        </div>
                    </div>
                    <a href="#" class="av-list-item__bot">
                        <p>Circular</p>
                    </a>
                </div>
            </div>
            <div class="col-6 col-lg-3 p-0">
                <div class="av-list-item">
                    <div class="av-list-item__top">
                        <div class="av-list-item__img">
                            <img src="img/catalog/bitmap_11.png" alt="">
                        </div>
                        <div class="av-list-item__text">
                            <p>Пенал SYNTESIS LUCE для одностворчатой двери дополняет минималистический дизайн пенала SYNTESIS широкими возможностями пенала LUCE.</p>
                        </div>
                    </div>
                    <a href="#" class="av-list-item__bot">
                        <p>Circular Double</p>
                    </a>
                </div>
            </div>

        </div>
    </section>
    <section class="container-fluid av-info">
        <div class="row">
            <div class="col-12 col-md-6 av-info__image" style="background-image: url('img/bitmap@2x_10.jpg')"></div>
            <div class="col-12 col-md-6 order-md-first  d-flex  align-items-center justify-content-center">
                <div class="av-info__text">
                    <h3 class="h3"> Аксессуары </h3>
                    <p>Для каждой системы необходимы дополнительные устройства, которые позволят настроить максимальный комфорт и удобство.</p>
                </div>
            </div>

        </div>
    </section>
    <section class="container-fluid av-list">
        <div class="row">
            <div class="col-6 col-lg-3 p-0">
                <div class="av-list-item">
                    <div class="av-list-item__top">
                        <div class="av-list-item__img">
                            <img src="img/acces/bitmap.jpg" alt="">
                        </div>
                        <div class="av-list-item__text">
                            <p>Пенал SYNTESIS LUCE для одностворчатой двери дополняет минималистический дизайн пенала SYNTESIS широкими возможностями пенала LUCE.</p>
                        </div>
                    </div>
                    <a href="#" class="av-list-item__bot">
                        <p>Доводчик Eclisse Bias DS</p>
                    </a>
                </div>
            </div>
            <div class="col-6 col-lg-3 p-0">
                <div class="av-list-item">
                    <div class="av-list-item__top">
                        <div class="av-list-item__img">
                            <img src="img/acces/bitmap_01.jpg" alt="">
                        </div>
                        <div class="av-list-item__text">
                            <p>Пенал SYNTESIS LUCE для одностворчатой двери дополняет минималистический дизайн пенала SYNTESIS широкими возможностями пенала LUCE.</p>
                        </div>
                    </div>
                    <a href="#" class="av-list-item__bot">
                        <p>Доводчик Eclisse Rallenty Soft</p>
                    </a>
                </div>
            </div>
            <div class="col-6 col-lg-3 p-0">
                <div class="av-list-item">
                    <div class="av-list-item__top">
                        <div class="av-list-item__img">
                            <img src="img/acces/bitmap_02.jpg" alt="">
                        </div>
                        <div class="av-list-item__text">
                            <p>Пенал SYNTESIS LUCE для одностворчатой двери дополняет минималистический дизайн пенала SYNTESIS широкими возможностями пенала LUCE.</p>
                        </div>
                    </div>
                    <a href="#" class="av-list-item__bot">
                        <p>Eclisse BIAS</p>
                    </a>
                </div>
            </div>
            <div class="col-6 col-lg-3 p-0">
                <div class="av-list-item">
                    <div class="av-list-item__top">
                        <div class="av-list-item__img">
                            <img src="img/acces/bitmap_03.jpg" alt="">
                        </div>
                        <div class="av-list-item__text">
                            <p>Пенал SYNTESIS LUCE для одностворчатой двери дополняет минималистический дизайн пенала SYNTESIS широкими возможностями пенала LUCE.</p>
                        </div>
                    </div>
                    <a href="#" class="av-list-item__bot">
                        <p>E-motion</p>
                    </a>
                </div>
            </div>
            <div class="col-6 col-lg-3 p-0">
                <div class="av-list-item">
                    <div class="av-list-item__top">
                        <div class="av-list-item__img">
                            <img src="img/acces/bitmap_04.jpg" alt="">
                        </div>
                        <div class="av-list-item__text">
                            <p>Пенал SYNTESIS LUCE для одностворчатой двери дополняет минималистический дизайн пенала SYNTESIS широкими возможностями пенала LUCE.</p>
                        </div>
                    </div>
                    <a href="#" class="av-list-item__bot">
                        <p>Механизм синхронизации с доводчиком
                            для пеналов Unico и Luce Double</p>
                    </a>
                </div>
            </div>
            <div class="col-6 col-lg-3 p-0">
                <div class="av-list-item">
                    <div class="av-list-item__top">
                        <div class="av-list-item__img">
                            <img src="img/acces/bitmap_06.jpg" alt="">
                        </div>
                        <div class="av-list-item__text">
                            <p>Пенал SYNTESIS LUCE для одностворчатой двери дополняет минималистический дизайн пенала SYNTESIS широкими возможностями пенала LUCE.</p>
                        </div>
                    </div>
                    <a href="#" class="av-list-item__bot">
                        <p>Механизм синхронизации
                            для Telescopia</p>
                    </a>
                </div>
            </div>
            <div class="col-6 col-lg-3 p-0">
                <div class="av-list-item">
                    <div class="av-list-item__top">
                        <div class="av-list-item__img">
                            <img src="img/acces/bitmap_06.jpg" alt="">
                        </div>
                        <div class="av-list-item__text">
                            <p>Пенал SYNTESIS LUCE для одностворчатой двери дополняет минималистический дизайн пенала SYNTESIS широкими возможностями пенала LUCE.</p>
                        </div>
                    </div>
                    <a href="#" class="av-list-item__bot">
                        <p>Кронштейн для стеклянных полотен</p>
                    </a>
                </div>
            </div>
            <div class="col-6 col-lg-3 p-0">
                <div class="av-list-item">
                    <div class="av-list-item__top">
                        <div class="av-list-item__img">
                            <img src="img/acces/bitmap_07.jpg" alt="">
                        </div>
                        <div class="av-list-item__text">
                            <p>Пенал SYNTESIS LUCE для одностворчатой двери дополняет минималистический дизайн пенала SYNTESIS широкими возможностями пенала LUCE.</p>
                        </div>
                    </div>
                    <a href="#" class="av-list-item__bot">
                        <p>Зажим для стеклянных дверей</p>
                    </a>
                </div>
            </div>


        </div>
    </section>
    <section class="container-fluid av-info">
        <div class="row">
            <div class="col-12 col-md-6 av-info__image" style="background-image: url('img/goods.jpg')"></div>
            <div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
                <div class="av-info__text">
                    <h3 class="h3"> Совместимые товары </h3>
                    <p>Для каждой системы необходимы дополнительные устройства, которые позволят настроить максимальный комфорт и удобство.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="container-fluid av-list">
        <div class="row">
            <div class="col-6 col-lg-3 p-0">
                <div class="av-list-item">
                    <div class="av-list-item__top">
                        <div class="av-list-item__img">
                            <img src="img/goods/bitmap.jpg" alt="">
                        </div>
                        <div class="av-list-item__text">
                            <p>Пенал SYNTESIS LUCE для одностворчатой двери дополняет минималистический дизайн пенала SYNTESIS широкими возможностями пенала LUCE.</p>
                        </div>
                    </div>
                    <a href="#" class="av-list-item__bot">
                        <p>Ручки</p>
                    </a>
                </div>
            </div>
            <div class="col-6 col-lg-3 p-0">
                <div class="av-list-item">
                    <div class="av-list-item__top">
                        <div class="av-list-item__img">
                            <img src="img/goods/bitmap_01.jpg" alt="">
                        </div>
                        <div class="av-list-item__text">
                            <p>Пенал SYNTESIS LUCE для одностворчатой двери дополняет минималистический дизайн пенала SYNTESIS широкими возможностями пенала LUCE.</p>
                        </div>
                    </div>
                    <a href="#" class="av-list-item__bot">
                        <p>Панели</p>
                    </a>
                </div>
            </div>
            <div class="col-6 col-lg-3 p-0">
                <div class="av-list-item">
                    <div class="av-list-item__top">
                        <div class="av-list-item__img">
                            <img src="img/goods/bitmap_02.jpg" alt="">
                        </div>
                        <div class="av-list-item__text">
                            <p>Пенал SYNTESIS LUCE для одностворчатой двери дополняет минималистический дизайн пенала SYNTESIS широкими возможностями пенала LUCE.</p>
                        </div>
                    </div>
                    <a href="#" class="av-list-item__bot">
                        <p>Замки</p>
                    </a>
                </div>
            </div>
            <div class="col-6 col-lg-3 p-0">
                <div class="av-list-item">
                    <div class="av-list-item__top">
                        <div class="av-list-item__img">
                            <img src="img/goods/bitmap_03.jpg" alt="">
                        </div>
                        <div class="av-list-item__text">
                            <p>Пенал SYNTESIS LUCE для одностворчатой двери дополняет минималистический дизайн пенала SYNTESIS широкими возможностями пенала LUCE.</p>
                        </div>
                    </div>
                    <a href="#" class="av-list-item__bot">
                        <p>Обрамления</p>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="container-fluid ">
        <h2>Конфигуратор пеналов</h2>
    </section>
    <section class="container-fluid av-config av-config--margin-bottom">
        <form>
            <div class="row av-bb">
                <div class="col-12 p-0">
                    <div class="av-config__title">
                        <h5>Параметры</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-xs-12">
                    <label class="av-config__radio">
                        <input type="radio" name="test01">
                        <span><i>Размер конструкции</i></span>
                    </label>
                </div>
                <div class="col-lg-3 col-md-6 col-xs-12">
                    <label class="av-config__radio">
                        <input type="radio" name="test01">
                        <span><i>Размер светового проёма</i></span>
                    </label>
                </div>
                <div class="col-lg-3 col-md-6 col-xs-12">
                    <label class="av-config__radio">
                        <input type="radio" name="test01">
                        <span><i>Размер полотна</i></span>
                    </label>
                </div>
                <div class="col-lg-3 col-md-6 col-xs-12">

                </div>
            </div>
            <div class="row av-bb">
                <div class="col-lg-6 col-12 p-0">
                    <div class="av-config__title">
                        <h5>Ширина</h5>
                        <p>От 600 до 4700 (мм)</p>
                    </div>
                    <div class="av-config__range av-config__range--border">
                        <input type="text" class="js-slider-range-min">
                        <div class="js-slider-range" data-min="0" data-max="500" data-current="[75, 300]"></div>
                        <input type="text" class="js-slider-range-max">
                    </div>
                </div>
                <div class="col-lg-6 col-12 p-0">
                    <div class="av-config__title">
                        <h5>Высота</h5>
                        <p>От 500 до 2900 (мм)</p>
                    </div>
                    <div class="av-config__range border-none">
                        <input type="text" class="js-slider-range-min">
                        <div class="js-slider-range" data-min="0" data-max="500" data-current="[75, 300]"></div>
                        <input type="text" class="js-slider-range-max">
                    </div>
                </div>
            </div>
            <div class="row av-bb">
                <div class="col-lg-6 col-12 p-0 av-bb--border">
                    <div class="av-config__title">
                        <h5>Дверь</h5>
                        <p>Выберите тип установленной двери</p>
                    </div>
                    <div class="row m-0">
                        <div class="col-6 p-md-0 px-xs-2">
                            <label class="av-config__radio">
                                <input type="radio" name="test01">
                                <span><i>Деревянная</i></span>
                            </label>
                        </div>
                        <div class="col-6 p-md-0 px-xs-2">
                            <label class="av-config__radio">
                                <input type="radio" name="test01">
                                <span><i>Стеклянная</i></span>
                            </label>
                        </div>
                    </div>


                </div>
                <div class="col-lg-6 col-12 p-0">
                    <div class="av-config__title">
                        <h5>Отделка</h5>
                        <p>Укажите тип финальной отделки</p>
                    </div>
                    <div class="row m-0">
                        <div class="col-6 p-md-0 px-xs-2">
                            <label class="av-config__radio">
                                <input type="radio" name="test01">
                                <span><i>Гипсокартон</i></span>
                            </label>
                        </div>
                        <div class="col-6 p-md-0 px-xs-2">
                            <label class="av-config__radio">
                                <input type="radio" name="test01">
                                <span><i>Штукатурка</i></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row av-bb">
                <div class="col-12 p-0">
                    <div class="av-config__title">
                        <h5>Опции</h5>
                        <p>Дополнительные настройки</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-xs-12">
                    <label class="av-config__checkbox">
                        <input type="checkbox">
                        <span><i>Наличие розеток
и светильников</i></span>
                    </label>
                </div>
                <div class="col-lg-3 col-md-6 col-xs-12">
                    <label class="av-config__checkbox">
                        <input type="checkbox" checked="checked">
                        <span><i>Обрамление</i></span>
                    </label>
                </div>
                <div class="col-lg-3 col-md-6 col-xs-12">
                    <label class="av-config__checkbox">
                        <input type="checkbox">
                        <span><i>Совместимые аксессуары</i></span>
                    </label>
                </div>
                <div class="col-lg-3 col-md-6 col-xs-12">
                    <label class="av-config__checkbox">
                        <input type="checkbox" checked="checked">
                        <span><i>Размер конструкции</i></span>
                    </label>
                </div>
            </div>
            <div class="row av-bb">
                <div class="col-12 p-0">
                    <div class="av-config__title">
                        <h5>Световые проёмы</h5>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-12 p-0 d-flex flex-wrap">
                    <div class="col-lg-3 col-md-3 col-6">
                        <label class="av-config__radio av-config__radio--simple">
                            <input type="radio" name="test02">
                            <span>1</span>
                        </label>
                    </div>
                    <div class="col-lg-3 col-md-3 col-6">
                        <label class="av-config__radio av-config__radio--simple">
                            <input type="radio" name="test02">
                            <span>2</span>
                        </label>
                    </div>
                    <div class="col-lg-3 col-md-3 col-6">
                        <label class="av-config__radio av-config__radio--simple">
                            <input type="radio" name="test02">
                            <span>3</span>
                        </label>
                    </div>
                    <div class="col-lg-3 col-md-3 col-6">
                        <label class="av-config__radio av-config__radio--simple">
                            <input type="radio" name="test02">
                            <span>4</span>
                        </label>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-12 p-0 d-flex flex-wrap">
                    <div class="col-lg-3 col-md-3 col-6">
                        <label class="av-config__radio av-config__radio--simple">
                            <input type="radio" name="test02">
                            <span>5</span>
                        </label>
                    </div>
                    <div class="col-lg-3 col-md-3 col-6">
                        <label class="av-config__radio av-config__radio--simple">
                            <input type="radio" name="test02">
                            <span>6</span>
                        </label>
                    </div>
                    <div class="col-lg-3 col-md-3 col-6">
                        <label class="av-config__radio av-config__radio--simple">
                            <input type="radio" name="test02">
                            <span>7</span>
                        </label>
                    </div>
                    <div class="col-lg-3 col-md-3 col-6">
                        <label class="av-config__radio av-config__radio--simple">
                            <input type="radio" name="test02">
                            <span>8</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row av-bb">
                <div class="col-lg-6 col-12 p-0">
                    <div class="av-config__title">
                        <h5>Работа системы</h5>
                    </div>
                    <div class="av-config__texter av-config__texter--border">
                        <label class="av-config__checker">
                            <input type="checkbox">
                            <i></i>
                            <span>Раздвижная подвесная к стене по прямой</span>
                        </label>
                        <label class="av-config__checker">
                            <input type="checkbox">
                            <i></i>
                            <span>Раздвижная в стену по прямой</span>
                        </label>
                        <label class="av-config__checker">
                            <input type="checkbox">
                            <i></i>
                            <span>Раздвижная в радиусную стену</span>
                        </label>
                    </div>
                </div>
                <div class="col-lg-6 col-12 p-0">
                    <div class="av-config__title">
                        <h5>Готовность</h5>
                    </div>
                    <div class="av-config__texter">
                        <label class="av-config__checker">
                            <input type="checkbox">
                            <i></i>
                            <span>На складе</span>
                        </label>
                        <label class="av-config__checker">
                            <input type="checkbox">
                            <i></i>
                            <span>Предсобран (заказ доступен только со склада)</span>
                        </label>
                        <label class="av-config__checker">
                            <input type="checkbox">
                            <i></i>
                            <span>Не собран</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 p-0">
                    <div class="av-config__title">
                        <button type="submit" class="btn btn-primary">Подобрать</button>
                    </div>
                </div>
            </div>
        </form>

    </section>
</main>
//= parts/footer.html