//= parts/head.html
//= parts/header.html

<div class="contacts">
    <section class="container av-breadcrumbs">
        <a href="#">Главная</a>
        <span>Контакты</span>
    </section>
    <section class="container subheader">
        <h1>Контакты</h1>
    </section>
    <section class="av-product-tabs">
        <div class="av-product__tabs-caption">
            <span class="av-product__tab active js-set-map">Офисы <span class="tab-decimal">3</span> </span>
            <span class="av-product__tab js-set-map">Склады <span class="tab-decimal">2</span></span>
        </div>
        <section class="container-fluid av-product p-0">
            <div class="av-product__content active">
                <section class="container-fluid">
                    <h2>Главный офис <br>Эклисс-Россия</h2>
                    <div class="contact">
                        <div class="contact__col">
                            <div class="contact__row">
                                <div class="contact__item">
                                    <div class="contact__head">
                                        <div class="field__image">
                                            <svg>
                                                <use xlink:href="img/pointer.svg#ico1"></use>
                                                <use xlink:href="img/pointer.svg#ico2"></use>
                                            </svg>
                                        </div>
                                        <span>Адрес:</span>
                                    </div>
                                    <div class="contact__text">
                                        <span>142000, Московская область, г.Домодедово, <br> ул. Промышленная, д.11</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="contact__col contact__col--four">
                            <div class="contact__row">
                                <div class="contact__item contact__item--small">
                                    <div class="contact__head">
                                        <div class="field__image">
                                            <svg>
                                                <use xlink:href="img/phone-copy.svg#ico1"></use>
                                                <use xlink:href="img/phone-copy.svg#ico2"></use>
                                            </svg>
                                        </div>
                                        <span>Телефон:</span>
                                    </div>
                                    <div class="contact__text">
                                        <span>+7 495 223 75 43</span>
                                    </div>
                                </div>
                                <div class="contact__item contact__item--small">
                                    <div class="contact__head">
                                        <div class="field__image">
                                            <img src="img/file.png" alt="">
                                        </div>
                                        <span>Факс:</span>
                                    </div>
                                    <div class="contact__text">
                                        <span>+7 495 920 99 99</span>
                                    </div>
                                </div>
                            </div>
                           <div class="contact__row">
                               <div class="contact__item contact__item--small worker__item--mail">
                                   <div class="contact__head">
                                       <div class="field__image">
                                           <div class="field__image field__image--mail">
                                               <svg>
                                                   <use xlink:href="img/mail-copy.svg#ico1"></use>
                                                   <use xlink:href="img/mail-copy.svg#ico2"></use>
                                               </svg>
                                           </div>
                                       </div>
                                       <span>Почта:</span>
                                   </div>
                                   <div class="contact__text">
                                       <span>sayhello<br>@eclisse.ru</span>
                                   </div>
                               </div>
                               <div class="contact__item contact__item--small">
                                   <div class="contact__head">
                                       <div class="field__image">
                                           <svg>
                                               <use xlink:href="img/clock.svg#ico1"></use>
                                               <use xlink:href="img/clock.svg#ico2"></use>
                                           </svg>
                                       </div>
                                       <span>Время работы:</span>
                                   </div>
                                   <div class="contact__text contact__time">
                                       <span>ПН–ПТ,</span>
                                       <span>09:00–21:00</span>
                                   </div>
                               </div>
                           </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="av-product__content">
                <section class="container-fluid">
                    <h2>Главный склад Эклисс-Россия</h2>
                    <div class="contact">
                        <div class="contact__col">
                            <div class="contact__row">
                                <div class="contact__item">
                                    <div class="contact__head">
                                        <div class="field__image">
                                            <svg>
                                                <use xlink:href="img/pointer.svg#ico1"></use>
                                                <use xlink:href="img/pointer.svg#ico2"></use>
                                            </svg>
                                        </div>
                                        <span>Адрес:</span>
                                    </div>
                                    <div class="contact__text">
                                        <span>142000, Московская область, г.Москва, <br> ул. Пушкина, д.11</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="contact__col contact__col--four">
                            <div class="contact__row">
                                <div class="contact__item contact__item--small">
                                    <div class="contact__head">
                                        <div class="field__image">
                                            <svg>
                                                <use xlink:href="img/phone-copy.svg#ico1"></use>
                                                <use xlink:href="img/phone-copy.svg#ico2"></use>
                                            </svg>
                                        </div>
                                        <span>Телефон:</span>
                                    </div>
                                    <div class="contact__text">
                                        <span>+7 495 223 75 43</span>
                                    </div>
                                </div>
                                <div class="contact__item contact__item--small">
                                    <div class="contact__head">
                                        <div class="field__image">
                                            <img src="img/file.png" alt="">
                                        </div>
                                        <span>Факс:</span>
                                    </div>
                                    <div class="contact__text">
                                        <span>+7 495 920 99 99</span>
                                    </div>
                                </div>
                            </div>
                            <div class="contact__row">
                                <div class="contact__item contact__item--small worker__item--mail">
                                    <div class="contact__head">
                                        <div class="field__image">
                                            <div class="field__image field__image--mail">
                                                <svg>
                                                    <use xlink:href="img/mail-copy.svg#ico1"></use>
                                                    <use xlink:href="img/mail-copy.svg#ico2"></use>
                                                </svg>
                                            </div>
                                        </div>
                                        <span>Почта:</span>
                                    </div>
                                    <div class="contact__text">
                                        <span>sayhello<br>@eclisse.ru</span>
                                    </div>
                                </div>
                                <div class="contact__item contact__item--small">
                                    <div class="contact__head">
                                        <div class="field__image">
                                            <svg>
                                                <use xlink:href="img/clock.svg#ico1"></use>
                                                <use xlink:href="img/clock.svg#ico2"></use>
                                            </svg>
                                        </div>
                                        <span>Время работы:</span>
                                    </div>
                                    <div class="contact__text contact__time">
                                        <span>ПН–ПТ,</span>
                                        <span>09:00–21:00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>
        <div class="container-fluid">
            <div class="contacts__map">
                <div id="c_map"></div>
            </div>
        </div>
        <div class="worker__button">
            <a href="#" class="btn btn-default">Как добраться</a>

        </div>
    </section>
    <div class="container-fluid">
        <h2>Наши сотрудники</h2>
    </div>
    <div class="container-fluid">
        <div class="contacts__workers">
            <div class="worker">
                <div class="worker__photo">
                    <div class="worker__img">
                        <img src="img/mask.png" alt="">
                    </div>
                </div>
                <div class="worker__info">
                    <div class="worker__who">
                        <div class="worker__name">
                            <span> Василий Петров</span>
                        </div>
                        <div class="worker__height">
                            <span>Руководитель</span>
                        </div>
                    </div>
                    <div class="worker__about">
                        <div class="worker__item">
                            <div class="contact__head">
                                <div class="field__image">
                                    <svg>
                                        <use xlink:href="img/phone-copy.svg#ico1"></use>
                                        <use xlink:href="img/phone-copy.svg#ico2"></use>
                                    </svg>
                                </div>
                                <span>Телефон:</span>
                            </div>
                            <div class="contact__text">
                                <span>+7 495 223 75 43</span>
                            </div>
                        </div>
                        <div class="worker__item worker__item--mail">
                            <div class="contact__head">
                                <div class="field__image">
                                    <div class="field__image field__image--mail">
                                        <svg>
                                            <use xlink:href="img/mail-copy.svg#ico1"></use>
                                            <use xlink:href="img/mail-copy.svg#ico2"></use>
                                        </svg>
                                    </div>
                                </div>
                                <span>Почта:</span>
                            </div>
                            <div class="contact__text">
                                <span>sayhello@eclisse.ru</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="worker">
                <div class="worker__photo">
                    <div class="worker__img">
                        <img src="img/mask.png" alt="">
                    </div>
                </div>
                <div class="worker__info">
                    <div class="worker__who">
                        <div class="worker__name">
                            <span> Василий Петров</span>
                        </div>
                        <div class="worker__height">
                            <span>Руководитель</span>
                        </div>
                    </div>
                    <div class="worker__about">
                        <div class="worker__item">
                            <div class="contact__head">
                                <div class="field__image">
                                    <svg>
                                        <use xlink:href="img/phone-copy.svg#ico1"></use>
                                        <use xlink:href="img/phone-copy.svg#ico2"></use>
                                    </svg>
                                </div>
                                <span>Телефон:</span>
                            </div>
                            <div class="contact__text">
                                <span>+7 495 223 75 43</span>
                            </div>
                        </div>
                        <div class="worker__item worker__item--mail">
                            <div class="contact__head">
                                <div class="field__image">
                                    <div class="field__image field__image--mail">
                                        <svg>
                                            <use xlink:href="img/mail-copy.svg#ico1"></use>
                                            <use xlink:href="img/mail-copy.svg#ico2"></use>
                                        </svg>
                                    </div>
                                </div>
                                <span>Почта:</span>
                            </div>
                            <div class="contact__text">
                                <span>sayhello@eclisse.ru</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="worker">
                <div class="worker__photo">
                    <div class="worker__img">
                        <img src="img/mask.png" alt="">
                    </div>
                </div>
                <div class="worker__info">
                    <div class="worker__who">
                        <div class="worker__name">
                            <span> Василий Петров</span>
                        </div>
                        <div class="worker__height">
                            <span>Руководитель</span>
                        </div>
                    </div>
                    <div class="worker__about">
                        <div class="worker__item">
                            <div class="contact__head">
                                <div class="field__image">
                                    <svg>
                                        <use xlink:href="img/phone-copy.svg#ico1"></use>
                                        <use xlink:href="img/phone-copy.svg#ico2"></use>
                                    </svg>
                                </div>
                                <span>Телефон:</span>
                            </div>
                            <div class="contact__text">
                                <span>+7 495 223 75 43</span>
                            </div>
                        </div>
                        <div class="worker__item worker__item--mail">
                            <div class="contact__head">
                                <div class="field__image">
                                    <div class="field__image field__image--mail">
                                        <svg>
                                            <use xlink:href="img/mail-copy.svg#ico1"></use>
                                            <use xlink:href="img/mail-copy.svg#ico2"></use>
                                        </svg>
                                    </div>
                                </div>
                                <span>Почта:</span>
                            </div>
                            <div class="contact__text">
                                <span>sayhello@eclisse.ru</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="worker">
                <div class="worker__photo">
                    <div class="worker__img">
                        <img src="img/mask.png" alt="">
                    </div>
                </div>
                <div class="worker__info">
                    <div class="worker__who">
                        <div class="worker__name">
                            <span> Василий Петров</span>
                        </div>
                        <div class="worker__height">
                            <span>Руководитель</span>
                        </div>
                    </div>
                    <div class="worker__about">
                        <div class="worker__item">
                            <div class="contact__head">
                                <div class="field__image">
                                    <svg>
                                        <use xlink:href="img/phone-copy.svg#ico1"></use>
                                        <use xlink:href="img/phone-copy.svg#ico2"></use>
                                    </svg>
                                </div>
                                <span>Телефон:</span>
                            </div>
                            <div class="contact__text">
                                <span>+7 495 223 75 43</span>
                            </div>
                        </div>
                        <div class="worker__item worker__item--mail">
                            <div class="contact__head">
                                <div class="field__image">
                                    <div class="field__image field__image--mail">
                                        <svg>
                                            <use xlink:href="img/mail-copy.svg#ico1"></use>
                                            <use xlink:href="img/mail-copy.svg#ico2"></use>
                                        </svg>
                                    </div>
                                </div>
                                <span>Почта:</span>
                            </div>
                            <div class="contact__text">
                                <span>sayhello@eclisse.ru</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="worker__button">
        <a href="#" class="btn btn-default">Задать вопрос</a>
    </div>

</div>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=1cbbca57-2a46-44bb-bd52-5864931fe215" type="text/javascript"></script>
<script>

    var contacts_objects = [];
        ymaps.ready(function () {
            var myMap = new ymaps.Map('c_map', {
                center: [55.651574, 37.573856],
                zoom: 12,
                controls: []
            }, {
                searchControlProvider: 'yandex#search'
            });

            myMap.controls.add('zoomControl', {
                size: "small",
                float: 'none',
                position: {
                    bottom: '50px',
                    right: '30px'
                }
            });
            myMap.controls.add('fullscreenControl', {
                float: 'none',
                position: {
                    top: '50px',
                    right: '30px'
                }
            });


            contacts_objects[0] = new ymaps.Placemark([55.651574, 37.573856], {
                name: 'Окна и двери',
                hintContent: 'Окна и двери'
            }, {
                iconLayout: 'default#image',
                iconImageHref: 'img/map-point-blue.png',
                iconImageSize: [36, 46],
                iconImageOffset: [-5, -38]
            });
            contacts_objects[1] = new ymaps.Placemark([55.851574, 37.573856], {
                name: 'Двери и окна',
                hintContent: 'Двери и окна'
            }, {
                iconLayout: 'default#image',
                iconImageHref: 'img/map-point-blue.png',
                iconImageSize: [36, 44],
                iconImageOffset: [-5, -38]
            });

            for (var i = 0; i < contacts_objects.length; i++) {
                myMap.geoObjects.add(contacts_objects[i]);
                contacts_objects[i].events
                    .add('click', function (e) {
                        e.stopPropagation();
                        for (var k = 0; k < contacts_objects.length; k++) {
                            var pointer = contacts_objects[k];
                            pointer.options.set({ iconImageHref: 'img/map-point.png'});
                        }
                        e.get('target').options.set('iconImageHref', 'img/map-point-blue.png');
                        myMap.setCenter(e.originalEvent.target.geometry._coordinates, 12, {
                            checkZoomRange: true
                        });
                    })
            }


            myMap.behaviors.disable('scrollZoom');

            $('.js-set-map').click(function () {
                var index = $(this).index();
                for (var j = 0; j < contacts_objects.length; j++) {
                    contacts_objects[j].options.set('visible', false);
                }
                contacts_objects[index].options.set('visible', true);
                myMap.setCenter(contacts_objects[index].geometry._coordinates, 12, {
                    checkZoomRange: true
                });
            });


        });







//    $('.av-product__tabs-caption').on('click', 'span:not(.active)', function() {
//        var index = $(this).index();
//
//        for (var j = 0; j < contacts_objects.length; j++) {
//            contacts_objects[j].options.set('visible', false);
//        }
//        contacts_objects[index].options.set('visible', true);
//        myMap.setCenter(contacts_objects[index].geometry._coordinates, 9, {
//            checkZoomRange: true
//        });
//    });



</script>
//= parts/footer.html