//= parts/head.html
//= parts/header.html

<div class="documentation">
    <section class="container av-breadcrumbs">
        <a href="#">Главная</a>
        <a href="#">Академия</a>
        <span>Библиотека ресурсов</span>
    </section>
    <section class="container subheader">
        <h1>Документация</h1>
    </section>
    <section class="av-product-tabs">
        <div class="av-product__tabs-caption">
            <span class="av-product__tab active">Инструкции <span class="tab-decimal">6</span> </span>
            <span class="av-product__tab">Сертификаты <span class="tab-decimal">3</span></span>
        </div>
        <section class="container-fluid av-product p-0">
            <div class="av-product__content active">
                <div class="row m-0">
                    <div class="col-12 col-lg-6 p-0">
                        <a href="#" class="row m-0">
                            <div class="col-6 d-flex flex-column justify-content-between align-items-center">
                                <div class="av-product__type align-self-start">PDF</div>
                                <div class="documentation__size">212 мб</div>
                                <div class="av-library__file">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="30" viewBox="0 0 24 30">
                                        <g fill="none" fill-rule="evenodd">
                                            <path fill="#ECECEC" d="M13 0H3a3 3 0 0 0-3 3v24a3 3 0 0 0 3 3h18a3 3 0 0 0 3-3V11L13 0z"/>
                                            <path fill="#DDD" d="M13 0v11h11"/>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                            <div class="col-6 d-flex justify-content-center align-items-center">
                                <div class="av-product__name">Технический паспорт</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-lg-6 p-0">
                        <a href="#" class="row m-0">
                            <div class="col-6 d-flex flex-column justify-content-between align-items-center">
                                <div class="av-product__type align-self-start">TXT</div>
                                <div class="documentation__size">212 мб</div>
                                <div class="av-library__file">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="30" viewBox="0 0 24 30">
                                        <g fill="none" fill-rule="evenodd">
                                            <path fill="#ECECEC" d="M13 0H3a3 3 0 0 0-3 3v24a3 3 0 0 0 3 3h18a3 3 0 0 0 3-3V11L13 0z"/>
                                            <path fill="#DDD" d="M13 0v11h11"/>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                            <div class="col-6 d-flex justify-content-center align-items-center">
                                <div class="av-product__name">Гарантия</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-lg-6 p-0">
                        <a href="#" class="row m-0">
                            <div class="col-6 d-flex flex-column justify-content-between align-items-center">
                                <div class="av-product__type align-self-start">XLS</div>
                                <div class="documentation__size">5,7 мб</div>
                                <div class="av-library__file">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="30" viewBox="0 0 24 30">
                                        <g fill="none" fill-rule="evenodd">
                                            <path fill="#ECECEC" d="M13 0H3a3 3 0 0 0-3 3v24a3 3 0 0 0 3 3h18a3 3 0 0 0 3-3V11L13 0z"/>
                                            <path fill="#DDD" d="M13 0v11h11"/>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                            <div class="col-6 d-flex justify-content-center align-items-center">
                                <div class="av-product__name">Инструкция по уходу</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-lg-6 p-0">
                        <a href="#" class="row m-0">
                            <div class="col-6 d-flex flex-column justify-content-between align-items-center">
                                <div class="av-product__type align-self-start">PDF</div>
                                <div class="documentation__size">125 мб</div>
                                <div class="av-library__file">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="30" viewBox="0 0 24 30">
                                        <g fill="none" fill-rule="evenodd">
                                            <path fill="#ECECEC" d="M13 0H3a3 3 0 0 0-3 3v24a3 3 0 0 0 3 3h18a3 3 0 0 0 3-3V11L13 0z"/>
                                            <path fill="#DDD" d="M13 0v11h11"/>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                            <div class="col-6 d-flex justify-content-center align-items-center">
                                <div class="av-product__name">Montaggio Syntesis® <br> Line - sp.125-150 cartongesso</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-lg-6 p-0">
                        <a href="#" class="row m-0">
                            <div class="col-6 d-flex flex-column justify-content-between align-items-center">
                                <div class="av-product__type align-self-start">XLS</div>
                                <div class="documentation__size">212 мб</div>
                                <div class="av-library__file">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="30" viewBox="0 0 24 30">
                                        <g fill="none" fill-rule="evenodd">
                                            <path fill="#ECECEC" d="M13 0H3a3 3 0 0 0-3 3v24a3 3 0 0 0 3 3h18a3 3 0 0 0 3-3V11L13 0z"/>
                                            <path fill="#DDD" d="M13 0v11h11"/>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                            <div class="col-6 d-flex justify-content-center align-items-center">
                                <div class="av-product__name">Инструкция по монтажу</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-lg-6 p-0">
                        <a href="#" class="row m-0">
                            <div class="col-6 d-flex flex-column justify-content-between align-items-center">
                                <div class="av-product__type align-self-start">CAD</div>
                                <div class="documentation__size">212 мб</div>
                                <div class="av-library__file">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="30" viewBox="0 0 24 30">
                                        <g fill="none" fill-rule="evenodd">
                                            <path fill="#ECECEC" d="M13 0H3a3 3 0 0 0-3 3v24a3 3 0 0 0 3 3h18a3 3 0 0 0 3-3V11L13 0z"/>
                                            <path fill="#DDD" d="M13 0v11h11"/>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                            <div class="col-6 d-flex justify-content-center align-items-center">
                                <div class="av-product__name">CAD-файлы</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="av-product__content">
                <div class="row m-0">
                    <div class="col-12 col-lg-6 p-0">
                        <a href="#" class="row m-0">
                            <div class="col-6 d-flex flex-column justify-content-between align-items-center">
                                <div class="av-product__type align-self-start">PDF</div>
                                <div class="documentation__size">212 мб</div>
                                <div class="av-library__file">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="30" viewBox="0 0 24 30">
                                        <g fill="none" fill-rule="evenodd">
                                            <path fill="#ECECEC" d="M13 0H3a3 3 0 0 0-3 3v24a3 3 0 0 0 3 3h18a3 3 0 0 0 3-3V11L13 0z"/>
                                            <path fill="#DDD" d="M13 0v11h11"/>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                            <div class="col-6 d-flex justify-content-center align-items-center">
                                <div class="av-product__name">Технический паспорт</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-lg-6 p-0">
                        <a href="#" class="row m-0">
                            <div class="col-6 d-flex flex-column justify-content-between align-items-center">
                                <div class="av-product__type align-self-start">TXT</div>
                                <div class="documentation__size">212 мб</div>
                                <div class="av-library__file">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="30" viewBox="0 0 24 30">
                                        <g fill="none" fill-rule="evenodd">
                                            <path fill="#ECECEC" d="M13 0H3a3 3 0 0 0-3 3v24a3 3 0 0 0 3 3h18a3 3 0 0 0 3-3V11L13 0z"/>
                                            <path fill="#DDD" d="M13 0v11h11"/>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                            <div class="col-6 d-flex justify-content-center align-items-center">
                                <div class="av-product__name">Гарантия</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-lg-6 p-0">
                        <a href="#" class="row m-0">
                            <div class="col-6 d-flex flex-column justify-content-between align-items-center">
                                <div class="av-product__type align-self-start">TXT</div>
                                <div class="documentation__size">212 мб</div>
                                <div class="av-library__file">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="30" viewBox="0 0 24 30">
                                        <g fill="none" fill-rule="evenodd">
                                            <path fill="#ECECEC" d="M13 0H3a3 3 0 0 0-3 3v24a3 3 0 0 0 3 3h18a3 3 0 0 0 3-3V11L13 0z"/>
                                            <path fill="#DDD" d="M13 0v11h11"/>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                            <div class="col-6 d-flex justify-content-center align-items-center">
                                <div class="av-product__name">Гарантия</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </section>


</div>

//= parts/footer.html