//= parts/head.html
//= parts/header.html
    <div class="av-family__title" style="background-image: url('img/family-back.jpg');">
        <section class="container av-breadcrumbs av-breadcrumbs--gray">
            <a href="#">Главная</a>
            <span>Сообщество</span>
        </section>
        <section class="container-fluid av-family">
            <h2>Семья Eclisse</h2>
            <p>На сегодняшний день Eclisse представляет собой известный бренд, лидер индустрии, включающий 10 дочерних компаний, более чем 30 представительств и тысячи дистрибьютеров.</p>
        </section>
        <a href="#" class="av-family__more">
            <img src="img/arrow_down.svg" alt="">
        </a>
    </div>

    <div class="av-family__tabs-wrap">
        <section class="container-fluid av-family__tabs">
            <a href="#about">О нас</a>
            <a href="#house">Вишера Групп</a>
            <a href="#distributors">Дистрибьютеры</a>
            <a href="#relations">Отношения</a>
            <a href="#storage">Склад</a>
            <a href="#partner">Партнёрство</a>
            <a href="#academy">Академия</a>
            <a href="#service">Сервисы и услуги</a>
            <a href="#">Ещё <!--<img src="img/arrow_down-black.svg" alt="">--></a>
        </section>
    </div>
    <section class="container-fluid p-0">
        <h2 id="about" class="h2">О нас</h2>
    </section>
    <section class="container-fluid av-product p-0">
        <div class="av-product__content active m-0">
            <div class="row m-0 av-product__no-arrow">
                <div class=" col-12 col-lg-6 p-0 d-flex flex-column align-items-center">
                    <div class="av-product__photo">
                        <img class="av-product__photo" src="img/about-img_01.jpg" alt="">
                    </div>

                </div>
                <div class="col-white col-12 col-lg-6 p-0 d-flex justify-content-center align-items-center">
                    <div class="av-product__about">
                        <div class="av-product__about-title">Охват</div>
                        Россия, Италия, Франция, Польша, Австрия, Чехия, Испания, словакия, Бразилия, Германия, Венгрия, Португалия, США и другие страны. В каждой стране свое представительство.
                    </div>
                </div>
            </div>
            <div class="row flex-row-reverse m-0 av-product__no-arrow">
                <div class=" col-12 col-lg-6 p-0 d-flex flex-column align-items-center">
                    <div class="av-product__photo">
                        <img class="av-product__photo" src="img/about-img_02.jpg" alt="">
                    </div>
                </div>
                <div class="col-white col-12 col-lg-6 p-0 d-flex justify-content-center align-items-center">
                    <div class="av-product__about">
                        <div class="av-product__about-title">Миссия</div>
                        Мы готовы предложить Вам качественную продукцию, отвечающую Европейским стандартам качества. Наши консультанты с радостью помогут сделать верный выбор с учетом Ваших пожеланий.
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container-fluid p-0">
        <h2 id="relations" class="h2">Эксклюзивные отношения</h2>
    </section>
    <section class="container-fluid av-product p-0">
        <div class="av-product__content active m-0">
            <div class="row m-0 av-product__no-arrow">
                <div class=" col-12 col-lg-6 p-0 d-flex flex-column align-items-center">
                    <div class="av-product__photo">
                        <img class="av-product__photo" src="img/relations-img_01.jpg" alt="">
                    </div>

                </div>
                <div class="col-white col-12 col-lg-6 p-0 d-flex justify-content-center align-items-center">
                    <div class="av-product__about">
                        <div class="av-product__about-title">Эклис</div>
                        Россия, Италия, Франция, Польша, Австрия, Чехия, Испания, словакия, Бразилия, Германия, Венгрия, Португалия, США и другие страны. В каждой стране свое представительство.
                    </div>
                </div>
            </div>
            <div class="row flex-row-reverse m-0 av-product__no-arrow">
                <div class=" col-12 col-lg-6 p-0 d-flex flex-column align-items-center">
                    <div class="av-product__photo">
                        <img class="av-product__photo" src="img/relations-img_02.jpg" alt="">
                    </div>
                </div>
                <div class="col-white col-12 col-lg-6 p-0 d-flex justify-content-center align-items-center">
                    <div class="av-product__about">
                        <div class="av-product__about-title">Торговый дом «Вишера»</div>
                        Мы готовы предложить Вам качественную продукцию, отвечающую Европейским стандартам качества. Наши консультанты с радостью помогут сделать верный выбор с учетом Ваших пожеланий.
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container-fluid p-0">
        <h2 id="house" class="h2">Торговый дом «Вишера»</h2>
    </section>
    <section class="container-fluid av-product p-0">
        <div class="av-product__content active m-0">
            <div class="row m-0 av-product__no-arrow">
                <div class=" col-12 col-lg-6 p-0 d-flex flex-column align-items-center">
                    <div class="av-product__photo">
                        <img class="av-product__photo" src="img/house-img_01.jpg" alt="">
                    </div>

                </div>
                <div class="col-white col-12 col-lg-6 p-0 d-flex justify-content-center align-items-center">
                    <div class="av-product__about">
                        <div class="av-product__about-title">Сертификат</div>
                        Пеналом принято называть специальный короб, монтируемый в стену, куда задвигается перегородка. Таким образом, дверное полотно не распахивается, а скрывается в коробе.
                    </div>
                </div>
            </div>
            <div class="row flex-row-reverse m-0 av-product__no-arrow">
                <div class=" col-12 col-lg-6 p-0 d-flex flex-column align-items-center">
                    <div class="av-product__photo">
                        <img class="av-product__photo" src="img/house-img_02.jpg" alt="">
                    </div>
                </div>
                <div class="col-white col-12 col-lg-6 p-0 d-flex justify-content-center align-items-center">
                    <div class="av-product__about">
                        <div class="av-product__about-title">Аккредитация</div>
                        Пеналом принято называть специальный короб, монтируемый в стену, куда задвигается перегородка. Таким образом, дверное полотно не распахивается, а скрывается в коробе.
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="border-bottom">
        <section class="container-fluid p-0">
            <div class="btn-wrap">
                <a href="#" class="btn btn-default">Узнать больше</a>
            </div>
        </section>
    </div>
    <section class="container-fluid block_news av-news">
        <div id="distributors" class="row">
            <div class="col-12 col-md-6 image" style="background-image: url('img/sklad-img_01.png')"></div>
            <div class="col-12 col-md-6 text">
                <div class="info">
                    <h3 class="h3">Наши дистрибьютеры </h3>
                    <p>На сегодняшний день Eclisse представляет собой известный бренд, лидер индустрии, включающий 10 дочерних компаний, более чем 30 представительств и тысячи дистрибьютеров.</p>
                </div>
                <div class="more"><a class="link_border or" href="/">Найти ближайшего партнёра</a></div>
            </div>
        </div>
        <div id="storage" class="row">
            <div class="col-12 col-md-6 image" style="background-image: url('img/sklad-img_02.jpg')"></div>
            <div class="col-12 col-md-6 text">
                <div class="info">
                    <h3 class="h3">Складская программа</h3>
                    <p>Россия, Италия, Франция, Польша, Австрия, Чехия, Испания, словакия, Бразилия, Германия, Венгрия, Португалия, США и другие страны. В каждой стране свое представительство.</p>
                </div>
            </div>
        </div>
        <h2 id="partner" class="h2">Партнёрство для всех</h2>
        <div class="row">
            <div class="col-12 col-md-6 image" style="background-image: url('img/bitmap_4.jpg')"></div>
            <div class="col-12 col-md-6 text"><span>01</span>
                <div class="info">
                    <h3 class="h3">Фабрика дверей</h3>
                    <p>Приглашаем Вас посетить стенд нашей компании &laquo;Группа компаний &bdquo;Торговый дом Вишера"&raquo;</p>
                </div>
                <div class="more"><a class="link_border or" href="/">Подробнее</a></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 image" style="background-image: url('img/bitmap_3.jpg')"></div>
            <div class="col-12 col-md-6 text"><span>02</span>
                <div class="info">
                    <h3 class="h3">Монтажники</h3>
                    <p>Приглашаем Вас посетить стенд нашей компании &laquo;Группа компаний &bdquo;Торговый дом Вишера"&raquo;</p>
                </div>
                <div class="more"><a class="link_border or" href="/">Подробнее</a></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 image" style="background-image: url('img/bitmap_2.jpg')"></div>
            <div class="col-12 col-md-6 text"><span>03</span>
                <div class="info">
                    <h3 class="h3">Салон дверей</h3>
                    <p>Приглашаем Вас посетить стенд нашей компании &laquo;Группа компаний &bdquo;Торговый дом Вишера"&raquo;</p>
                </div>
                <div class="more"><a class="link_border or" href="/">Подробнее</a></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 image" style="background-image: url('img/bitmap.jpg')"></div>
            <div class="col-12 col-md-6 text"><span>04</span>
                <div class="info">
                    <h3 class="h3">Дизайн и&nbsp;проектирование</h3>
                    <p>Приглашаем Вас посетить стенд нашей компании &laquo;Группа компаний &bdquo;Торговый дом Вишера"&raquo;</p>
                </div>
                <div class="more"><a class="link_border or" href="/">Подробнее</a></div>
            </div>
        </div>
    </section>
    <div id="academy" class="av-family__title justify-content-center" style="background-image: url('img/academy-back.jpg');">
        <section class="container-fluid av-family">
            <h2>Академия Eclisse</h2>
            <p>С помощью нашей академии вы повысите свой уровень работы
                с нашей продукцией!</p>
        </section>
        <a href="#" class="link_border">Подробнее</a>
    </div>
    <section class="container-fluid p-0">
        <h2 id="service" class="h2">Сервисы и услуги</h2>
    </section>
    <section class="container-fluid av-product p-0">
        <div class="av-product__content active m-0">
            <div class="row m-0">
                <div class="col-12 col-lg-6 p-0">
                    <a href="#" class="row m-0">
                        <div class="col-6 d-flex flex-column justify-content-between align-items-center">
                            <div class="av-product__icon">
                                <img src="img/service-icon_01.svg" alt="">
                            </div>
                        </div>
                        <div class="col-6 d-flex flex-column justify-content-center align-items-center">
                            <div class="av-product__name">Адаптивность</div>
                            <div class="av-product__desc">Приглашаем всех желающих
                                посетить наш обучающий курс
                                по проектированию.</div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-lg-6 p-0">
                    <a href="#" class="row m-0">
                        <div class="col-6 d-flex flex-column justify-content-between align-items-center">
                            <div class="av-product__icon">
                                <img src="img/service-icon_02.svg" alt="">
                            </div>
                        </div>
                        <div class="col-6 d-flex flex-column justify-content-center align-items-center">
                            <div class="av-product__name">Производство</div>
                            <div class="av-product__desc">Приглашаем всех желающих
                                посетить наш обучающий курс
                                по проектированию.</div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-lg-6 p-0">
                    <a href="#" class="row m-0">
                        <div class="col-6 d-flex flex-column justify-content-between align-items-center">
                            <div class="av-product__icon">
                                <img src="img/service-icon_03.svg" alt="">
                            </div>
                        </div>
                        <div class="col-6 d-flex flex-column justify-content-center align-items-center">
                            <div class="av-product__name">Широта и легкость выбора</div>
                            <div class="av-product__desc">Приглашаем всех желающих
                                посетить наш обучающий курс
                                по проектированию.</div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-lg-6 p-0">
                    <a href="#" class="row m-0">
                        <div class="col-6 d-flex flex-column justify-content-between align-items-center">
                            <div class="av-product__icon">
                                <img src="img/service-icon_04.svg" alt="">
                            </div>
                        </div>
                        <div class="col-6 d-flex flex-column justify-content-center align-items-center">
                            <div class="av-product__name">Кое-что ещё</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <div class="border-bottom margin-bottom">
        <section class="container-fluid p-0">
            <div class="btn-wrap">
                <a href="#" class="btn btn-default">Выбрать пенал</a>
            </div>
        </section>
    </div>
</main>
//= parts/footer.html