//= parts/head.html
//= parts/header.html
    <main>
      <section class="main__title">
        <div class="owl-carousel">
          <div class="bg_img" style="background-image: url('img/bitmap_8@2x.jpg')">
            <div class="container">
              <h1 class="h1"><small>01</small>Eclisse&nbsp;&mdash; современные<br>решения дизайна интерьера</h1>
              <div class="more"><a class="link_border or" href="/">Подробнее</a></div>
            </div>
          </div>
          <div class="bg_img" style="background-image: url('img/W3CRToE_C7LFVg8.jpg')">
            <div class="container">
              <h1 class="h1"><small>02</small>Раздвижные системы Eclisse&nbsp;&mdash; <br>выгодные условия для салонов дверей</h1>
              <div class="more"><a class="link_border or" href="/">Подробнее</a></div>
            </div>
          </div>
          <div class="bg_img" style="background-image: url('img/Y0_bd1qe3M1Nupyp.jpg')">
            <div class="container">
              <h1 class="h1"><small>03</small>Раздвижные системы Eclisse&nbsp;&mdash; <br>выгодные условия для салонов дверей</h1>
              <div class="more"><a class="link_border or" href="/">Подробнее</a></div>
            </div>
          </div>
        </div>
        <div class="owl-navs">
          <div class="container-fluid">
            <div class="nav"></div>
            <div class="dots"></div>
          </div>
        </div>
      </section>
      <section class="container-fluid block_news">
        <h2 class="h2">Партнёрство для всех</h2>
        <div class="row">
          <div class="col-12 col-md-6 image" style="background-image: url('img/bitmap_4.jpg')"></div>
          <div class="col-12 col-md-6 text"><span>01</span>
            <div class="info">
              <h3 class="h3">Фабрика дверей</h3>
              <p>Приглашаем Вас посетить стенд нашей компании &laquo;Группа компаний &bdquo;Торговый дом Вишера"&raquo;</p>
            </div>
            <div class="more"><a class="link_border or" href="/">Подробнее</a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6 image" style="background-image: url('img/bitmap_3.jpg')"></div>
          <div class="col-12 col-md-6 text"><span>02</span>
            <div class="info">
              <h3 class="h3">Монтажники</h3>
              <p>Приглашаем Вас посетить стенд нашей компании &laquo;Группа компаний &bdquo;Торговый дом Вишера"&raquo;</p>
            </div>
            <div class="more"><a class="link_border or" href="/">Подробнее</a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6 image" style="background-image: url('img/bitmap_2.jpg')"></div>
          <div class="col-12 col-md-6 text"><span>03</span>
            <div class="info">
              <h3 class="h3">Салон дверей</h3>
              <p>Приглашаем Вас посетить стенд нашей компании &laquo;Группа компаний &bdquo;Торговый дом Вишера"&raquo;</p>
            </div>
            <div class="more"><a class="link_border or" href="/">Подробнее</a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6 image" style="background-image: url('img/bitmap.jpg')"></div>
          <div class="col-12 col-md-6 text"><span>04</span>
            <div class="info">
              <h3 class="h3">Дизайн и&nbsp;проектирование</h3>
              <p>Приглашаем Вас посетить стенд нашей компании &laquo;Группа компаний &bdquo;Торговый дом Вишера"&raquo;</p>
            </div>
            <div class="more"><a class="link_border or" href="/">Подробнее</a></div>
          </div>
        </div>
      </section>
      <section class="container-fluid block_benefits">
        <h2 class="h2">Привелегии партнёрства</h2>
        <div class="row list__item">
          <div class="col-6 col-lg-3 list__item-item img" style="background-image:url(img/bitmap_7@2x.jpg)" data-toggle="#p1">
            <div class="ico">
              <svg>
                <use xlink:href="img/noun-settings-972186.svg#ico1"></use>
                <use class="fill" xlink:href="img/noun-settings-972186.svg#ico2"></use>
              </svg>
            </div>
            <div class="text toggle_target" id="p1">
              <p>На&nbsp;сегодняшний день Eclisse представляет собой известный бренд, лидер индустрии, включающий 10 дочерних компаний, более чем 30 представительств и&nbsp;тысячи дистрибьютеров. Россия, Италия, Франция, Польша, Австрия, Чехия, Испания&hellip;</p>
            </div>
            <h4 class="h4">Техническая поддержка
            </h4>
            <div class="list__item-mob">
              <div class="img" style="background-image:url(img/bitmap_7@2x.jpg)"></div>
              <p>На&nbsp;сегодняшний день Eclisse представляет собой известный бренд, лидер индустрии, включающий 10 дочерних компаний, более чем 30 представительств и&nbsp;тысячи дистрибьютеров. Россия, Италия, Франция, Польша, Австрия, Чехия, Испания&hellip;</p>
            </div>
          </div>
          <div class="col-6 col-lg-3 list__item-item img" style="background-image:url(img/bitmap_7@2x.jpg)" data-toggle="#p2">
            <div class="ico">
              <svg>
                <use xlink:href="img/noun-chat-972207.svg#ico1"></use>
                <use class="fill" xlink:href="img/noun-chat-972207.svg#ico2"></use>
              </svg>
            </div>
            <div class="text toggle_target" id="p2">
              <p>На&nbsp;сегодняшний день Eclisse представляет собой известный бренд, лидер индустрии, включающий 10 дочерних компаний, более чем 30 представительств и&nbsp;тысячи дистрибьютеров. Россия, Италия, Франция, Польша, Австрия, Чехия, Испания&hellip;</p>
            </div>
            <h4 class="h4">Академия Eclisse
            </h4>
            <div class="list__item-mob">
              <div class="img" style="background-image:url(img/bitmap_7@2x.jpg)"></div>
              <p>На&nbsp;сегодняшний день Eclisse представляет собой известный бренд, лидер индустрии, включающий 10 дочерних компаний, более чем 30 представительств и&nbsp;тысячи дистрибьютеров. Россия, Италия, Франция, Польша, Австрия, Чехия, Испания&hellip;</p>
            </div>
          </div>
          <div class="col-6 col-lg-3 list__item-item img" style="background-image:url(img/bitmap_7@2x.jpg)" data-toggle="#p3">
            <div class="ico">
              <svg>
                <use xlink:href="img/noun-planet-972496.svg#ico1"></use>
                <use class="fill" xlink:href="img/noun-planet-972496.svg#ico2"></use>
              </svg>
            </div>
            <div class="text toggle_target" id="p3">
              <p>На&nbsp;сегодняшний день Eclisse представляет собой известный бренд, лидер индустрии, включающий 10 дочерних компаний, более чем 30 представительств и&nbsp;тысячи дистрибьютеров. Россия, Италия, Франция, Польша, Австрия, Чехия, Испания&hellip;</p>
            </div>
            <h4 class="h4">Семья Eclisse
            </h4>
            <div class="list__item-mob">
              <div class="img" style="background-image:url(img/bitmap_7@2x.jpg)"></div>
              <p>На&nbsp;сегодняшний день Eclisse представляет собой известный бренд, лидер индустрии, включающий 10 дочерних компаний, более чем 30 представительств и&nbsp;тысячи дистрибьютеров. Россия, Италия, Франция, Польша, Австрия, Чехия, Испания&hellip;</p>
            </div>
          </div>
          <div class="col-6 col-lg-3 list__item-item img" style="background-image:url(img/bitmap_7@2x.jpg)" data-toggle="#p4">
            <div class="ico">
              <svg>
                <use xlink:href="img/noun-location-on-a-map-972541.svg#ico1"></use>
                <use class="fill" xlink:href="img/noun-location-on-a-map-972541.svg#ico2"></use>
              </svg>
            </div>
            <div class="text toggle_target" id="p4">
              <p>На&nbsp;сегодняшний день Eclisse представляет собой известный бренд, лидер индустрии, включающий 10 дочерних компаний, более чем 30 представительств и&nbsp;тысячи дистрибьютеров. Россия, Италия, Франция, Польша, Австрия, Чехия, Испания&hellip;</p>
            </div>
            <h4 class="h4">Карта партнёров
            </h4>
            <div class="list__item-mob">
              <div class="img" style="background-image:url(img/bitmap_7@2x.jpg)"></div>
              <p>На&nbsp;сегодняшний день Eclisse представляет собой известный бренд, лидер индустрии, включающий 10 дочерних компаний, более чем 30 представительств и&nbsp;тысячи дистрибьютеров. Россия, Италия, Франция, Польша, Австрия, Чехия, Испания&hellip;</p>
            </div>
          </div>
          <div class="col-6 col-lg-3 list__item-item img" style="background-image:url(img/bitmap_7@2x.jpg)" data-toggle="#p5">
            <div class="ico">
              <svg>
                <use xlink:href="img/noun-key-972577.svg#ico1"></use>
                <use class="fill" xlink:href="img/noun-key-972577.svg#ico2"></use>
              </svg>
            </div>
            <div class="text toggle_target" id="p5">
              <p>На&nbsp;сегодняшний день Eclisse представляет собой известный бренд, лидер индустрии, включающий 10 дочерних компаний, более чем 30 представительств и&nbsp;тысячи дистрибьютеров. Россия, Италия, Франция, Польша, Австрия, Чехия, Испания&hellip;</p>
            </div>
            <h4 class="h4">Личный кабинет партнера
            </h4>
            <div class="list__item-mob">
              <div class="img" style="background-image:url(img/bitmap_7@2x.jpg)"></div>
              <p>На&nbsp;сегодняшний день Eclisse представляет собой известный бренд, лидер индустрии, включающий 10 дочерних компаний, более чем 30 представительств и&nbsp;тысячи дистрибьютеров. Россия, Италия, Франция, Польша, Австрия, Чехия, Испания&hellip;</p>
            </div>
          </div>
          <div class="col-6 col-lg-3 list__item-item img" style="background-image:url(img/bitmap_7@2x.jpg)" data-toggle="#p6">
            <div class="ico">
              <svg>
                <use xlink:href="img/noun-preferences-972181-1.svg#ico1"></use>
                <use class="fill" xlink:href="img/noun-preferences-972181-1.svg#ico2"></use>
              </svg>
            </div>
            <div class="text toggle_target" id="p6">
              <p>На&nbsp;сегодняшний день Eclisse представляет собой известный бренд, лидер индустрии, включающий 10 дочерних компаний, более чем 30 представительств и&nbsp;тысячи дистрибьютеров. Россия, Италия, Франция, Польша, Австрия, Чехия, Испания&hellip;</p>
            </div>
            <h4 class="h4">Конфигуратор продукции
            </h4>
            <div class="list__item-mob">
              <div class="img" style="background-image:url(img/bitmap_7@2x.jpg)"></div>
              <p>На&nbsp;сегодняшний день Eclisse представляет собой известный бренд, лидер индустрии, включающий 10 дочерних компаний, более чем 30 представительств и&nbsp;тысячи дистрибьютеров. Россия, Италия, Франция, Польша, Австрия, Чехия, Испания&hellip;</p>
            </div>
          </div>
        </div>
      </section>
      <section class="container-fluid block_portfolio">
        <h2 class="h2">Новые работы с&nbsp;Eclisse</h2>
        <div class="row">
          <div class="col-6 col-md-6 col-lg-3">
            <div class="image" style="background-image: url(&quot;img/bitmap-copy-7@2x.jpg&quot;)"></div>
            <div class="desc">
              <div class="wrap"> <a class="fab fa-instagram icon" href="http://instagra.com/undefined"></a>
                <div class="date">12/07</div>
                <div class="avatar"><img src="img/bitmap-copy-19@2x.jpg"></div>
                <h4 class="h4">Виктория Егорова</h4>
                <div class="url"><a href="http://instagra.com/undefined">@martinka.cej</a></div>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-6 col-lg-3">
            <div class="image" style="background-image: url(&quot;img/bitmap-copy-8@2x.jpg&quot;)"></div>
            <div class="desc">
              <div class="wrap"> <a class="fab fa-instagram icon" href="http://instagra.com/undefined"></a>
                <div class="date">12/07</div>
                <div class="avatar"><img src="img/bitmap-copy-20@2x.jpg"></div>
                <h4 class="h4">Matt Wojtaś</h4>
                <div class="url"><a href="http://instagra.com/undefined">@martinka.cej</a></div>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-6 col-lg-3">
            <div class="image" style="background-image: url(&quot;img/bitmap-copy-17@2x.jpg&quot;)"></div>
            <div class="desc">
              <div class="wrap"> <a class="fab fa-instagram icon" href="http://instagra.com/undefined"></a>
                <div class="date">12/07</div>
                <div class="avatar"><img src="img/bitmap-copy-21@2x.jpg"></div>
                <h4 class="h4">Виктория Егорова</h4>
                <div class="url"><a href="http://instagra.com/undefined">@martinka.cej</a></div>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-6 col-lg-3">
            <div class="image" style="background-image: url(&quot;img/bitmap-copy-18@2x.jpg&quot;)"></div>
            <div class="desc">
              <div class="wrap"> <a class="fab fa-instagram icon" href="http://instagra.com/undefined"></a>
                <div class="date">12/07</div>
                <div class="avatar"><img src="img/bitmap-copy-22@2x.jpg"></div>
                <h4 class="h4">Brice S&eacute;raphin</h4>
                <div class="url"><a href="http://instagra.com/undefined">@martinka.cej</a></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="container-fluid block_benefits">
        <h2 class="h2">Наши преимущества</h2>
        <div class="row list__item">
          <div class="col-6 col-lg-3 list__item-item" data-toggle="#b1">
            <div class="ico">
              <svg>
                <use xlink:href="img/noun-verification-972576.svg#ico1"></use>
                <use class="fill" xlink:href="img/noun-verification-972576.svg#ico2"></use>
              </svg>
            </div>
            <div class="text toggle_target" id="b1">
              <p>На&nbsp;сегодняшний день Eclisse представляет собой известный бренд, лидер индустрии, включающий 10 дочерних компаний, более чем 30 представительств и&nbsp;тысячи дистрибьютеров. Россия, Италия, Франция, Польша, Австрия, Чехия, Испания&hellip;</p>
            </div>
            <h4 class="h4">Качество материалов
            </h4>
            <div class="list__item-mob">
              <p>На&nbsp;сегодняшний день Eclisse представляет собой известный бренд, лидер индустрии, включающий 10 дочерних компаний, более чем 30 представительств и&nbsp;тысячи дистрибьютеров. Россия, Италия, Франция, Польша, Австрия, Чехия, Испания&hellip;</p>
            </div>
          </div>
          <div class="col-6 col-lg-3 list__item-item" data-toggle="#b2">
            <div class="ico">
              <svg>
                <use xlink:href="img/noun-joyful-972254.svg#ico1"></use>
                <use class="fill" xlink:href="img/noun-joyful-972254.svg#ico2"></use>
              </svg>
            </div>
            <div class="text toggle_target" id="b2">
              <p>На&nbsp;сегодняшний день Eclisse представляет собой известный бренд, лидер индустрии, включающий 10 дочерних компаний, более чем 30 представительств и&nbsp;тысячи дистрибьютеров. Россия, Италия, Франция, Польша, Австрия, Чехия, Испания&hellip;</p>
            </div>
            <h4 class="h4">Одна семья
            </h4>
            <div class="list__item-mob">
              <p>На&nbsp;сегодняшний день Eclisse представляет собой известный бренд, лидер индустрии, включающий 10 дочерних компаний, более чем 30 представительств и&nbsp;тысячи дистрибьютеров. Россия, Италия, Франция, Польша, Австрия, Чехия, Испания&hellip;</p>
            </div>
          </div>
          <div class="col-6 col-lg-3 list__item-item" data-toggle="#b3">
            <div class="ico">
              <svg>
                <use xlink:href="img/noun-flag-972326.svg#ico1"></use>
                <use class="fill" xlink:href="img/noun-flag-972326.svg#ico2"></use>
              </svg>
            </div>
            <div class="text toggle_target" id="b3">
              <p>На&nbsp;сегодняшний день Eclisse представляет собой известный бренд, лидер индустрии, включающий 10 дочерних компаний, более чем 30 представительств и&nbsp;тысячи дистрибьютеров. Россия, Италия, Франция, Польша, Австрия, Чехия, Испания&hellip;</p>
            </div>
            <h4 class="h4">Инновационные идеи
            </h4>
            <div class="list__item-mob">
              <p>На&nbsp;сегодняшний день Eclisse представляет собой известный бренд, лидер индустрии, включающий 10 дочерних компаний, более чем 30 представительств и&nbsp;тысячи дистрибьютеров. Россия, Италия, Франция, Польша, Австрия, Чехия, Испания&hellip;</p>
            </div>
          </div>
          <div class="col-6 col-lg-3 list__item-item" data-toggle="#b4">
            <div class="ico">
              <svg>
                <use xlink:href="img/noun-help-972389.svg#ico1"></use>
                <use class="fill" xlink:href="img/noun-help-972389.svg#ico2"></use>
              </svg>
            </div>
            <div class="text toggle_target" id="b4">
              <p>На&nbsp;сегодняшний день Eclisse представляет собой известный бренд, лидер индустрии, включающий 10 дочерних компаний, более чем 30 представительств и&nbsp;тысячи дистрибьютеров. Россия, Италия, Франция, Польша, Австрия, Чехия, Испания&hellip;</p>
            </div>
            <h4 class="h4">Безопасность
            </h4>
            <div class="list__item-mob">
              <p>На&nbsp;сегодняшний день Eclisse представляет собой известный бренд, лидер индустрии, включающий 10 дочерних компаний, более чем 30 представительств и&nbsp;тысячи дистрибьютеров. Россия, Италия, Франция, Польша, Австрия, Чехия, Испания&hellip;</p>
            </div>
          </div>
          <div class="col-6 col-lg-3 list__item-item" data-toggle="#b5">
            <div class="ico">
              <svg>
                <use xlink:href="img/noun-cup-972549.svg#ico1"></use>
                <use class="fill" xlink:href="img/noun-cup-972549.svg#ico2"></use>
              </svg>
            </div>
            <div class="text toggle_target" id="b5">
              <p>На&nbsp;сегодняшний день Eclisse представляет собой известный бренд, лидер индустрии, включающий 10 дочерних компаний, более чем 30 представительств и&nbsp;тысячи дистрибьютеров. Россия, Италия, Франция, Польша, Австрия, Чехия, Испания&hellip;</p>
            </div>
            <h4 class="h4">Стремление к&nbsp;совершенству
            </h4>
            <div class="list__item-mob">
              <p>На&nbsp;сегодняшний день Eclisse представляет собой известный бренд, лидер индустрии, включающий 10 дочерних компаний, более чем 30 представительств и&nbsp;тысячи дистрибьютеров. Россия, Италия, Франция, Польша, Австрия, Чехия, Испания&hellip;</p>
            </div>
          </div>
          <div class="col-6 col-lg-3 list__item-item" data-toggle="#b6">
            <div class="ico">
              <svg>
                <use xlink:href="img/noun-shield-972579.svg#ico1"></use>
                <use class="fill" xlink:href="img/noun-shield-972579.svg#ico2"></use>
              </svg>
            </div>
            <div class="text toggle_target" id="b6">
              <p>На&nbsp;сегодняшний день Eclisse представляет собой известный бренд, лидер индустрии, включающий 10 дочерних компаний, более чем 30 представительств и&nbsp;тысячи дистрибьютеров. Россия, Италия, Франция, Польша, Австрия, Чехия, Испания&hellip;</p>
            </div>
            <h4 class="h4">Долговечность
            </h4>
            <div class="list__item-mob">
              <p>На&nbsp;сегодняшний день Eclisse представляет собой известный бренд, лидер индустрии, включающий 10 дочерних компаний, более чем 30 представительств и&nbsp;тысячи дистрибьютеров. Россия, Италия, Франция, Польша, Австрия, Чехия, Испания&hellip;</p>
            </div>
          </div>
        </div>
      </section>
      <section class="container-fluid block_news">
        <h2 class="h2">Новости</h2>
        <div class="row">
          <div class="col-12 col-md-6 image" style="background-image: url(img/bitmap_5.jpg)"></div>
          <div class="col-12 col-md-6 text"><span>22/07</span>
            <div class="info">
              <h3 class="h3">Международная строительная и&nbsp;интерьерная выставка MosBuild</h3>
            </div>
            <div class="more"><a class="link_border or" href="/">Подробнее</a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6 image" style="background-image: url(img/bitmap_6.jpg)"></div>
          <div class="col-12 col-md-6 text"><span>25/07</span>
            <div class="info">
              <h3 class="h3">Открытие нового выставочного зала в&nbsp;Казахстане</h3>
            </div>
            <div class="more"><a class="link_border or" href="/">Подробнее</a></div>
          </div>
        </div>
      </section>
      <section class="container-fluid block_clients">
        <h2 class="h2">Нас выбрали</h2>
        <div class="row">
          <div class="col-6 col-md-6 col-lg-3"><a class="logo" href="/"><img src="img/logos/mask@2x.jpg"></a></div>
          <div class="col-6 col-md-6 col-lg-3"><a class="logo" href="/"><img src="img/logos/bitmap-copy-17_6@2x.jpg"></a></div>
          <div class="col-6 col-md-6 col-lg-3"><a class="logo" href="/"><img src="img/logos/bitmap-copy-17_5@2x.jpg"></a></div>
          <div class="col-6 col-md-6 col-lg-3"><a class="logo" href="/"><img src="img/logos/bitmap-copy-17@2x.jpg"></a></div>
          <div class="col-6 col-md-6 col-lg-3"><a class="logo" href="/"><img src="img/logos/bitmap-copy-17_4@2x.jpg"></a></div>
          <div class="col-6 col-md-6 col-lg-3"><a class="logo" href="/"><img src="img/logos/bitmap-copy-17_3@2x.jpg"></a></div>
          <div class="col-6 col-md-6 col-lg-3"><a class="logo" href="/"><img src="img/logos/bitmap-copy-17_2@2x.jpg"></a></div>
        </div>
      </section>
      <section class="container-fluid partners_request">
        <h2 class="h2">Станьте нашим партнёром</h2>
        <form novalidate>
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="input_field">
                <input class="fluid" type="text" placeholder="Имя" required>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="input_field">
                <input class="fluid" type="text" placeholder="Комментарий">
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
              <div class="input_field">
                <input class="fluid" type="email" placeholder="Эл. почта" required>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
              <div class="input_field">
                <input class="fluid" type="tel" placeholder="Телефон" required>
              </div>
            </div>
            <div class="col-12 col-lg-4">
              <div class="input_field">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" required><span class="cr"><i class="cr-icon fas fa-check"></i></span>Я&nbsp;даю согласие на&nbsp;обработку своих данных
                  </label>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-2">
              <div class="input_field">
                <button class="float_right" type="submit">Отправить</button>
              </div>
            </div>
          </div>
        </form>
      </section>
    </main>
//= parts/footer.html