//= parts/head.html
//= parts/header.html

<ul>
    <li><a href="index.html">INDEX</a></li>
    <li><a href="academy.html">ACADEMY</a></li>
    <li><a href="catalog.html">CATALOG</a></li>
    <li><a href="community.html">COMMUNITY</a></li>
    <li><a href="family.html">FAMILY</a></li>
    <li><a href="partners.html">PARTNERS</a></li>
    <li><a href="product.html">PRODUCT</a></li>
    <li><a href="template.html">TEMPLATE</a></li>
    <li><a href="contacts.html">CONTACTS</a></li>
    <li><a href="documentation.html">DOCUMENTATION</a></li>
    <li><a href="support.html">SUPPORT</a></li>
    <li><a href="news.html">NEWS</a></li>
    <li><a href="partnership.html">PARTNERSHIP</a></li>

</ul>

//= parts/footer.html