//= parts/head.html
//= parts/header.html
<main>
    <div class="news">
        <section class="container av-breadcrumbs">
            <a href="#">Главная</a>
            <span>Новости</span>
        </section>
        <section class="container">
            <h1>Новости</h1>
        </section>
        <section class="av-product-tabs">
            <div class="av-product__tabs-caption">
                <span  class="av-product__tab active">Общие</span>
                <span  class="av-product__tab">Выставки
                    <span class="tab-decimal">4</span>
                </span>
                <span  class="av-product__tab">События</span>
            </div>
            <section class="container-fluid av-product p-0">
                <div class="av-product__content active">
                    <section class="container-fluid block_news">
                        <div class="row">
                            <div class="col-12 col-md-6 image" style="background-image: url(img/bitmap_5.jpg)"></div>
                            <div class="col-12 col-md-6 text"><span>22/07</span>
                                <div class="info">
                                    <h3 class="h3">Международная строительная и&nbsp;интерьерная выставка MosBuild</h3>
                                </div>
                                <div class="more"><a class="link_border or" href="/">Подробнее</a></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 image" style="background-image: url(img/bitmap_6.jpg)"></div>
                            <div class="col-12 col-md-6 text"><span>25/07</span>
                                <div class="info">
                                    <h3 class="h3">Открытие нового выставочного зала в&nbsp;Казахстане</h3>
                                </div>
                                <div class="more"><a class="link_border or" href="/">Подробнее</a></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 image" style="background-image: url(img/sklad-img_02.jpg)"></div>
                            <div class="col-12 col-md-6 text"><span>22/07</span>
                                <div class="info">
                                    <h3 class="h3">Международная строительная и&nbsp;интерьерная выставка MosBuild</h3>
                                </div>
                                <div class="more"><a class="link_border or" href="/">Подробнее</a></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 image" style="background-image: url(img/bitmap_2.jpg)"></div>
                            <div class="col-12 col-md-6 text"><span>25/07</span>
                                <div class="info">
                                    <h3 class="h3">Открытие нового выставочного зала в&nbsp;Казахстане</h3>
                                </div>
                                <div class="more"><a class="link_border or" href="/">Подробнее</a></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 image" style="background-image: url(img/bitmap_5.jpg)"></div>
                            <div class="col-12 col-md-6 text"><span>22/07</span>
                                <div class="info">
                                    <h3 class="h3">Международная строительная и&nbsp;интерьерная выставка MosBuild</h3>
                                </div>
                                <div class="more"><a class="link_border or" href="/">Подробнее</a></div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="av-product__content">
                    <section class="container-fluid block_news">
                        <div class="row">
                            <div class="col-12 col-md-6 image" style="background-image: url(img/bitmap_5.jpg)"></div>
                            <div class="col-12 col-md-6 text"><span>22/07</span>
                                <div class="info">
                                    <h3 class="h3">Международная строительная и&nbsp;интерьерная выставка MosBuild</h3>
                                </div>
                                <div class="more"><a class="link_border or" href="/">Подробнее</a></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 image" style="background-image: url(img/bitmap_6.jpg)"></div>
                            <div class="col-12 col-md-6 text"><span>25/07</span>
                                <div class="info">
                                    <h3 class="h3">Открытие нового выставочного зала в&nbsp;Казахстане</h3>
                                </div>
                                <div class="more"><a class="link_border or" href="/">Подробнее</a></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 image" style="background-image: url(img/sklad-img_02.jpg)"></div>
                            <div class="col-12 col-md-6 text"><span>22/07</span>
                                <div class="info">
                                    <h3 class="h3">Международная строительная и&nbsp;интерьерная выставка MosBuild</h3>
                                </div>
                                <div class="more"><a class="link_border or" href="/">Подробнее</a></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 image" style="background-image: url(img/bitmap_2.jpg)"></div>
                            <div class="col-12 col-md-6 text"><span>25/07</span>
                                <div class="info">
                                    <h3 class="h3">Открытие нового выставочного зала в&nbsp;Казахстане</h3>
                                </div>
                                <div class="more"><a class="link_border or" href="/">Подробнее</a></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 image" style="background-image: url(img/bitmap_5.jpg)"></div>
                            <div class="col-12 col-md-6 text"><span>22/07</span>
                                <div class="info">
                                    <h3 class="h3">Международная строительная и&nbsp;интерьерная выставка MosBuild</h3>
                                </div>
                                <div class="more"><a class="link_border or" href="/">Подробнее</a></div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="av-product__content">
                    <section class="container-fluid block_news">
                        <div class="row">
                            <div class="col-12 col-md-6 image" style="background-image: url(img/bitmap_5.jpg)"></div>
                            <div class="col-12 col-md-6 text"><span>22/07</span>
                                <div class="info">
                                    <h3 class="h3">Международная строительная и&nbsp;интерьерная выставка MosBuild</h3>
                                </div>
                                <div class="more"><a class="link_border or" href="/">Подробнее</a></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 image" style="background-image: url(img/bitmap_6.jpg)"></div>
                            <div class="col-12 col-md-6 text"><span>25/07</span>
                                <div class="info">
                                    <h3 class="h3">Открытие нового выставочного зала в&nbsp;Казахстане</h3>
                                </div>
                                <div class="more"><a class="link_border or" href="/">Подробнее</a></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 image" style="background-image: url(img/sklad-img_02.jpg)"></div>
                            <div class="col-12 col-md-6 text"><span>22/07</span>
                                <div class="info">
                                    <h3 class="h3">Международная строительная и&nbsp;интерьерная выставка MosBuild</h3>
                                </div>
                                <div class="more"><a class="link_border or" href="/">Подробнее</a></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 image" style="background-image: url(img/bitmap_2.jpg)"></div>
                            <div class="col-12 col-md-6 text"><span>25/07</span>
                                <div class="info">
                                    <h3 class="h3">Открытие нового выставочного зала в&nbsp;Казахстане</h3>
                                </div>
                                <div class="more"><a class="link_border or" href="/">Подробнее</a></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 image" style="background-image: url(img/bitmap_5.jpg)"></div>
                            <div class="col-12 col-md-6 text"><span>22/07</span>
                                <div class="info">
                                    <h3 class="h3">Международная строительная и&nbsp;интерьерная выставка MosBuild</h3>
                                </div>
                                <div class="more"><a class="link_border or" href="/">Подробнее</a></div>
                            </div>
                        </div>
                    </section>
                </div>
            </section>
        </section>
    </div>
</main>
//= parts/footer.html