//= parts/head.html
//= parts/header.html

<main>
    <section class="container av-breadcrumbs">
        <a href="#">Главная</a>
        <span>Партнеры</span>
    </section>
    <section class="container subheader">
        <h1>Карта партнёров</h1>
        <p>На сегодняшний день Eclisse представляет собой известный бренд, лидер индустрии, включающий 10 дочерних компаний, более чем 30 представительств и тысячи дистрибьютеров.</p>
        <div class="av-href">
            <a class="link_border or" href="#">Поделиться</a>
        </div>
    </section>
    <section class="map">
        <div class="map__cover"></div>
        <div class="map__total">
            <div id="map"></div>
        </div>
        <div class="filters__selectors filters__selectors--desc">
            <div class="selector">
                <a href="#" class="selector__link">
                    Регион
                    <span class="arrow"></span>
                </a>
                <div class="selector__container">
                    <div class="selector__head">
                        <span>Россия</span>
                        <button class="selector__closer js-close-selector">
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10">
                                <g fill="none" fill-rule="evenodd" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                    <path d="M9.536 1.464L2.464 8.536M2.464 1.464l7.072 7.072"></path>
                                </g>
                            </svg>
                        </button>
                    </div>
                    <div class="selector__box js-scroll-this">
                        <ul class="selector__list">
                            <li> <a href="#" class="js-town">Абакан</a> </li>
                            <li><a href="#" class="js-town"> Азов</a></li>
                            <li><a href="#" class="js-town"> Александров</a></li>
                            <li><a href="#" class="js-town"> Алексин</a></li>
                            <li><a href="#" class="js-town"> Альметьевск</a></li>
                            <li><a href="#" class="js-town"> Анапа</a></li>
                            <li><a href="#" class="js-town"> Ангарск</a></li>
                            <li><a href="#" class="js-town"> Анжеро-Судженск</a></li>
                            <li><a href="#" class="js-town"> Апатиты</a></li>
                            <li><a href="#" class="js-town"> Арзамас</a></li>
                            <li><a href="#" class="js-town"> Армавир</a></li>
                            <li><a href="#" class="js-town"> Арсеньев</a></li>
                            <li><a href="#" class="js-town"> Артем</a></li>
                            <li><a href="#" class="js-town"> Архангельск</a></li>
                            <li><a href="#" class="js-town"> Астрахань</a></li>
                            <li><a href="#" class="js-town"> Ачинск</a></li>
                            <li><a href="#" class="js-town"> Балаково</a></li>
                            <li><a href="#" class="js-town"> Балахна</a></li>
                            <li><a href="#" class="js-town"> Балашиха</a></li>
                            <li><a href="#" class="js-town"> Балашов</a></li>
                            <li><a href="#" class="js-town"> Балашов</a></li>
                            <li><a href="#" class="js-town"> Балашов</a></li>
                            <li><a href="#" class="js-town"> Балашов</a></li>
                            <li><a href="#" class="js-town"> Балашов</a></li>
                            <li><a href="#" class="js-town"> Балашов</a></li>
                            <li><a href="#" class="js-town"> Балашов</a></li>
                            <li><a href="#" class="js-town"> Балашов</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="selector">
                <a href="#" class="selector__link">
                    Бренд
                    <span class="arrow"></span>
                </a>
                <div class="selector__container selector__container--next">
                    <div class="selector__box js-scroll-this">
                        <div class="selector__checkers">
                            <div class="selector__head">
                                <span>Замки</span>
                                <button class="selector__closer js-checks-close">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10">
                                        <g fill="none" fill-rule="evenodd" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                            <path d="M9.536 1.464L2.464 8.536M2.464 1.464l7.072 7.072"></path>
                                        </g>
                                    </svg>
                                </button>
                            </div>
                            <div class="selector__labelbox">
                                <label>
                                    <input type="checkbox"> <span>Weather Shield<i></i></span>
                                </label>
                                <label>
                                    <input type="checkbox"> <span>ProVia<i></i></span>
                                </label>
                                <label>
                                    <input type="checkbox"> <span>Simonton<i></i></span>
                                </label>
                                <label>
                                    <input type="checkbox"> <span>Peachtree<i></i></span>
                                </label>
                                <label>
                                    <input type="checkbox"> <span>Ply Gem<i></i></span>
                                </label>
                                <label>
                                    <input type="checkbox"> <span>Parrett<i></i></span>
                                </label>
                                <label>
                                    <input type="checkbox"> <span>Visions<i></i></span>
                                </label>
                                <label>
                                    <input type="checkbox"> <span>LaCantina<i></i></span>
                                </label>
                                <label>
                                    <input type="checkbox"> <span>Simpson<i></i></span>
                                </label>
                            </div>
                        </div>
                        <div class="selector__checkers">
                            <div class="selector__head">
                                <span>Двери</span>
                                <button class="selector__closer js-checks-close">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10">
                                        <g fill="none" fill-rule="evenodd" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                            <path d="M9.536 1.464L2.464 8.536M2.464 1.464l7.072 7.072"></path>
                                        </g>
                                    </svg>
                                </button>
                            </div>
                            <div class="selector__labelbox">
                                <label>
                                    <input type="checkbox"> <span>Weather Shield<i></i></span>
                                </label>
                                <label>
                                    <input type="checkbox"> <span>ProVia<i></i></span>
                                </label>
                                <label>
                                    <input type="checkbox"> <span>Simonton<i></i></span>
                                </label>
                                <label>
                                    <input type="checkbox"> <span>Peachtree<i></i></span>
                                </label>
                                <label>
                                    <input type="checkbox"> <span>Ply Gem<i></i></span>
                                </label>
                                <label>
                                    <input type="checkbox"> <span>Parrett<i></i></span>
                                </label>
                                <label>
                                    <input type="checkbox"> <span>Visions<i></i></span>
                                </label>
                                <label>
                                    <input type="checkbox"> <span>LaCantina<i></i></span>
                                </label>
                                <label>
                                    <input type="checkbox"> <span>Simpson<i></i></span>
                                </label>
                            </div>
                        </div>
                        <div class="selector__checkers">
                            <div class="selector__head">
                                <span>Саморезы</span>
                                <button class="selector__closer js-checks-close">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10">
                                        <g fill="none" fill-rule="evenodd" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                            <path d="M9.536 1.464L2.464 8.536M2.464 1.464l7.072 7.072"></path>
                                        </g>
                                    </svg>
                                </button>
                            </div>
                            <div class="selector__labelbox">
                                <label>
                                    <input type="checkbox"> <span>Weather Shield<i></i></span>
                                </label>
                                <label>
                                    <input type="checkbox"> <span>ProVia<i></i></span>
                                </label>
                                <label>
                                    <input type="checkbox"> <span>Simonton<i></i></span>
                                </label>
                                <label>
                                    <input type="checkbox"> <span>Peachtree<i></i></span>
                                </label>
                                <label>
                                    <input type="checkbox"> <span>Ply Gem<i></i></span>
                                </label>
                                <label>
                                    <input type="checkbox"> <span>Parrett<i></i></span>
                                </label>
                                <label>
                                    <input type="checkbox"> <span>Visions<i></i></span>
                                </label>
                                <label>
                                    <input type="checkbox"> <span>LaCantina<i></i></span>
                                </label>
                                <label>
                                    <input type="checkbox"> <span>Simpson<i></i></span>
                                </label>
                            </div>
                        </div>
                        <div class="selector__checkers">
                            <div class="selector__head">
                                <span>Обрамления</span>
                                <button class="selector__closer js-checks-close">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10">
                                        <g fill="none" fill-rule="evenodd" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                            <path d="M9.536 1.464L2.464 8.536M2.464 1.464l7.072 7.072"></path>
                                        </g>
                                    </svg>
                                </button>
                            </div>
                            <div class="selector__labelbox">
                                <label>
                                    <input type="checkbox"> <span>Weather Shield<i></i></span>
                                </label>
                                <label>
                                    <input type="checkbox"> <span>ProVia<i></i></span>
                                </label>
                                <label>
                                    <input type="checkbox"> <span>Simonton<i></i></span>
                                </label>
                                <label>
                                    <input type="checkbox"> <span>Peachtree<i></i></span>
                                </label>
                                <label>
                                    <input type="checkbox"> <span>Ply Gem<i></i></span>
                                </label>
                                <label>
                                    <input type="checkbox"> <span>Parrett<i></i></span>
                                </label>
                                <label>
                                    <input type="checkbox"> <span>Visions<i></i></span>
                                </label>
                                <label>
                                    <input type="checkbox"> <span>LaCantina<i></i></span>
                                </label>
                                <label>
                                    <input type="checkbox"> <span>Simpson<i></i></span>
                                </label>
                            </div>
                        </div>
                        <div class="selector__checkers">
                            <div class="selector__head">
                                <span>Ручки</span>
                                <button class="selector__closer js-checks-close">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10">
                                        <g fill="none" fill-rule="evenodd" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                            <path d="M9.536 1.464L2.464 8.536M2.464 1.464l7.072 7.072"></path>
                                        </g>
                                    </svg>
                                </button>
                            </div>
                            <div class="selector__labelbox">
                                <label>
                                    <input type="checkbox"> <span>Weather Shield<i></i></span>
                                </label>
                                <label>
                                    <input type="checkbox"> <span>ProVia<i></i></span>
                                </label>
                                <label>
                                    <input type="checkbox"> <span>Simonton<i></i></span>
                                </label>
                                <label>
                                    <input type="checkbox"> <span>Peachtree<i></i></span>
                                </label>
                                <label>
                                    <input type="checkbox"> <span>Ply Gem<i></i></span>
                                </label>
                                <label>
                                    <input type="checkbox"> <span>Parrett<i></i></span>
                                </label>
                                <label>
                                    <input type="checkbox"> <span>Visions<i></i></span>
                                </label>
                                <label>
                                    <input type="checkbox"> <span>LaCantina<i></i></span>
                                </label>
                                <label>
                                    <input type="checkbox"> <span>Simpson<i></i></span>
                                </label>
                            </div>
                        </div>
                        <div class="selector__checkers">
                            <div class="selector__head">
                                <span>Доводчики</span>
                                <button class="selector__closer js-checks-close">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10">
                                        <g fill="none" fill-rule="evenodd" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                            <path d="M9.536 1.464L2.464 8.536M2.464 1.464l7.072 7.072"></path>
                                        </g>
                                    </svg>
                                </button>
                            </div>
                            <div class="selector__labelbox">
                                <label>
                                    <input type="checkbox"> <span>Weather Shield<i></i></span>
                                </label>
                                <label>
                                    <input type="checkbox"> <span>ProVia<i></i></span>
                                </label>
                                <label>
                                    <input type="checkbox"> <span>Simonton<i></i></span>
                                </label>
                                <label>
                                    <input type="checkbox"> <span>Peachtree<i></i></span>
                                </label>
                                <label>
                                    <input type="checkbox"> <span>Ply Gem<i></i></span>
                                </label>
                                <label>
                                    <input type="checkbox"> <span>Parrett<i></i></span>
                                </label>
                                <label>
                                    <input type="checkbox"> <span>Visions<i></i></span>
                                </label>
                                <label>
                                    <input type="checkbox"> <span>LaCantina<i></i></span>
                                </label>
                                <label>
                                    <input type="checkbox"> <span>Simpson<i></i></span>
                                </label>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="filters__box">
            <div class="filters">
                <div class="filters__search">
                <div class="search">
                    <input type="text" placeholder="Магазины" class="js-paint-search">
                    <button class="search__img js-clear-search">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                            <g fill="none" fill-rule="evenodd"  stroke-width="2">
                                <circle cx="7.5" cy="7.5" r="6.5"/>
                                <path stroke-linecap="round" stroke-linejoin="round" d="M17 17l-4-4"/>
                            </g>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10">
                            <g fill="none" fill-rule="evenodd" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                <path d="M9.536 1.464L2.464 8.536M2.464 1.464l7.072 7.072"></path>
                            </g>
                        </svg>
                    </button>
                </div>
                <div class="filters__selectors filters__selectors--mob">
                    <div class="selector">
                        <a href="#" class="selector__link">
                            Регион
                            <span class="arrow"></span>
                        </a>
                        <div class="selector__container">
                            <div class="selector__head">
                                <span>Россия</span>
                                <button class="selector__closer js-close-selector">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10">
                                        <g fill="none" fill-rule="evenodd" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                            <path d="M9.536 1.464L2.464 8.536M2.464 1.464l7.072 7.072"></path>
                                        </g>
                                    </svg>
                                </button>
                            </div>
                            <div class="selector__box js-scroll-this">
                                <ul class="selector__list">
                                    <li> <a href="#" class="js-town">Абакан</a> </li>
                                    <li><a href="#" class="js-town"> Азов</a></li>
                                    <li><a href="#" class="js-town"> Александров</a></li>
                                    <li><a href="#" class="js-town"> Алексин</a></li>
                                    <li><a href="#" class="js-town"> Альметьевск</a></li>
                                    <li><a href="#" class="js-town"> Анапа</a></li>
                                    <li><a href="#" class="js-town"> Ангарск</a></li>
                                    <li><a href="#" class="js-town"> Анжеро-Судженск</a></li>
                                    <li><a href="#" class="js-town"> Апатиты</a></li>
                                    <li><a href="#" class="js-town"> Арзамас</a></li>
                                    <li><a href="#" class="js-town"> Армавир</a></li>
                                    <li><a href="#" class="js-town"> Арсеньев</a></li>
                                    <li><a href="#" class="js-town"> Артем</a></li>
                                    <li><a href="#" class="js-town"> Архангельск</a></li>
                                    <li><a href="#" class="js-town"> Астрахань</a></li>
                                    <li><a href="#" class="js-town"> Ачинск</a></li>
                                    <li><a href="#" class="js-town"> Балаково</a></li>
                                    <li><a href="#" class="js-town"> Балахна</a></li>
                                    <li><a href="#" class="js-town"> Балашиха</a></li>
                                    <li><a href="#" class="js-town"> Балашов</a></li>
                                    <li><a href="#" class="js-town"> Балашов</a></li>
                                    <li><a href="#" class="js-town"> Балашов</a></li>
                                    <li><a href="#" class="js-town"> Балашов</a></li>
                                    <li><a href="#" class="js-town"> Балашов</a></li>
                                    <li><a href="#" class="js-town"> Балашов</a></li>
                                    <li><a href="#" class="js-town"> Балашов</a></li>
                                    <li><a href="#" class="js-town"> Балашов</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="selector">
                        <a href="#" class="selector__link">
                            Регион
                            <span class="arrow"></span>
                        </a>
                        <div class="selector__container selector__container--next">
                            <div class="selector__box js-scroll-this">
                                <div class="selector__checkers active">
                                    <div class="selector__head">
                                        <span>Россия</span>
                                        <button class="selector__closer js-checks-close active">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10">
                                                <g fill="none" fill-rule="evenodd" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                                    <path d="M9.536 1.464L2.464 8.536M2.464 1.464l7.072 7.072"></path>
                                                </g>
                                            </svg>
                                        </button>
                                    </div>
                                    <div class="selector__labelbox">
                                        <label>
                                            <input type="checkbox"> <span>Weather Shield<i></i></span>
                                        </label>
                                        <label>
                                            <input type="checkbox"> <span>ProVia<i></i></span>
                                        </label>
                                        <label>
                                            <input type="checkbox"> <span>Simonton<i></i></span>
                                        </label>
                                        <label>
                                            <input type="checkbox"> <span>Peachtree<i></i></span>
                                        </label>
                                        <label>
                                            <input type="checkbox"> <span>Ply Gem<i></i></span>
                                        </label>
                                        <label>
                                            <input type="checkbox"> <span>Parrett<i></i></span>
                                        </label>
                                        <label>
                                            <input type="checkbox"> <span>Visions<i></i></span>
                                        </label>
                                        <label>
                                            <input type="checkbox"> <span>LaCantina<i></i></span>
                                        </label>
                                        <label>
                                            <input type="checkbox"> <span>Simpson<i></i></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="selector__checkers active">
                                    <div class="selector__head">
                                        <span>Россия</span>
                                        <button class="selector__closer js-checks-close active">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10">
                                                <g fill="none" fill-rule="evenodd" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                                    <path d="M9.536 1.464L2.464 8.536M2.464 1.464l7.072 7.072"></path>
                                                </g>
                                            </svg>
                                        </button>
                                    </div>
                                    <div class="selector__labelbox">
                                        <label>
                                            <input type="checkbox"> <span>Weather Shield<i></i></span>
                                        </label>
                                        <label>
                                            <input type="checkbox"> <span>ProVia<i></i></span>
                                        </label>
                                        <label>
                                            <input type="checkbox"> <span>Simonton<i></i></span>
                                        </label>
                                        <label>
                                            <input type="checkbox"> <span>Peachtree<i></i></span>
                                        </label>
                                        <label>
                                            <input type="checkbox"> <span>Ply Gem<i></i></span>
                                        </label>
                                        <label>
                                            <input type="checkbox"> <span>Parrett<i></i></span>
                                        </label>
                                        <label>
                                            <input type="checkbox"> <span>Visions<i></i></span>
                                        </label>
                                        <label>
                                            <input type="checkbox"> <span>LaCantina<i></i></span>
                                        </label>
                                        <label>
                                            <input type="checkbox"> <span>Simpson<i></i></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="selector__checkers active">
                                    <div class="selector__head">
                                        <span>Россия</span>
                                        <button class="selector__closer js-checks-close active">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10">
                                                <g fill="none" fill-rule="evenodd" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                                    <path d="M9.536 1.464L2.464 8.536M2.464 1.464l7.072 7.072"></path>
                                                </g>
                                            </svg>
                                        </button>
                                    </div>
                                    <div class="selector__labelbox">
                                        <label>
                                            <input type="checkbox"> <span>Weather Shield<i></i></span>
                                        </label>
                                        <label>
                                            <input type="checkbox"> <span>ProVia<i></i></span>
                                        </label>
                                        <label>
                                            <input type="checkbox"> <span>Simonton<i></i></span>
                                        </label>
                                        <label>
                                            <input type="checkbox"> <span>Peachtree<i></i></span>
                                        </label>
                                        <label>
                                            <input type="checkbox"> <span>Ply Gem<i></i></span>
                                        </label>
                                        <label>
                                            <input type="checkbox"> <span>Parrett<i></i></span>
                                        </label>
                                        <label>
                                            <input type="checkbox"> <span>Visions<i></i></span>
                                        </label>
                                        <label>
                                            <input type="checkbox"> <span>LaCantina<i></i></span>
                                        </label>
                                        <label>
                                            <input type="checkbox"> <span>Simpson<i></i></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="selector__checkers active">
                                    <div class="selector__head">
                                        <span>Двери</span>
                                        <button class="selector__closer js-checks-close active">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10">
                                                <g fill="none" fill-rule="evenodd" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                                    <path d="M9.536 1.464L2.464 8.536M2.464 1.464l7.072 7.072"></path>
                                                </g>
                                            </svg>
                                        </button>
                                    </div>
                                    <div class="selector__labelbox">
                                        <label>
                                            <input type="checkbox"> <span>Weather Shield<i></i></span>
                                        </label>
                                        <label>
                                            <input type="checkbox"> <span>ProVia<i></i></span>
                                        </label>
                                        <label>
                                            <input type="checkbox"> <span>Simonton<i></i></span>
                                        </label>
                                        <label>
                                            <input type="checkbox"> <span>Peachtree<i></i></span>
                                        </label>
                                        <label>
                                            <input type="checkbox"> <span>Ply Gem<i></i></span>
                                        </label>
                                        <label>
                                            <input type="checkbox"> <span>Parrett<i></i></span>
                                        </label>
                                        <label>
                                            <input type="checkbox"> <span>Visions<i></i></span>
                                        </label>
                                        <label>
                                            <input type="checkbox"> <span>LaCantina<i></i></span>
                                        </label>
                                        <label>
                                            <input type="checkbox"> <span>Simpson<i></i></span>
                                        </label>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="founded display">
                    <button class="founded__closer js-founded">
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10">
                            <g fill="none" fill-rule="evenodd" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                <path d="M9.536 1.464L2.464 8.536M2.464 1.464l7.072 7.072"/>
                            </g>
                        </svg>
                    </button>
                    <div class="founded__box">
                        <div class="founded__header" data-text="Окна и двери">Окна и двери</div>
                        <div class="field">
                            <div class="field__name">
                                <div class="field__image">
                                    <svg>
                                        <use xlink:href="img/pointer.svg#ico1"></use>
                                        <use xlink:href="img/pointer.svg#ico2"></use>
                                    </svg>
                                </div>
                                <span>Адрес:</span>
                            </div>
                            <div class="field__point">
                                <span>Ул. Миклухо-Маклая, д.37</span>
                            </div>
                        </div>
                    </div>
                    <div class="founded__details">
                        <div class="founded__field">
                            <div class="field">
                                <div class="field__name">
                                    <div class="field__image">
                                        <svg>
                                            <use xlink:href="img/phone.svg#ico1"></use>
                                            <use xlink:href="img/phone.svg#ico2"></use>
                                        </svg>
                                    </div>
                                    <span>Телефон:</span>
                                </div>
                                <div class="field__point">
                                    <span>+7 495 223 75 43</span>
                                </div>
                            </div>
                            <div class="field">
                                <div class="field__name">
                                    <div class="field__image field__image--mail">
                                        <svg>
                                            <use xlink:href="img/letter.svg#ico1"></use>
                                            <use xlink:href="img/letter.svg#ico2"></use>
                                        </svg>
                                    </div>
                                    <span>Почта:</span>
                                </div>
                                <div class="field__point">
                                    <span>hello@doorsrussia.com</span>
                                </div>
                            </div>
                            <div class="field">
                                <div class="field__name">
                                    <div class="field__image field__image--mail">
                                        <svg>
                                            <use xlink:href="img/chain.svg#ico1"></use>
                                            <use xlink:href="img/chain.svg#ico2"></use>
                                        </svg>
                                    </div>
                                    <span>Сайт:</span>
                                </div>
                                <div class="field__point">
                                    <span>doorsrussia.com</span>
                                </div>
                            </div>
                            <div class="field">
                                <div class="field__name">
                                    <div class="field__image field__image--mail">
                                        <svg>
                                            <use xlink:href="img/clocke.svg#ico1"></use>
                                            <use xlink:href="img/clocke.svg#ico2"></use>
                                        </svg>
                                    </div>
                                    <span>Время работы:</span>
                                </div>
                                <div class="field__point">
                                    <span>ПН–ПТ, 09:00–21:00</span>
                                </div>
                            </div>
                        </div>
                        <div class="founded__callback">
                            <a href="#">Обратная связь</a>
                        </div>
                    </div>
                </div>
                <div class="founded display">
                    <button class="founded__closer js-founded">
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10">
                            <g fill="none" fill-rule="evenodd" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                <path d="M9.536 1.464L2.464 8.536M2.464 1.464l7.072 7.072"/>
                            </g>
                        </svg>
                    </button>
                    <div class="founded__box">
                        <div class="founded__header" data-text="Двери и окна">Двери и окна</div>
                        <div class="field">
                            <div class="field__name">
                                <div class="field__image">
                                    <svg>
                                        <use xlink:href="img/pointer.svg#ico1"></use>
                                        <use xlink:href="img/pointer.svg#ico2"></use>
                                    </svg>
                                </div>
                                <span>Адрес:</span>
                            </div>
                            <div class="field__point">
                                <span>Ул. Миклухо-Маклая, д.37</span>
                            </div>
                        </div>
                    </div>
                    <div class="founded__details">
                        <div class="founded__field">
                            <div class="field">
                                <div class="field__name">
                                    <div class="field__image">
                                        <svg>
                                            <use xlink:href="img/phone.svg#ico1"></use>
                                            <use xlink:href="img/phone.svg#ico2"></use>
                                        </svg>
                                    </div>
                                    <span>Телефон:</span>
                                </div>
                                <div class="field__point">
                                    <span>+7 495 223 75 43</span>
                                </div>
                            </div>
                            <div class="field">
                                <div class="field__name">
                                    <div class="field__image field__image--mail">
                                        <svg>
                                            <use xlink:href="img/letter.svg#ico1"></use>
                                            <use xlink:href="img/letter.svg#ico2"></use>
                                        </svg>
                                    </div>
                                    <span>Почта:</span>
                                </div>
                                <div class="field__point">
                                    <span>hello@doorsrussia.com</span>
                                </div>
                            </div>
                            <div class="field">
                                <div class="field__name">
                                    <div class="field__image field__image--mail">
                                        <svg>
                                            <use xlink:href="img/chain.svg#ico1"></use>
                                            <use xlink:href="img/chain.svg#ico2"></use>
                                        </svg>
                                    </div>
                                    <span>Сайт:</span>
                                </div>
                                <div class="field__point">
                                    <span>doorsrussia.com</span>
                                </div>
                            </div>
                            <div class="field">
                                <div class="field__name">
                                    <div class="field__image field__image--mail">
                                        <svg>
                                            <use xlink:href="img/clocke.svg#ico1"></use>
                                            <use xlink:href="img/clocke.svg#ico2"></use>
                                        </svg>
                                    </div>
                                    <span>Время работы:</span>
                                </div>
                                <div class="field__point">
                                    <span>ПН–ПТ, 09:00–21:00</span>
                                </div>
                            </div>
                        </div>
                        <div class="founded__callback">
                            <a href="#">Обратная связь</a>
                        </div>
                    </div>
                </div>
                <div class="founded display">
                    <button class="founded__closer js-founded">
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10">
                            <g fill="none" fill-rule="evenodd" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                <path d="M9.536 1.464L2.464 8.536M2.464 1.464l7.072 7.072"/>
                            </g>
                        </svg>
                    </button>
                    <div class="founded__box">
                        <div class="founded__header" data-text="Доводчики">Доводчики</div>
                        <div class="field">
                            <div class="field__name">
                                <div class="field__image">
                                    <svg>
                                        <use xlink:href="img/pointer.svg#ico1"></use>
                                        <use xlink:href="img/pointer.svg#ico2"></use>
                                    </svg>
                                </div>
                                <span>Адрес:</span>
                            </div>
                            <div class="field__point">
                                <span>Ул. Миклухо-Маклая, д.37</span>
                            </div>
                        </div>
                    </div>
                    <div class="founded__details">
                        <div class="founded__field">
                            <div class="field">
                                <div class="field__name">
                                    <div class="field__image">
                                        <svg>
                                            <use xlink:href="img/phone.svg#ico1"></use>
                                            <use xlink:href="img/phone.svg#ico2"></use>
                                        </svg>
                                    </div>
                                    <span>Телефон:</span>
                                </div>
                                <div class="field__point">
                                    <span>+7 495 223 75 43</span>
                                </div>
                            </div>
                            <div class="field">
                                <div class="field__name">
                                    <div class="field__image field__image--mail">
                                        <svg>
                                            <use xlink:href="img/letter.svg#ico1"></use>
                                            <use xlink:href="img/letter.svg#ico2"></use>
                                        </svg>
                                    </div>
                                    <span>Почта:</span>
                                </div>
                                <div class="field__point">
                                    <span>hello@doorsrussia.com</span>
                                </div>
                            </div>
                            <div class="field">
                                <div class="field__name">
                                    <div class="field__image field__image--mail">
                                        <svg>
                                            <use xlink:href="img/chain.svg#ico1"></use>
                                            <use xlink:href="img/chain.svg#ico2"></use>
                                        </svg>
                                    </div>
                                    <span>Сайт:</span>
                                </div>
                                <div class="field__point">
                                    <span>doorsrussia.com</span>
                                </div>
                            </div>
                            <div class="field">
                                <div class="field__name">
                                    <div class="field__image field__image--mail">
                                        <svg>
                                            <use xlink:href="img/clocke.svg#ico1"></use>
                                            <use xlink:href="img/clocke.svg#ico2"></use>
                                        </svg>
                                    </div>
                                    <span>Время работы:</span>
                                </div>
                                <div class="field__point">
                                    <span>ПН–ПТ, 09:00–21:00</span>
                                </div>
                            </div>
                        </div>
                        <div class="founded__callback">
                            <a href="#">Обратная связь</a>
                        </div>
                    </div>
                </div>
                <div class="founded display">
                    <button class="founded__closer js-founded">
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10">
                            <g fill="none" fill-rule="evenodd" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                <path d="M9.536 1.464L2.464 8.536M2.464 1.464l7.072 7.072"/>
                            </g>
                        </svg>
                    </button>
                    <div class="founded__box">
                        <div class="founded__header" data-text="Фурнитура">Фурнитура</div>
                        <div class="field">
                            <div class="field__name">
                                <div class="field__image">
                                    <svg>
                                        <use xlink:href="img/pointer.svg#ico1"></use>
                                        <use xlink:href="img/pointer.svg#ico2"></use>
                                    </svg>
                                </div>
                                <span>Адрес:</span>
                            </div>
                            <div class="field__point">
                                <span>Ул. Миклухо-Маклая, д.37</span>
                            </div>
                        </div>
                    </div>
                    <div class="founded__details">
                        <div class="founded__field">
                            <div class="field">
                                <div class="field__name">
                                    <div class="field__image">
                                        <svg>
                                            <use xlink:href="img/phone.svg#ico1"></use>
                                            <use xlink:href="img/phone.svg#ico2"></use>
                                        </svg>
                                    </div>
                                    <span>Телефон:</span>
                                </div>
                                <div class="field__point">
                                    <span>+7 495 223 75 43</span>
                                </div>
                            </div>
                            <div class="field">
                                <div class="field__name">
                                    <div class="field__image field__image--mail">
                                        <svg>
                                            <use xlink:href="img/letter.svg#ico1"></use>
                                            <use xlink:href="img/letter.svg#ico2"></use>
                                        </svg>
                                    </div>
                                    <span>Почта:</span>
                                </div>
                                <div class="field__point">
                                    <span>hello@doorsrussia.com</span>
                                </div>
                            </div>
                            <div class="field">
                                <div class="field__name">
                                    <div class="field__image field__image--mail">
                                        <svg>
                                            <use xlink:href="img/chain.svg#ico1"></use>
                                            <use xlink:href="img/chain.svg#ico2"></use>
                                        </svg>
                                    </div>
                                    <span>Сайт:</span>
                                </div>
                                <div class="field__point">
                                    <span>doorsrussia.com</span>
                                </div>
                            </div>
                            <div class="field">
                                <div class="field__name">
                                    <div class="field__image field__image--mail">
                                        <svg>
                                            <use xlink:href="img/clocke.svg#ico1"></use>
                                            <use xlink:href="img/clocke.svg#ico2"></use>
                                        </svg>
                                    </div>
                                    <span>Время работы:</span>
                                </div>
                                <div class="field__point">
                                    <span>ПН–ПТ, 09:00–21:00</span>
                                </div>
                            </div>
                        </div>
                        <div class="founded__callback">
                            <a href="#">Обратная связь</a>
                        </div>
                    </div>
                </div>
                <div class="founded display">
                        <button class="founded__closer js-founded">
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10">
                                <g fill="none" fill-rule="evenodd" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                    <path d="M9.536 1.464L2.464 8.536M2.464 1.464l7.072 7.072"/>
                                </g>
                            </svg>
                        </button>
                        <div class="founded__box">
                            <div class="founded__header" data-text="Только окна">Только окна</div>
                            <div class="field">
                                <div class="field__name">
                                    <div class="field__image">
                                        <svg>
                                            <use xlink:href="img/pointer.svg#ico1"></use>
                                            <use xlink:href="img/pointer.svg#ico2"></use>
                                        </svg>
                                    </div>
                                    <span>Адрес:</span>
                                </div>
                                <div class="field__point">
                                    <span>Ул. Миклухо-Маклая, д.37</span>
                                </div>
                            </div>
                        </div>
                        <div class="founded__details">
                            <div class="founded__field">
                                <div class="field">
                                    <div class="field__name">
                                        <div class="field__image">
                                            <svg>
                                                <use xlink:href="img/phone.svg#ico1"></use>
                                                <use xlink:href="img/phone.svg#ico2"></use>
                                            </svg>
                                        </div>
                                        <span>Телефон:</span>
                                    </div>
                                    <div class="field__point">
                                        <span>+7 495 223 75 43</span>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="field__name">
                                        <div class="field__image field__image--mail">
                                            <svg>
                                                <use xlink:href="img/letter.svg#ico1"></use>
                                                <use xlink:href="img/letter.svg#ico2"></use>
                                            </svg>
                                        </div>
                                        <span>Почта:</span>
                                    </div>
                                    <div class="field__point">
                                        <span>hello@doorsrussia.com</span>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="field__name">
                                        <div class="field__image field__image--mail">
                                            <svg>
                                                <use xlink:href="img/chain.svg#ico1"></use>
                                                <use xlink:href="img/chain.svg#ico2"></use>
                                            </svg>
                                        </div>
                                        <span>Сайт:</span>
                                    </div>
                                    <div class="field__point">
                                        <span>doorsrussia.com</span>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="field__name">
                                        <div class="field__image field__image--mail">
                                            <svg>
                                                <use xlink:href="img/clocke.svg#ico1"></use>
                                                <use xlink:href="img/clocke.svg#ico2"></use>
                                            </svg>
                                        </div>
                                        <span>Время работы:</span>
                                    </div>
                                    <div class="field__point">
                                        <span>ПН–ПТ, 09:00–21:00</span>
                                    </div>
                                </div>
                            </div>
                            <div class="founded__callback">
                                <a href="#">Обратная связь</a>
                            </div>
                        </div>
                    </div>
            </div>
            </div>
        </div>

    </section>
</main>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=1cbbca57-2a46-44bb-bd52-5864931fe215" type="text/javascript"></script>
<script>
    var partners_objects = [];
    ymaps.ready(function () {
        var myMap = new ymaps.Map('map', {
            center: [55.751574, 37.573856],
            zoom: 9,
            controls: []
        }, {
            searchControlProvider: 'yandex#search'
        });

        myMap.controls.add('zoomControl', {
            size: "small",
            float: 'none',
            position: {
                bottom: '50px',
                right: '30px'
            }
        });
        myMap.controls.add('fullscreenControl', {
            float: 'none',
            position: {
                top: '50px',
                right: '30px'
            }
        });


        partners_objects[0] = new ymaps.Placemark([55.651574, 37.573856], {
            name: 'Окна и двери',
            hintContent: 'Окна и двери'
        }, {
            iconLayout: 'default#image',
            iconImageHref: 'img/map-point.png',
            iconImageSize: [36, 46],
            iconImageOffset: [-5, -38]
        });
        partners_objects[1] = new ymaps.Placemark([55.851574, 37.573856], {
            name: 'Двери и окна',
            hintContent: 'Двери и окна'
        }, {
            iconLayout: 'default#image',
            iconImageHref: 'img/map-point.png',
            iconImageSize: [36, 44],
            iconImageOffset: [-5, -38]
        });
        partners_objects[2] = new ymaps.Placemark([55.751574, 37.673856], {
            name: 'Доводчики',
            hintContent: 'Доводчики'
        }, {
            iconLayout: 'default#image',
            iconImageHref: 'img/map-point.png',
            iconImageSize: [36, 44],
            iconImageOffset: [-5, -38]
        });
        partners_objects[3] = new ymaps.Placemark([55.751574, 37.773856], {
            name: 'Фурнитура',
            hintContent: 'Фурнитура'
        }, {
            iconLayout: 'default#image',
            iconImageHref: 'img/map-point.png',
            iconImageSize: [36, 44],
            iconImageOffset: [-5, -38]
        });
        partners_objects[4] = new ymaps.Placemark([55.791574, 37.773856], {
            name: 'Только окна',
            hintContent: 'Только окна'
        }, {
            iconLayout: 'default#image',
            iconImageHref: 'img/map-point.png',
            iconImageSize: [36, 44],
            iconImageOffset: [-5, -38]
        });

        for (var i = 0; i < partners_objects.length; i++) {
            var other = partners_objects[i];
            other.options.set('iconImageHref', 'img/map-point.png');
            myMap.geoObjects.add(partners_objects[i]);
            partners_objects[i].events
                .add('click', function (e) {
                    e.stopPropagation();
                    for (var k = 0; k < partners_objects.length; k++) {
                        var pointer = partners_objects[k];
                        pointer.options.set({ iconImageHref: 'img/map-point.png'});
                    }
                    e.get('target').options.set('iconImageHref', 'img/map-point-blue.png');
                    myMap.setCenter(e.originalEvent.target.geometry._coordinates, 9, {
                        checkZoomRange: true
                    });
                    $('.founded').removeClass('active');
                    var ob_name = e.originalEvent.target.properties._data.name;
                    var box = $('.filters').find($('.founded'));
                    box.find('.founded__header').each(function () {
                        var attreb = $(this).attr('data-text');
                        if (attreb === ob_name) {
                            $(this).closest('.founded').addClass('active');
                        }
                    });
                })
        }


        myMap.behaviors.disable('scrollZoom');

        $('.founded').click(function () {
            var data_txt = $(this).find('.founded__header').attr('data-text');
            for (var i = 0; i < partners_objects.length; i++) {
                var obj = partners_objects[i];
                obj.options.set({ iconImageHref: 'img/map-point.png'});
                if (obj.properties._data.name === data_txt) {
                    console.log();
//                    obj.options._options.iconImageHref = 'img/map-point-blue.png';
                    obj.options.set({
                        iconImageHref: 'img/map-point-blue.png'
                    });
                    myMap.setCenter(obj.geometry._coordinates, 9, {
                        checkZoomRange: true
                    });
                }
            }
        });

    });
</script>
//= parts/footer.html