//= parts/head.html
//= parts/header.html


<div class="partnership">
    <div class="av-family__title" style="background-image: url('img/academy-back.jpg');">
        <section class="container av-breadcrumbs av-breadcrumbs--gray">
            <a href="#">Главная</a>
            <span>Партнерство</span>
        </section>
        <section class="container-fluid av-family">
            <h2>Партнёрство</h2>
            <p>На сегодняшний день Eclisse представляет собой известный бренд, лидер индустрии, включающий 10 дочерних компаний, более чем 30 представительств и тысячи дистрибьютеров.</p>
        </section>
        <a href="#" class="av-family__more">
            <img src="img/arrow_down.svg" alt="">
        </a>
    </div>
    <div class="av-family__tabs-wrap">
        <section class="container-fluid av-family__tabs">
            <a href="#partnership">Партнерская программа</a>
            <a href="#contract">Контрактные условия</a>
            <a href="#skl-prog">Складская программа</a>
            <a href="#library">Ценовая политика</a>
            <a href="#decision">Решения для бизнеса <!--<img src="img/arrow_down-black.svg" alt="">--></a>
            <a href="#documents">Документы и ресурсы</a>
        </section>
    </div>
    <section class="container-fluid block_news">
        <h2 class="h2" id="partnership">Партнёрство для всех</h2>
        <div class="row">
            <div class="col-12 col-md-6 image" style="background-image: url('img/part_1.png')"></div>
            <div class="col-12 col-md-6 text"><span>01</span>
                <div class="info">
                    <h3 class="h3">Фабрика дверей</h3>
                    <p>Приглашаем Вас посетить стенд нашей компании «Группа компаний „Торговый дом Вишера"»</p>
                </div>
                <div class="more"><a class="link_border or" href="/">Подробнее</a></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 image" style="background-image: url('img/bitmap_3.jpg')"></div>
            <div class="col-12 col-md-6 text"><span>02</span>
                <div class="info">
                    <h3 class="h3">Монтажники</h3>
                    <p>Приглашаем Вас посетить стенд нашей компании «Группа компаний „Торговый дом Вишера"»</p>
                </div>
                <div class="more"><a class="link_border or" href="/">Подробнее</a></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 image" style="background-image: url('img/bitmap_2.jpg')"></div>
            <div class="col-12 col-md-6 text"><span>03</span>
                <div class="info">
                    <h3 class="h3">Салон дверей</h3>
                    <p>Приглашаем Вас посетить стенд нашей компании «Группа компаний „Торговый дом Вишера"»</p>
                </div>
                <div class="more"><a class="link_border or" href="/">Подробнее</a></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 image" style="background-image: url('img/bitmap.jpg')"></div>
            <div class="col-12 col-md-6 text"><span>04</span>
                <div class="info">
                    <h3 class="h3">Дизайн и&nbsp;проектирование</h3>
                    <p>Приглашаем Вас посетить стенд нашей компании «Группа компаний „Торговый дом Вишера"»</p>
                </div>
                <div class="more"><a class="link_border or" href="/">Подробнее</a></div>
            </div>
        </div>
    </section>
    <section class="container-fluid av-product p-0">
        <h2 class="h2" id="contract">Контрактные условия</h2>
        <div class="av-product__content active m-0">
            <div class="row m-0 av-product__no-arrow">
                <div class=" col-12 col-lg-6 p-0 d-flex flex-column align-items-center">
                    <div class="av-product__photo">
                        <img class="av-product__photo" src="img/cont_1.png" alt="">
                    </div>

                </div>
                <div class="col-white col-12 col-lg-6 p-0 d-flex justify-content-center align-items-center">
                    <div class="av-product__about">
                        <div class="av-product__about-title">Условия</div>
                        Россия, Италия, Франция, Польша, Австрия, Чехия, Испания, словакия, Бразилия, Германия, Венгрия, Португалия, США и другие страны. В каждой стране свое представительство.
                    </div>
                </div>
            </div>
            <div class="row flex-row-reverse m-0 av-product__no-arrow">
                <div class=" col-12 col-lg-6 p-0 d-flex flex-column align-items-center">
                    <div class="av-product__photo">
                        <img class="av-product__photo" src="img/cont_2.png" alt="">
                    </div>
                </div>
                <div class="col-white col-12 col-lg-6 p-0 d-flex justify-content-center align-items-center">
                    <div class="av-product__about">
                        <div class="av-product__about-title">Что вы получаете?</div>
                        Мы готовы предложить Вам качественную продукцию, отвечающую Европейским стандартам качества. Наши консультанты с радостью помогут сделать верный выбор с учетом Ваших пожеланий.
                    </div>
                </div>
            </div>
            <div class="row m-0 av-product__no-arrow">
                <div class=" col-12 col-lg-6 p-0 d-flex flex-column align-items-center">
                    <div class="av-product__photo">
                        <img class="av-product__photo" src="img/cont_3.png" alt="">
                    </div>

                </div>
                <div class="col-white col-12 col-lg-6 p-0 d-flex justify-content-center align-items-center">
                    <div class="av-product__about">
                        <div class="av-product__about-title">Складская программа</div>
                        Россия, Италия, Франция, Польша, Австрия, Чехия, Испания, словакия, Бразилия, Германия, Венгрия, Португалия, США и другие страны. В каждой стране свое представительство.
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container-fluid av-product p-0">
        <h2 class="h2" id="skl-prog">Контрактные условия</h2>
        <div class="av-product__content active m-0">
            <div class="row flex-row-reverse m-0 av-product__no-arrow">
                <div class=" col-12 col-lg-6 p-0 d-flex flex-column align-items-center">
                    <div class="av-product__photo">
                        <img class="av-product__photo" src="img/cont_4.png" alt="">
                    </div>
                </div>
                <div class="col-white col-12 col-lg-6 p-0 d-flex justify-content-center align-items-center">
                    <div class="av-product__about">
                        <div class="av-product__about-title">Доступность</div>
                        Россия, Италия, Франция, Польша, Австрия, Чехия, Испания, словакия, Бразилия, Германия, Венгрия, Португалия, США и другие страны. В каждой стране свое представительство.
                    </div>
                </div>
            </div>
            <div class="row m-0 av-product__no-arrow">
                <div class=" col-12 col-lg-6 p-0 d-flex flex-column align-items-center">
                    <div class="av-product__photo">
                        <img class="av-product__photo" src="img/cont_5.png" alt="">
                    </div>

                </div>
                <div class="col-white col-12 col-lg-6 p-0 d-flex justify-content-center align-items-center">
                    <div class="av-product__about">
                        <div class="av-product__about-title">Выгода</div>
                        Мы готовы предложить Вам качественную продукцию, отвечающую Европейским стандартам качества. Наши консультанты с радостью помогут сделать верный выбор с учетом Ваших пожеланий.
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section class="container-fluid av-product p-0">
        <h2 class="h2" id="decision">Решения для бизнеса</h2>
        <div class="av-product__content active m-0">
            <div class="row flex-row-reverse m-0 av-product__no-arrow">
                <div class=" col-12 col-lg-6 p-0 d-flex flex-column align-items-center">
                    <div class="av-product__photo">
                        <img class="av-product__photo" src="img/resh_1.png" alt="">
                    </div>
                </div>
                <div class="col-white col-12 col-lg-6 p-0 d-flex justify-content-center align-items-center">
                    <div class="av-product__about">
                        <div class="av-product__about-title">Мы предлагаем</div>
                        Россия, Италия, Франция, Польша, Австрия, Чехия, Испания, словакия, Бразилия, Германия, Венгрия, Португалия, США и другие страны. В каждой стране свое представительство.
                    </div>
                </div>
            </div>
            <div class="row m-0 av-product__no-arrow">
                <div class=" col-12 col-lg-6 p-0 d-flex flex-column align-items-center">
                    <div class="av-product__photo">
                        <img class="av-product__photo" src="img/resh_2.png" alt="">
                    </div>

                </div>
                <div class="col-white col-12 col-lg-6 p-0 d-flex justify-content-center align-items-center">
                    <div class="av-product__about">
                        <div class="av-product__about-title">Результат сотрудничества</div>
                        Мы готовы предложить Вам качественную продукцию, отвечающую Европейским стандартам качества. Наши консультанты с радостью помогут сделать верный выбор с учетом Ваших пожеланий.
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section class="container-fluid p-0">
        <h2 id="documents" class="h2">Полезные ресурсы</h2>
    </section>
    <section class="container-fluid av-product av-library p-0 documentation">
        <div class="av-product__content active m-0">
            <div class="row m-0">
                <div class="col-12 col-lg-6 p-0">
                    <a href="#" class="row m-0">
                        <div class="col-6 d-flex flex-column justify-content-between align-items-center">
                            <div class="av-library__file">
                                <svg xmlns="http://www.w3.org/2000/svg" width="42" height="39" viewBox="0 0 42 39">
                                    <g fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" transform="translate(1 2)">
                                        <rect width="40" height="28" stroke="#FFB200" rx="2"/>
                                        <path class="ico-stroke" stroke="#0050AD" d="M12 36h16M20 28v8"/>
                                    </g>
                                </svg>
                            </div>
                        </div>
                        <div class="col-6 d-flex justify-content-center align-items-center">
                            <div class="av-product__name">Партнерский кабинет</div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-lg-6 p-0">
                    <a href="#" class="row m-0">
                        <div class="col-6 d-flex flex-column justify-content-between align-items-center">
                            <div class="av-library__file">
                                <svg xmlns="http://www.w3.org/2000/svg" width="42" height="28" viewBox="0 0 42 28">
                                    <g fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" transform="translate(1 2)">
                                        <path stroke="#FFB200" d="M40 4l-13 9 13 9z"/>
                                        <rect class="ico-stroke" width="27" height="25" stroke="#0050AD" rx="2"/>
                                    </g>
                                </svg>

                            </div>
                        </div>
                        <div class="col-6 d-flex justify-content-center align-items-center">
                            <div class="av-product__name">Видео об Eclisse</div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-lg-6 p-0">
                    <a href="#" class="row m-0">
                        <div class="col-6 d-flex flex-column justify-content-between align-items-center">
                            <div class="av-library__file">
                                <svg xmlns="http://www.w3.org/2000/svg" width="42" height="36" viewBox="0 0 42 36">
                                    <g fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" transform="translate(1 2)">
                                        <path class="ico-stroke" stroke="#0050AD" d="M29 33v-3.667C29 25.283 25.754 22 21.75 22H7.25C3.246 22 0 25.283 0 29.333V33"/>
                                        <circle class="ico-stroke"  cx="14.5" cy="7.5" r="7.5" stroke="#0050AD"/>
                                        <path stroke="#FFB200" d="M40 33v-3.748c-.002-3.416-2.058-6.398-5-7.252M28 0c2.942.877 5 3.964 5 7.5s-2.058 6.623-5 7.5"/>
                                    </g>
                                </svg>
                            </div>
                        </div>
                        <div class="col-6 d-flex justify-content-center align-items-center">
                            <div class="av-product__name">Решения для выставок</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="container-fluid p-0">
        <h2 id="docs" class="h2">Документы</h2>
    </section>
    <section class="container-fluid av-product p-0 documentation">
            <div class="av-product__content active">
                <div class="row m-0">
                    <div class="col-12 col-lg-6 p-0">
                        <a href="#" class="row m-0">
                            <div class="col-6 d-flex flex-column justify-content-between align-items-center">
                                <div class="av-product__type align-self-start">PDF</div>
                                <div class="documentation__size">212 мб</div>
                                <div class="av-library__file">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="30" viewBox="0 0 24 30">
                                        <g fill="none" fill-rule="evenodd">
                                            <path fill="#ECECEC" d="M13 0H3a3 3 0 0 0-3 3v24a3 3 0 0 0 3 3h18a3 3 0 0 0 3-3V11L13 0z"></path>
                                            <path fill="#DDD" d="M13 0v11h11"></path>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                            <div class="col-6 d-flex justify-content-center align-items-center">
                                <div class="av-product__name">Технический паспорт</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-lg-6 p-0">
                        <a href="#" class="row m-0">
                            <div class="col-6 d-flex flex-column justify-content-between align-items-center">
                                <div class="av-product__type align-self-start">TXT</div>
                                <div class="documentation__size">212 мб</div>
                                <div class="av-library__file">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="30" viewBox="0 0 24 30">
                                        <g fill="none" fill-rule="evenodd">
                                            <path fill="#ECECEC" d="M13 0H3a3 3 0 0 0-3 3v24a3 3 0 0 0 3 3h18a3 3 0 0 0 3-3V11L13 0z"></path>
                                            <path fill="#DDD" d="M13 0v11h11"></path>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                            <div class="col-6 d-flex justify-content-center align-items-center">
                                <div class="av-product__name">Гарантия</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-lg-6 p-0">
                        <a href="#" class="row m-0">
                            <div class="col-6 d-flex flex-column justify-content-between align-items-center">
                                <div class="av-product__type align-self-start">XLS</div>
                                <div class="documentation__size">5,7 мб</div>
                                <div class="av-library__file">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="30" viewBox="0 0 24 30">
                                        <g fill="none" fill-rule="evenodd">
                                            <path fill="#ECECEC" d="M13 0H3a3 3 0 0 0-3 3v24a3 3 0 0 0 3 3h18a3 3 0 0 0 3-3V11L13 0z"></path>
                                            <path fill="#DDD" d="M13 0v11h11"></path>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                            <div class="col-6 d-flex justify-content-center align-items-center">
                                <div class="av-product__name">Инструкция по уходу</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-lg-6 p-0">
                        <a href="#" class="row m-0">
                            <div class="col-6 d-flex flex-column justify-content-between align-items-center">
                                <div class="av-product__type align-self-start">CAD</div>
                                <div class="documentation__size">212 мб</div>
                                <div class="av-library__file">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="30" viewBox="0 0 24 30">
                                        <g fill="none" fill-rule="evenodd">
                                            <path fill="#ECECEC" d="M13 0H3a3 3 0 0 0-3 3v24a3 3 0 0 0 3 3h18a3 3 0 0 0 3-3V11L13 0z"></path>
                                            <path fill="#DDD" d="M13 0v11h11"></path>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                            <div class="col-6 d-flex justify-content-center align-items-center">
                                <div class="av-product__name">CAD-файлы</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>

    <div class="partnership__form">
        <form class="av-template__form" novalidate="true">
        <!--<span class="av-template__x"></span>-->
        <div class="border-bottom av-template__form-cross">
            <section class="container-fluid p-0">
                <h2 id="form" class="h2">Станьте нашим партнером</h2>
            </section>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="av-template__form-title">ФИО:</div>
                    <input type="text" class="av-template__input" required="" autocomplete="off">
                    <label class="input_field av-template__label">
                    </label>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="av-template__form-title">Почта:</div>
                            <input type="email" class="av-template__input" required="" autocomplete="off">
                            <label class="input_field av-template__label">
                            </label>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="av-template__form-title">Телефон:</div>
                            <input type="tel" class="av-template__input tel-mask" required="" autocomplete="off">
                            <label class="input_field av-template__label">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="av-template__form-title">Комментарий:</div>
                    <textarea class="av-template__input av-template__input--text"></textarea>
                    <div class="row av-template__form-btn">
                        <div class="col-12 col-lg-8">
                            <div class="input_field">
                                <div class="checkbox av-template__form-title">
                                    <label>
                                        <input type="checkbox" required=""><span class="cr"><i class="cr-icon fas fa-check"></i></span>Я&nbsp;даю согласие на&nbsp;обработку своих данных
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 p-0">
                            <div class="input_field">
                                <button class="float_right btn-max disabled" type="submit">Отправить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </div>


</div>

//= parts/footer.html