//= parts/head.html
//= parts/header.html
<main>
    <section class="container av-breadcrumbs">
        <a href="#">Главная</a>
        <a href="#">Каталог</a>
        <a href="#">Товар</a>
        <span>Последний</span>
    </section>
    <section class="container">
        <h1>КEclisse Syntesis Line</h1>
        <div class="av-href">
            <a class="link_border or" href="#">Конфигуратор</a>
        </div>
    </section>
    <section class="main__title av-product__title">
        <div class="owl-carousel owl-carousel--product">
            <div class="bg_img" style="background-image: url('img/product-slider_01.png')"></div>
            <div class="bg_img" style="background-image: url('img/product-slider.jpg')"></div>
            <div class="bg_img" style="background-image: url('img/product-slider.jpg')"></div>
        </div>
        <div class="av-product__plan">
            <div class="plan"><img src="img/product-slider-asset.png" alt=""></div>
        </div>
        <div class="owl-navs owl-navs--product">
            <div class="container-fluid">
                <div class="nav"></div>
                <div class="dots"></div>
            </div>
        </div>
    </section>
    <section class="av-product-tabs">
            <div class="av-product__tabs-caption">
                <span  class="av-product__tab active">Обзор</span>
                <span  class="av-product__tab">Оборудование</span>
                <span  class="av-product__tab">Отзывы</span>
                <span  class="av-product__tab">Документация</span>
                <span  class="av-product__tab">Монтаж</span>
            </div>
            <section class="container-fluid av-product p-0">
                    <div class="av-product__content active">
                        <div class="row flex-row-reverse m-0 av-product__no-arrow">
                            <div class=" col-12 col-lg-6 p-0 d-flex flex-column align-items-center">
                                <div class="av-product__photo">
                                    <img class="av-product__photo" src="img/product-about_01.jpg" alt="">
                                </div>

                            </div>
                            <div class="col-white col-12 col-lg-6 p-0 d-flex justify-content-center align-items-center">
                                <div class="av-product__about">
                                    <div class="av-product__about-title">О конструкции</div>
                                    Пеналом принято называть специальный короб, монтируемый в стену, куда задвигается перегородка. Таким образом, дверное полотно не распахивается, а скрывается в коробе.
                                </div>
                            </div>
                        </div>
                        <div class="row m-0 av-product__no-arrow">
                            <div class=" col-12 col-lg-6 p-0 d-flex flex-column align-items-center">
                                <div class="av-product__photo">
                                    <img class="av-product__photo" src="img/product-about_02.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-white col-12 col-lg-6 p-0 d-flex justify-content-center align-items-center">
                                <div class="av-product__about">
                                    <div class="av-product__about-title">Доступные размеры</div>
                                    Пеналом принято называть специальный короб, монтируемый в стену, куда задвигается перегородка. Таким образом, дверное полотно не распахивается, а скрывается в коробе.
                                    <br> <br>
                                    Пеналом принято называть специальный короб, монтируемый в стену, куда задвигается перегородка. Таким образом, дверное полотно не распахивается, а скрывается в коробе.
                                    <br> <br>
                                    Пеналом принято называть специальный короб, монтируемый в стену, куда задвигается перегородка. Таким образом, дверное полотно не распахивается, а скрывается в коробе.
                                    <br> <br>
                                    Пеналом принято называть специальный короб, монтируемый в стену, куда задвигается перегородка. Таким образом, дверное полотно не распахивается, а скрывается в коробе.
                                </div>
                            </div>
                        </div>
                        <div class="row flex-row-reverse m-0 av-product__no-arrow">
                            <div class=" col-12 col-lg-6 p-0 d-flex flex-column align-items-center">
                                <div class="av-product__photo">
                                    <img class="av-product__photo" src="img/product-about_03.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-white col-12 col-lg-6 p-0 d-flex justify-content-center align-items-center">
                                <div class="av-product__about">
                                    <div class="av-product__about-title">Материалы</div>
                                    Пеналом принято называть специальный короб, монтируемый в стену, куда задвигается перегородка. Таким образом, дверное полотно не распахивается, а скрывается в коробе.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="av-product__content">
                        <div class="row av-product--max-height-140 m-0">
                            <div class="col-12 col-lg-6 p-0">
                                <a href="#" class="row m-0">
                                    <div class="col-6 d-flex flex-column justify-content-between align-items-center">
                                        <div class="av-product__type align-self-start">Хит</div>
                                        <div class="av-product__img">
                                            <img src="img/product-img_01.jpg" alt="">
                                        </div>

                                    </div>
                                    <div class="col-6 d-flex justify-content-center align-items-center">
                                        <div class="av-product__name">Нижний направляющий профиль</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-12 col-lg-6 p-0">
                                <a href="#" class="row m-0">
                                    <div class="col-6 d-flex flex-column justify-content-between align-items-center">
                                        <div class="av-product__type align-self-start">TXT</div>
                                        <div class="av-product__img">
                                            <img src="img/product-img_02.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="col-6 d-flex justify-content-center align-items-center">
                                        <div class="av-product__name">Eclisse BIAS™ DS</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-12 col-lg-6 p-0">
                                <a href="#" class="row m-0">
                                    <div class="col-6 d-flex flex-column justify-content-between align-items-center">
                                        <div class="av-product__type align-self-start">New</div>
                                        <div class="av-product__img">
                                            <img src="img/product-img_03.jpg" alt="">
                                        </div>

                                    </div>
                                    <div class="col-6 d-flex justify-content-center align-items-center">
                                        <div class="av-product__name">Eclisse BIAS™</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="av-product__content">
                        <div class="row m-0 av-product__hover av-product__arrow av-product__feedback">
                            <div class=" col-12 col-lg-6 p-0 d-flex flex-column justify-content-center align-items-center">
                                <div class="av-product__person">
                                    <img src="img/bitmap-copy-20@2x.jpg" alt="">
                                </div>
                                <div class="av-product__person-name">Виктория Егорова</div>
                                <div class="av-product__person-mail">@martinka.cej</div>

                            </div>
                            <div class="col-white col-12 col-lg-6 p-0 d-flex justify-content-center align-items-center">
                                <div class="av-product__comment">— Когда делала дизайн, никак не могла решить проблему узкого коридора, а открывать дверь внутрь не представлялось возможности. Лучший вариант оказался с использованием систем
                                    <a href="#">#Eclisse</a> <a href="#">#Syntesis</a></div>
                            </div>
                        </div>
                        <div class="row flex-row-reverse m-0 av-product__hover av-product__arrow av-product__feedback">
                            <div class=" col-12 col-lg-6 p-0 d-flex flex-column justify-content-center align-items-center">
                                <div class="av-product__person">
                                    <img src="img/bitmap-copy-22@2x.jpg" alt="">
                                </div>
                                <div class="av-product__person-name">Георгий Мельбурн</div>
                                <div class="av-product__person-mail">@martinka.cej</div>

                            </div>
                            <div class="col-white col-12 col-lg-6 p-0 d-flex justify-content-center align-items-center">
                                <div class="av-product__comment">—— Пеналом принято называть специальный короб, монтируемый в стену, куда задвигается перегородка. Таким образом, дверное полотно не распахивается, а скрывается в коробе.</div>
                            </div>
                        </div>
                        <div class="row m-0 av-product__hover av-product__arrow av-product__feedback">
                            <div class=" col-12 col-lg-6 p-0 d-flex flex-column justify-content-center align-items-center">
                                <div class="av-product__person">
                                    <img src="img/bitmap-copy-20@2x.jpg" alt="">
                                </div>
                                <div class="av-product__person-name">Алексей Лагута</div>
                                <div class="av-product__person-mail">@martinka.cej</div>

                            </div>
                            <div class="col-white col-12 col-lg-6 p-0 d-flex justify-content-center align-items-center">
                                <div class="av-product__comment">— Когда делал дизайн, никак не мог решить проблему узкого коридора, а открывать дверь внутрь не представлялось возможности.
                                    <a href="#">#Eclisse</a> <a href="#">#Syntesis</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="av-product__content">
                        <div class="row m-0">
                            <div class="col-12 col-lg-6 p-0">
                                <a href="#" class="row m-0">
                                    <div class="col-6 d-flex flex-column justify-content-between align-items-center">
                                        <div class="av-product__type align-self-start">PDF</div>
                                        <div class="av-product__file"></div>
                                        <div class="av-product__size align-self-start">212 мб</div>
                                    </div>
                                    <div class="col-6 d-flex justify-content-center align-items-center">
                                        <div class="av-product__name">Технический паспорт</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-12 col-lg-6 p-0">
                                <a href="#" class="row m-0">
                                    <div class="col-6 d-flex flex-column justify-content-between align-items-center">
                                        <div class="av-product__type align-self-start">TXT</div>
                                        <div class="av-product__file"></div>
                                        <div class="av-product__size align-self-start">212 мб</div>
                                    </div>
                                    <div class="col-6 d-flex justify-content-center align-items-center">
                                        <div class="av-product__name">Гарантия</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-12 col-lg-6 p-0">
                                <a href="#" class="row m-0">
                                    <div class="col-6 d-flex flex-column justify-content-between align-items-center">
                                        <div class="av-product__type align-self-start">XLS</div>
                                        <div class="av-product__file"></div>
                                        <div class="av-product__size align-self-start">5,7 мб</div>
                                    </div>
                                    <div class="col-6 d-flex justify-content-center align-items-center">
                                        <div class="av-product__name">Инструкция по уходу</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-12 col-lg-6 p-0">
                                <a href="#" class="row m-0">
                                    <div class="col-6 d-flex flex-column justify-content-between align-items-center">
                                        <div class="av-product__type align-self-start">PDF</div>
                                        <div class="av-product__file"></div>
                                        <div class="av-product__size align-self-start">125 мб</div>
                                    </div>
                                    <div class="col-6 d-flex justify-content-center align-items-center">
                                        <div class="av-product__name">Montaggio Syntesis®
                                            Line - sp.125-150 cartongesso</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-12 col-lg-6 p-0">
                                <a href="#" class="row m-0">
                                    <div class="col-6 d-flex flex-column justify-content-between align-items-center">
                                        <div class="av-product__type align-self-start">XLS</div>
                                        <div class="av-product__file"></div>
                                        <div class="av-product__size align-self-start">212 мб</div>
                                    </div>
                                    <div class="col-6 d-flex justify-content-center align-items-center">
                                        <div class="av-product__name">Инструкция по монтажу</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-12 col-lg-6 p-0">
                                <a href="#" class="row m-0">
                                    <div class="col-6 d-flex flex-column justify-content-between align-items-center">
                                        <div class="av-product__type align-self-start">CAD</div>
                                        <div class="av-product__file"></div>
                                        <div class="av-product__size align-self-start">212 мб</div>
                                    </div>
                                    <div class="col-6 d-flex justify-content-center align-items-center">
                                        <div class="av-product__name">CAD-файлы</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="av-product__content">
                        <div class="row m-0">
                            <div class="col-12 col-lg-6 p-0">
                                <a href="#" class="row m-0">
                                    <div class="col-6 d-flex flex-column justify-content-between align-items-center">
                                        <div class="av-product__type align-self-start">2:45</div>
                                        <div class="av-product__img av-product__img--cover">
                                            <img src="img/product-poster_01.jpg" alt="">
                                        </div>
                                        <div class="av-product__size align-self-start">212 мб</div>
                                        <div class="av-product__play"></div>
                                    </div>
                                    <div class="col-6 d-flex justify-content-center align-items-center">
                                        <div class="av-product__name">Eclisse Bias доводчик для двери</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-12 col-lg-6 p-0">
                                <a href="#" class="row row-reverse m-0">
                                    <div class="col-6 d-flex flex-column justify-content-between align-items-center">
                                        <div class="av-product__type align-self-start">5:30</div>
                                        <div class="av-product__img av-product__img--cover">
                                            <img src="img/product-poster_02.jpg" alt="">
                                        </div>
                                        <div class="av-product__size align-self-start">578 мб</div>
                                        <div class="av-product__play"></div>
                                    </div>
                                    <div class="col-6 d-flex justify-content-center align-items-center">
                                        <div class="av-product__name">Как правильно устанавливать
                                            пенал двери купе</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
            </section>
            <section class="container-fluid ">
                <h2>Конфигуратор пеналов</h2>
            </section>
            <section class="container-fluid av-config">
                <form>
                    <div class="row av-bb">
                        <div class="col-12 p-0">
                            <div class="av-config__title">
                                <h5>Параметры</h5>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-xs-12">
                            <label class="av-config__radio">
                                <input type="radio" name="test01">
                                <span><i>Размер конструкции</i></span>
                            </label>
                        </div>
                        <div class="col-lg-3 col-md-6 col-xs-12">
                            <label class="av-config__radio">
                                <input type="radio" name="test01">
                                <span><i>Размер светового проёма</i></span>
                            </label>
                        </div>
                        <div class="col-lg-3 col-md-6 col-xs-12">
                            <label class="av-config__radio">
                                <input type="radio" name="test01">
                                <span><i>Размер полотна</i></span>
                            </label>
                        </div>
                        <div class="col-lg-3 col-md-6 col-xs-12">

                        </div>
                    </div>
                    <div class="row av-bb">
                        <div class="col-lg-6 col-12 p-0">
                            <div class="av-config__title">
                                <h5>Ширина</h5>
                                <p>От 600 до 4700 (мм)</p>
                            </div>
                            <div class="av-config__range av-config__range--border">
                                <input type="text" class="js-slider-range-min">
                                <div class="js-slider-range" data-min="0" data-max="500" data-current="[75, 300]"></div>
                                <input type="text" class="js-slider-range-max">
                            </div>
                        </div>
                        <div class="col-lg-6 col-12 p-0">
                            <div class="av-config__title">
                                <h5>Высота</h5>
                                <p>От 500 до 2900 (мм)</p>
                            </div>
                            <div class="av-config__range border-none">
                                <input type="text" class="js-slider-range-min">
                                <div class="js-slider-range" data-min="0" data-max="500" data-current="[75, 300]"></div>
                                <input type="text" class="js-slider-range-max">
                            </div>
                        </div>
                    </div>
                    <div class="row av-bb">
                        <div class="col-lg-6 col-12 p-0 av-bb--border">
                            <div class="av-config__title">
                                <h5>Дверь</h5>
                                <p>Выберите тип установленной двери</p>
                            </div>
                            <div class="row m-0">
                                <div class="col-6 p-md-0 px-xs-2">
                                    <label class="av-config__radio">
                                        <input type="radio" name="test01">
                                        <span><i>Деревянная</i></span>
                                    </label>
                                </div>
                                <div class="col-6 p-md-0 px-xs-2">
                                    <label class="av-config__radio">
                                        <input type="radio" name="test01">
                                        <span><i>Стеклянная</i></span>
                                    </label>
                                </div>
                            </div>


                        </div>
                        <div class="col-lg-6 col-12 p-0">
                            <div class="av-config__title">
                                <h5>Отделка</h5>
                                <p>Укажите тип финальной отделки</p>
                            </div>
                            <div class="row m-0">
                                <div class="col-6 p-md-0 px-xs-2">
                                    <label class="av-config__radio">
                                        <input type="radio" name="test01">
                                        <span><i>Гипсокартон</i></span>
                                    </label>
                                </div>
                                <div class="col-6 p-md-0 px-xs-2">
                                    <label class="av-config__radio">
                                        <input type="radio" name="test01">
                                        <span><i>Штукатурка</i></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row av-bb">
                        <div class="col-12 p-0">
                            <div class="av-config__title">
                                <h5>Опции</h5>
                                <p>Дополнительные настройки</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-xs-12">
                            <label class="av-config__checkbox">
                                <input type="checkbox">
                                <span><i>Наличие розеток
        и светильников</i></span>
                            </label>
                        </div>
                        <div class="col-lg-3 col-md-6 col-xs-12">
                            <label class="av-config__checkbox">
                                <input type="checkbox" checked="checked">
                                <span><i>Обрамление</i></span>
                            </label>
                        </div>
                        <div class="col-lg-3 col-md-6 col-xs-12">
                            <label class="av-config__checkbox">
                                <input type="checkbox">
                                <span><i>Совместимые аксессуары</i></span>
                            </label>
                        </div>
                        <div class="col-lg-3 col-md-6 col-xs-12">
                            <label class="av-config__checkbox">
                                <input type="checkbox" checked="checked">
                                <span><i>Размер конструкции</i></span>
                            </label>
                        </div>
                    </div>
                    <div class="row av-bb">
                        <div class="col-12 p-0">
                            <div class="av-config__title">
                                <h5>Световые проёмы</h5>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-12 p-0 d-flex flex-wrap">
                            <div class="col-lg-3 col-md-3 col-6">
                                <label class="av-config__radio av-config__radio--simple">
                                    <input type="radio" name="test02">
                                    <span>1</span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-3 col-6">
                                <label class="av-config__radio av-config__radio--simple">
                                    <input type="radio" name="test02">
                                    <span>2</span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-3 col-6">
                                <label class="av-config__radio av-config__radio--simple">
                                    <input type="radio" name="test02">
                                    <span>3</span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-3 col-6">
                                <label class="av-config__radio av-config__radio--simple">
                                    <input type="radio" name="test02">
                                    <span>4</span>
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-12 p-0 d-flex flex-wrap">
                            <div class="col-lg-3 col-md-3 col-6">
                                <label class="av-config__radio av-config__radio--simple">
                                    <input type="radio" name="test02">
                                    <span>5</span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-3 col-6">
                                <label class="av-config__radio av-config__radio--simple">
                                    <input type="radio" name="test02">
                                    <span>6</span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-3 col-6">
                                <label class="av-config__radio av-config__radio--simple">
                                    <input type="radio" name="test02">
                                    <span>7</span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-3 col-6">
                                <label class="av-config__radio av-config__radio--simple">
                                    <input type="radio" name="test02">
                                    <span>8</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row av-bb">
                        <div class="col-lg-6 col-12 p-0">
                            <div class="av-config__title">
                                <h5>Работа системы</h5>
                            </div>
                            <div class="av-config__texter av-config__texter--border">
                                <label class="av-config__checker">
                                    <input type="checkbox">
                                    <i></i>
                                    <span>Раздвижная подвесная к стене по прямой</span>
                                </label>
                                <label class="av-config__checker">
                                    <input type="checkbox">
                                    <i></i>
                                    <span>Раздвижная в стену по прямой</span>
                                </label>
                                <label class="av-config__checker">
                                    <input type="checkbox">
                                    <i></i>
                                    <span>Раздвижная в радиусную стену</span>
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-12 p-0">
                            <div class="av-config__title">
                                <h5>Готовность</h5>
                            </div>
                            <div class="av-config__texter">
                                <label class="av-config__checker">
                                    <input type="checkbox">
                                    <i></i>
                                    <span>На складе</span>
                                </label>
                                <label class="av-config__checker">
                                    <input type="checkbox">
                                    <i></i>
                                    <span>Предсобран (заказ доступен только со склада)</span>
                                </label>
                                <label class="av-config__checker">
                                    <input type="checkbox">
                                    <i></i>
                                    <span>Не собран</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 p-0">
                            <div class="av-config__title">
                                <button type="submit" class="btn btn-primary">Подобрать</button>
                            </div>
                        </div>
                    </div>
                </form>

            </section>
            <section class="container-fluid d-none d-sm-block">
                <h2>Наши работы</h2>
            </section>
            <section class="container-fluid av-works d-none d-sm-block p-0">
            <div class="row m-0">
                <div class="col-6 col-lg-3 p-0">
                    <a href="" class="av-works__item">
                        <img src="img/works/works_01.jpg" alt="">
                    </a>
                </div>
                <div class="col-6 col-lg-3 p-0">
                    <a href="" class="av-works__item">
                        <img src="img/works/works_02.jpg" alt="">
                    </a>
                </div>
                <div class="col-6 col-lg-3 p-0">
                    <a href="" class="av-works__item">
                        <img src="img/works/works_03.jpg" alt="">
                    </a>
                </div>
                <div class="col-6 col-lg-3 p-0">
                    <a href="" class="av-works__item">
                        <img src="img/works/works_04.jpg" alt="">
                    </a>
                </div>
                <div class="col-6 col-lg-3 p-0">
                    <a href="" class="av-works__item">
                        <img src="img/works/works_05.jpg" alt="">
                    </a>
                </div>
                <div class="col-6 col-lg-3 p-0">
                    <a href="" class="av-works__item">
                        <img src="img/works/works_06.jpg" alt="">
                    </a>
                </div>
                <div class="col-6 col-lg-3 p-0">
                    <a href="" class="av-works__item">
                        <img src="img/works/works_07.jpg" alt="">
                    </a>
                </div>
                <div class="col-6 col-lg-3 p-0">
                    <a href="" class="av-works__item">
                        <img src="img/works/works_08.jpg" alt="">
                    </a>
                </div>
            </div>
        </section>
    </section>
</main>
//= parts/footer.html