//= parts/head.html
//= parts/header.html
<div class="av-family__title" style="background-image: url('img/tamplate-back.jpg');">
    <section class="container av-breadcrumbs av-breadcrumbs--gray">
        <a href="#">Главная</a>
        <span>Сообщество</span>
    </section>
    <section class="container-fluid av-family">
        <p>25/7</p>
        <h2>Шаблон статьи</h2>
        <p>Длинное описание в две строки для статьи или новости, раскрывающее суть события</p>
        <img class="av-template__author" src="img/bitmap-copy-20@2x.jpg" alt="">
    </section>
    <a href="#" class="av-family__more">
        <img src="img/arrow_down.svg" alt="">
    </a>
</div>

<div class="av-family__tabs-wrap">
    <section class="container-fluid av-family__tabs">
        <div class="av-family__tab"><a href="#name">Раздел</a></div>
        <div class="av-family__tab"><a href="#news">Новости</a></div>
        <div class="av-family__tab"><a href="#form">Форма заявки</a></div>
        <div class="av-family__tab"><a href="#table">Таблица</a></div>
        <div class="av-family__tab"><a href="#">Ещё <!--<img src="img/arrow_down-black.svg" alt="">--></a></div>
    </section>
</div>
<section class="container-fluid p-0">
    <h2 id="name" class="h2">Название раздела</h2>
</section>
<div class="av-template">
    <section class="container-fluid">
        <div class="row m-0">
            <div class="col-12 col-lg-6 d-flex flex-column justify-content-between"></div>
            <div class="col-12 col-lg-6 d-flex flex-column justify-content-between">
                <div class="av-template__subtitle">Подраздел</div>
                <div class="av-template__desc">
                    Короткие (до 1 000 знаков) приветственные тексты на главную страницу могут позволить себе далеко не все сайты. Например, почти все крупные интернет-магазины, сайты компаний, серьезные сервисы и прочие подобные ресурсы обходятся без громоздких «простыней» текста. Пара слов о компании, небольшое приветствие и все. Короткие тексты размещают с одной целью – поприветствовать читателя и немного рассказать о себе. Собственно, именно так в идеале и должна выглядеть основная страница ресурса. Если бы не стремление поисковых систем высоко ранжировать запросы с главной страницы, думаю, 80% сайтов с радостью бы ограничивались скромным приветственным форматом. Реалии же таковы, что короткие тексты обычно встречаются на трастовых и уважаемых сайтах, которые прекрасно чувствуют себя в выдаче. Наверное, в число «счастливчиков» можно добавить еще ресурсы, привлекающие трафик с рекламы – им тоже вполне комфортно без больших текстов на главных страницах.
                </div>
            </div>
        </div>
        <div class="row m-0">
            <div class="col-12">
                <div class="av-template__big-text">
                    Наверное, в число «счастливчиков» можно добавить еще ресурсы, привлекающие трафик с рекламы – им тоже <a href="#">вполне комфортно</a> без больших текстов на главных страницах.
                </div>
            </div>
        </div>
        <div class="row m-0 flex-lg-row-reverse">
            <div class="col-12 col-lg-6 d-flex flex-column justify-content-between">
                <div class="av-template__desc">
                    Короткие (до 1 000 знаков) приветственные тексты на главную страницу могут позволить себе далеко не все сайты. Например, почти все крупные интернет-магазины, сайты компаний, серьезные сервисы и прочие подобные ресурсы обходятся без громоздких «простыней» текста. Пара слов о компании, небольшое приветствие и все. Короткие тексты размещают с одной целью – поприветствовать читателя и немного рассказать о себе. Собственно, именно так в идеале и должна выглядеть основная страница ресурса. Если бы не стремление поисковых систем высоко ранжировать запросы с главной страницы, думаю, 80% сайтов с радостью бы ограничивались скромным приветственным форматом. Реалии же таковы, что короткие тексты обычно встречаются на трастовых и уважаемых сайтах, которые прекрасно чувствуют себя в выдаче. Наверное, в число «счастливчиков» можно добавить еще ресурсы, привлекающие трафик с рекламы – им тоже вполне комфортно без больших текстов на главных страницах.
                </div>
            </div>
            <div class="col-12 col-lg-6 d-flex flex-column justify-content-between">
                <div class="av-template__cursive">
                    <span>
                        Сноска в виде курсива
                    к написанному тексту.
                    </span>
                </div>
            </div>
        </div>
    </section>
    <section class="main__title av-product__title">
        <div class="row m-0 av-template">
            <div class="col-12 col-lg-6"></div>
            <div class="col-12 col-lg-6">
                <div class="av-template__link"><a href="#">Случайная ссылка <img src="img/arrow-up-right.svg" alt=""></a></div>
            </div>
        </div>
        <div class="owl-carousel owl-carousel--product">
            <div class="av-template__slide" style="background-image: url('img/template-slider.jpg')"></div>
            <div class="av-template__slide" style="background-image: url('img/template-slider.jpg')"></div>
            <div class="av-template__slide" style="background-image: url('img/template-slider.jpg')"></div>
        </div>
        <div class="owl-navs owl-navs--product av-template">
            <div class="container-fluid">
                <div class="nav"></div>
                <div class="dots"></div>
            </div>
        </div>
    </section>
    <section class="container-fluid av-template">
        <div class="row m-0">
            <div class="col-12 col-lg-6 d-flex flex-column justify-content-between"></div>
            <div class="col-12 col-lg-6 d-flex flex-column justify-content-between">
                <div class="av-template__subtitle">Подраздел</div>
                <div class="av-template__desc">
                    Короткие (до 1 000 знаков) приветственные тексты на главную страницу могут позволить себе далеко не все сайты. Например, почти все крупные интернет-магазины, сайты компаний, серьезные сервисы и прочие подобные ресурсы обходятся без громоздких «простыней» текста. Пара слов о компании, небольшое приветствие и все. Короткие тексты размещают с одной целью – поприветствовать читателя и немного рассказать о себе. Собственно, именно так в идеале и должна выглядеть основная страница ресурса. Если бы не стремление поисковых систем высоко ранжировать запросы с главной страницы, думаю, 80% сайтов с радостью бы ограничивались скромным приветственным форматом. Реалии же таковы, что короткие тексты обычно встречаются на трастовых и уважаемых сайтах, которые прекрасно чувствуют себя в выдаче. Наверное, в число «счастливчиков» можно добавить еще ресурсы, привлекающие трафик с рекламы – им тоже вполне комфортно без больших текстов на главных страницах.
                </div>
            </div>
        </div>
        <div class="row m-0">
            <div class="col-12 col-lg-6">
                <div class="av-template__big-text">
                    Короткие тексты размещают с одной целью – поприветствовать читателя и немного рассказать о себе.
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="av-template__big-text">
                    Короткие тексты размещают с одной целью – поприветствовать читателя и немного рассказать о себе.
                </div>
            </div>
        </div>
        <div class="row m-0 flex-lg-row-reverse">
            <div class="col-12 col-lg-6 d-flex flex-column justify-content-between">
                <div class="av-template__desc">
                    Короткие (до 1 000 знаков) приветственные тексты на главную страницу могут позволить себе далеко не все сайты. Например, почти все крупные интернет-магазины, сайты компаний, серьезные сервисы и прочие подобные ресурсы обходятся без громоздких «простыней» текста. Пара слов о компании, небольшое приветствие и все. Короткие тексты размещают с одной целью – поприветствовать читателя и немного рассказать о себе. Собственно, именно так в идеале и должна выглядеть основная страница ресурса. Если бы не стремление поисковых систем высоко ранжировать запросы с главной страницы, думаю, 80% сайтов с радостью бы ограничивались скромным приветственным форматом. Реалии же таковы, что короткие тексты обычно встречаются на трастовых и уважаемых сайтах, которые прекрасно чувствуют себя в выдаче. Наверное, в число «счастливчиков» можно добавить еще ресурсы, привлекающие трафик с рекламы – им тоже вполне комфортно без больших текстов на главных страницах.
                </div>
            </div>
            <div class="col-12 col-lg-6 d-flex flex-column justify-content-between">
                <div class="av-template__cursive">
                    <span>
                        Сноска в виде курсива
                    к написанному тексту.
                    </span>
                </div>
            </div>
        </div>
        <div class="row margin-none">
            <div class="col-12 col-lg-6">
                <div class="av-template__link"><a href="#">Случайная ссылка <img src="img/arrow-up-right.svg" alt=""></a></div>
                <div class="av-template__img">
                    <img src="img/template-img_01.jpg" alt="">
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="av-template__link"><a href="#">Случайная ссылка <img src="img/arrow-up-right.svg" alt=""></a></div>
                <div class="av-template__img">
                    <img src="img/template-img_02.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
</div>
<div class="btn-wrap border-bottom">
    <a href="#" class="btn btn-default">Действие</a>
</div>
<section class="container-fluid block_news">
    <h2 id="news" class="h2">Новости</h2>
    <div class="row">
        <div class="col-12 col-md-6 image" style="background-image: url(img/bitmap_5.jpg)"></div>
        <div class="col-12 col-md-6 text"><span>22/07</span>
            <div class="info">
                <h3 class="h3">Международная строительная и&nbsp;интерьерная выставка MosBuild</h3>
            </div>
            <div class="more"><a class="link_border or" href="/">Подробнее</a></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 image" style="background-image: url(img/bitmap_6.jpg)"></div>
        <div class="col-12 col-md-6 text"><span>25/07</span>
            <div class="info">
                <h3 class="h3">Открытие нового выставочного зала в&nbsp;Казахстане</h3>
            </div>
            <div class="more"><a class="link_border or" href="/">Подробнее</a></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 image" style="background-image: url(img/bitmap_5.jpg)"></div>
        <div class="col-12 col-md-6 text"><span>22/07</span>
            <div class="info">
                <h3 class="h3">Международная строительная и&nbsp;интерьерная выставка MosBuild</h3>
            </div>
            <div class="more"><a class="link_border or" href="/">Подробнее</a></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 image" style="background-image: url(img/bitmap_6.jpg)"></div>
        <div class="col-12 col-md-6 text"><span>25/07</span>
            <div class="info">
                <h3 class="h3">Открытие нового выставочного зала в&nbsp;Казахстане</h3>
            </div>
            <div class="more"><a class="link_border or" href="/">Подробнее</a></div>
        </div>
    </div>
    <div class="btn-wrap btn-border">
        <a href="#" class="btn btn-default">Показать ещё</a>
    </div>
</section>
<form class="av-template__form">
    <div class="border-bottom av-template__form-cross">
        <section class="container-fluid p-0">
            <h2 id="form" class="h2">Добавить работу</h2>
        </section>
    </div>
    <div class="container-fluid">
        <div class="row av-template__form-photo">
            <div class="col-12 col-lg-6">
                <div class="row align-items-end">
                    <div class="col-6">
                        <div class="av-template__form-title av-template__form-title--double">Изображние:</div>
                        <label class="av-template__upload">
                            <input required name="file" class="file" type="file" onchange="document.getElementById('img-1').src = window.URL.createObjectURL(this.files[0]); updatePhoto(this);">
                            <button type="button" class="av-template__remove"><img src="img/photo-remove.svg" alt=""></button>
                            <img class="av-template__upload-img" id="img-1" src="#">
                            <img class="av-template__upload-plus" src="img/plus-icon.svg" alt="">
                            <span class="av-template__upload-loader" style="display: none">
                                <i></i>
                            </span>
                        </label>
                    </div>
                    <div class="col-6">
                        <label class="av-template__upload">
                            <input required name="file" class="file" type="file" onchange="document.getElementById('img-2').src = window.URL.createObjectURL(this.files[0]); updatePhoto(this);">
                            <button type="button" class="av-template__remove"><img src="img/photo-remove.svg" alt=""></button>
                            <img class="av-template__upload-img" id="img-2" src="#">
                            <img class="av-template__upload-plus" src="img/plus-icon.svg" alt="">
                            <span class="av-template__upload-loader" style="display: none">
                                <i></i>
                            </span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="row align-items-end">
                    <div class="col-6">
                        <label class="av-template__upload">
                            <input required name="file" class="file" type="file" onchange="document.getElementById('img-3').src = window.URL.createObjectURL(this.files[0]); updatePhoto(this);">
                            <button type="button" class="av-template__remove"><img src="img/photo-remove.svg" alt=""></button>
                            <img class="av-template__upload-img" id="img-3" src="#">
                            <img class="av-template__upload-plus" src="img/plus-icon.svg" alt="">
                            <span class="av-template__upload-loader" style="display: none">
                                <i></i>
                            </span>
                        </label>
                    </div>
                    <div class="col-6">
                        <div class="av-template__form-title av-template__form-title--double">Ваше фото:</div>
                        <label class="av-template__upload">
                            <input required name="file" class="file" type="file" onchange="document.getElementById('img-4').src = window.URL.createObjectURL(this.files[0]); updatePhoto(this);">
                            <button type="button" class="av-template__remove"><img src="img/photo-remove.svg" alt=""></button>
                            <img class="av-template__upload-img" id="img-4" src="#">
                            <img class="av-template__upload-plus" src="img/plus-icon.svg" alt="">
                            <span class="av-template__upload-loader" style="display: none">
                                <i></i>
                            </span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="av-template__form-title">Компания:</div>
                <input type="text" class="av-template__input" required autocomplete="off">
                <label  class="input_field av-template__label">
                </label>
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="av-template__form-title">Профиль в Instagram:</div>
                        <input type="text" class="av-template__input" autocomplete="off">
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="av-template__form-title">Город:</div>
                        <input type="text" class="av-template__input" required autocomplete="off">
                        <label  class="input_field av-template__label">
                        </label>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="av-template__form-title">Почта:</div>
                        <input type="email" class="av-template__input" required autocomplete="off">
                        <label  class="input_field av-template__label">
                        </label>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="av-template__form-title">Телефон:</div>
                        <input type="tel" class="av-template__input tel-mask" required autocomplete="off">
                        <label class="input_field av-template__label">
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="av-template__form-title">Описание:</div>
                <textarea class="av-template__input av-template__input--text"></textarea>
                <div class="row av-template__form-btn">
                    <div class="col-12 col-lg-8">
                        <div class="input_field">
                            <div class="checkbox av-template__form-title">
                                <label>
                                    <input type="checkbox" required><span class="cr"><i class="cr-icon fas fa-check"></i></span>Я&nbsp;даю согласие на&nbsp;обработку своих данных
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 p-0">
                        <div class="input_field">
                            <button class="float_right btn-max" type="submit">Отправить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<section class="container-fluid p-0">
    <h2 class="h2">Документация</h2>
</section>
<section class="container-fluid p-0">
    <div class="av-product__content active m-0">
        <div class="row m-0">
            <div class="col-12 col-lg-6 p-0">
                <a href="#" class="row m-0">
                    <div class="col-6 d-flex flex-column justify-content-between align-items-center">
                        <div class="av-product__type align-self-start">PDF</div>
                        <div class="av-product__file"></div>
                        <div class="av-product__size align-self-start">212 мб</div>
                    </div>
                    <div class="col-6 d-flex justify-content-center align-items-center">
                        <div class="av-product__name">Технический паспорт</div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-lg-6 p-0">
                <a href="#" class="row m-0">
                    <div class="col-6 d-flex flex-column justify-content-between align-items-center">
                        <div class="av-product__type align-self-start">TXT</div>
                        <div class="av-product__file"></div>
                        <div class="av-product__size align-self-start">212 мб</div>
                    </div>
                    <div class="col-6 d-flex justify-content-center align-items-center">
                        <div class="av-product__name">Гарантия</div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-lg-6 p-0">
                <a href="#" class="row m-0">
                    <div class="col-6 d-flex flex-column justify-content-between align-items-center">
                        <div class="av-product__type align-self-start">XLS</div>
                        <div class="av-product__file"></div>
                        <div class="av-product__size align-self-start">5,7 мб</div>
                    </div>
                    <div class="col-6 d-flex justify-content-center align-items-center">
                        <div class="av-product__name">Инструкция по уходу</div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-lg-6 p-0">
                <a href="#" class="row m-0">
                    <div class="col-6 d-flex flex-column justify-content-between align-items-center">
                        <div class="av-product__type align-self-start">PDF</div>
                        <div class="av-product__file"></div>
                        <div class="av-product__size align-self-start">125 мб</div>
                    </div>
                    <div class="col-6 d-flex justify-content-center align-items-center">
                        <div class="av-product__name">Montaggio Syntesis®
                            Line - sp.125-150 cartongesso</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<div class="btn-wrap border-bottom">
    <a href="#" class="btn btn-default">Показать ещё</a>
</div>
<section class="container-fluid p-0">
    <h2 id="table" class="h2">Гарантийные условия</h2>
</section>
<div class="av-template av-template__guarantee">
    <div class="border-bottom">
        <section class="container-fluid">
            <div class="row m-0">
                <div class="col-2 col-lg-6">
                    <div class="av-template__guarantee-title">
                        01.
                    </div>
                </div>
                <div class="col-10 col-lg-6">
                    <div class="av-template__guarantee-title">
                        Постоянный поиск качества и надежности
                        <span class="av-template__cross"></span>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="border-bottom hidden">
        <section class="container-fluid">
            <div class="row m-0">
                <div class="col-12 col-lg-6"></div>
                <div class="col-12 col-lg-6">
                    <div class="av-template__guarantee-desc">
                        Компания Eclisse s.r.l. разрабатывает и производит пеналы для раздвижных дверей
                        в соответствии с требованиями нормы UNI EN ISO 9001, а также с другими обязательными нормативными требованиями. С 1989 года, благодаря воплощенному в жизнь профессионализму, компания Eclisse обеспечивает репутацию своей марки как гарантии качества и технологии, решая проблемы, связанные с износом, техническим обслуживанием и установкой: более 20 патентов свидетельствуют
                        о постоянном совершенствовании. Чтобы постоянно гарантировать высшее качество изделий, компания Eclisse создала группу научных исследований и разработок, которая организует добровольные испытания под наблюдением уполномоченного органа CSI. Некоторые испытания особенно показательны для подтверждения качества изделия:
                    </div>
                </div>
            </div>
            <div class="row m-0 d-flex flex-lg-row-reverse">
                <div class="col-12 col-lg-6">
                    <div class="av-template__guarantee-title">
                        ИСПЫТАНИЕ НА ДОЛГОВЕЧНОСТЬ
                    </div>
                    <div class="av-template__guarantee-desc">
                        Ходовые каретки с 4 роликами Eclisse не претерпели значительных деформаций после 100 000 циклов открытия и закрытия. Кроме того, каретки получили максимальный уровень коррозионной стойкости (степень 4) после 240 часов в солевом тумане (классификация изделий посредством степеней от 1 до 4 в соответствии с нормой UNI EN 1670)
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="av-template__cursive">
                    <span>
                        В соответствии с нормой UNI EN 1527
                    </span>
                    </div>
                </div>
            </div>
            <div class="row m-0 d-flex flex-lg-row-reverse">
                <div class="col-12 col-lg-6">
                    <div class="av-template__guarantee-title">
                        Рельс съёмный из алюминиевого сплава 6060
                    </div>
                    <div class="av-template__guarantee-desc">
                        Ходовые каретки с 4 роликами Eclisse не претерпели значительных деформаций после 100 000 циклов открытия и закрытия. Кроме того, каретки получили максимальный уровень коррозионной стойкости (степень 4) после 240 часов в солевом тумане (классификация изделий посредством степеней от 1 до 4 в соответствии с нормой UNI EN 1670)
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="av-template__cursive">
                    <span>
                        В соответствии с нормой UNI 9006/1
                    </span>
                    </div>
                </div>
            </div>
            <div class="row m-0 d-flex flex-lg-row-reverse">
                <div class="col-12 col-lg-6">
                    <div class="av-template__guarantee-title">
                        Испытание на взлом развижной двери
                    </div>
                    <div class="av-template__guarantee-desc">
                        Ходовые каретки с 4 роликами Eclisse не претерпели значительных деформаций после 100 000 циклов открытия и закрытия. Кроме того, каретки получили максимальный уровень коррозионной стойкости (степень 4) после 240 часов в солевом тумане (классификация изделий посредством степеней от 1 до 4 в соответствии с нормой UNI EN 1670)
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="av-template__cursive">
                    <span>
                        В соответствии с нормой UNI EN 1629
                    </span>
                    </div>
                </div>
            </div>
            <div class="row m-0">
                <div class="col-12 col-lg-6"></div>
                <div class="col-12 col-lg-6">
                    <div class="av-template__link"><a href="#">Гарантийный талон <img src="img/arrow-up-right.svg" alt=""></a></div>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="av-template av-template__guarantee">
    <div class="border-bottom">
        <section class="container-fluid">
            <div class="row m-0">
                <div class="col-2 col-lg-6">
                    <div class="av-template__guarantee-title">
                        02.
                    </div>
                </div>
                <div class="col-10 col-lg-6">
                    <div class="av-template__guarantee-title">
                        Гарантия на пеналы для раздвижных дверей
                        <span class="av-template__cross"></span>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="border-bottom hidden">
        <section class="container-fluid">
            <div class="row m-0">
                <div class="col-12 col-lg-6"></div>
                <div class="col-12 col-lg-6">
                    <div class="av-template__guarantee-desc">
                        Компания Eclisse, на свои изделия готова предложить больше, чем того требует обновленный Кодекс о защите прав потребителей, увеличивая до 12 лет действие вышеназванной гарантии в отношении следующих аспектов:
                    </div>
                </div>
            </div>
            <div class="row m-0">
                <div class="col-12 col-lg-6 d-flex justify-content-end align-items-center">
                    <div class="av-template__done">
                    <span>
                        <img src="img/done-arrow.svg" alt="">
                    </span>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="av-template__guarantee-title">
                        Функциональность и легкость хода его комплектов кареток
                    </div>
                </div>
            </div>
            <div class="row m-0">
                <div class="col-12 col-lg-6 d-flex justify-content-end align-items-center">
                    <div class="av-template__done">
                    <span>
                        <img src="img/done-arrow.svg" alt="">
                    </span>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="av-template__guarantee-title">
                        Целость рельса, выполненного из алюминиевого сплава
                        6060 (10 мкм)
                    </div>
                </div>
            </div>
            <div class="row m-0">
                <div class="col-12 col-lg-6 d-flex justify-content-end align-items-center">
                    <div class="av-template__done">
                    <span>
                        <img src="img/done-arrow.svg" alt="">
                    </span>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="av-template__guarantee-title">
                        Металлические компоненты пенала из оцинкованной стали
                    </div>
                </div>
            </div>
            <div class="row m-0">
                <div class="col-12 col-lg-6"></div>
                <div class="col-12 col-lg-6">
                    <div class="av-template__link"><a href="#">Гарантийный талон <img src="img/arrow-up-right.svg" alt=""></a></div>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="av-template av-template__guarantee">
    <div class="border-bottom">
        <section class="container-fluid">
            <div class="row m-0">
                <div class="col-2 col-lg-6">
                    <div class="av-template__guarantee-title">
                        03.
                    </div>
                </div>
                <div class="col-10 col-lg-6">
                    <div class="av-template__guarantee-title">
                        Информация для покупателей
                        <span class="av-template__cross"></span>
                    </div>
                </div>
            </div>
        </section>
    </div>
        <section class="container-fluid hidden">
            <div class="row m-0">
                <div class="col-12 col-lg-6"></div>
                <div class="col-12 col-lg-6">
                    <div class="av-template__guarantee-desc">
                        Компания Eclisse, на свои изделия готова предложить больше, чем того требует обновленный Кодекс о защите прав потребителей, увеличивая до 12 лет действие вышеназванной гарантии в отношении следующих аспектов:
                    </div>
                </div>
            </div>
            <div class="row m-0">
                <div class="col-12 col-lg-6 d-flex justify-content-end align-items-center">
                    <div class="av-template__done">
                    <span>
                        <img src="img/done-arrow.svg" alt="">
                    </span>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="av-template__guarantee-title">
                        Функциональность и легкость хода его комплектов кареток
                    </div>
                </div>
            </div>
            <div class="row m-0">
                <div class="col-12 col-lg-6 d-flex justify-content-end align-items-center">
                    <div class="av-template__done">
                    <span>
                        <img src="img/done-arrow.svg" alt="">
                    </span>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="av-template__guarantee-title">
                        Целость рельса, выполненного из алюминиевого сплава
                        6060 (10 мкм)
                    </div>
                </div>
            </div>
            <div class="row m-0">
                <div class="col-12 col-lg-6 d-flex justify-content-end align-items-center">
                    <div class="av-template__done">
                    <span>
                        <img src="img/done-arrow.svg" alt="">
                    </span>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="av-template__guarantee-title">
                        Металлические компоненты пенала из оцинкованной стали
                    </div>
                </div>
            </div>
            <div class="row m-0">
                <div class="col-12 col-lg-6"></div>
                <div class="col-12 col-lg-6">
                    <div class="av-template__link"><a href="#">Гарантийный талон <img src="img/arrow-up-right.svg" alt=""></a></div>
                </div>
            </div>
        </section>
</div>
</main>

//= parts/footer.html