html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

* {
  outline: none !important; }

@font-face {
  font-family: "AvenirNext";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/avenirnext/AvenirNextCyr-Bold.eot") format("eot"), url("../fonts/avenirnext/AvenirNextCyr-Bold.woff") format("woff"), url("../fonts/avenirnext/AvenirNextCyr-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "AvenirNext";
  font-weight: bold;
  font-style: italic;
  src: url("../fonts/avenirnext/AvenirNextCyr-BoldItalic.eot") format("eot"), url("../fonts/avenirnext/AvenirNextCyr-BoldItalic.woff") format("woff"), url("../fonts/avenirnext/AvenirNextCyr-BoldItalic.ttf") format("truetype"); }

@font-face {
  font-family: "AvenirNext";
  font-style: italic;
  src: url("../fonts/avenirnext/AvenirNextCyr-Italic.eot") format("eot"), url("../fonts/avenirnext/AvenirNextCyr-Italic.woff") format("woff"), url("../fonts/avenirnext/AvenirNextCyr-Italic.ttf") format("truetype"); }

@font-face {
  font-family: "AvenirNext";
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/avenirnext/AvenirNextCyr-UltraLight.eot") format("eot"), url("../fonts/avenirnext/AvenirNextCyr-UltraLight.woff") format("woff"), url("../fonts/avenirnext/AvenirNextCyr-UltraLight.ttf") format("truetype"); }

@font-face {
  font-family: "AvenirNext";
  font-weight: 100;
  font-style: italic;
  src: url("../fonts/avenirnext/AvenirNextCyr-UltraLightItalic.eot") format("eot"), url("../fonts/avenirnext/AvenirNextCyr-UltraLightItalic.woff") format("woff"), url("../fonts/avenirnext/AvenirNextCyr-UltraLightItalic.ttf") format("truetype"); }

@font-face {
  font-family: "AvenirNext";
  font-weight: 200;
  font-style: normal;
  src: url("../fonts/avenirnext/AvenirNextCyr-Thin.eot") format("eot"), url("../fonts/avenirnext/AvenirNextCyr-Thin.woff") format("woff"), url("../fonts/avenirnext/AvenirNextCyr-Thin.ttf") format("truetype"); }

@font-face {
  font-family: "AvenirNext";
  font-weight: 200;
  font-style: italic;
  src: url("../fonts/avenirnext/AvenirNextCyr-ThinItalic.eot") format("eot"), url("../fonts/avenirnext/AvenirNextCyr-ThinItalic.woff") format("woff"), url("../fonts/avenirnext/AvenirNextCyr-ThinItalic.ttf") format("truetype"); }

@font-face {
  font-family: "AvenirNext";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/avenirnext/AvenirNextCyr-Light.eot") format("eot"), url("../fonts/avenirnext/AvenirNextCyr-Light.woff") format("woff"), url("../fonts/avenirnext/AvenirNextCyr-Light.ttf") format("truetype"); }

@font-face {
  font-family: "AvenirNext";
  font-weight: 300;
  font-style: italic;
  src: url("../fonts/avenirnext/AvenirNextCyr-LightItalic.eot") format("eot"), url("../fonts/avenirnext/AvenirNextCyr-LightItalic.woff") format("woff"), url("../fonts/avenirnext/AvenirNextCyr-LightItalic.ttf") format("truetype"); }

@font-face {
  font-family: "AvenirNext";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/avenirnext/AvenirNextCyr-Regular.eot") format("eot"), url("../fonts/avenirnext/AvenirNextCyr-Regular.woff") format("woff"), url("../fonts/avenirnext/AvenirNextCyr-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "AvenirNext";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/avenirnext/AvenirNextCyr-Medium.eot") format("eot"), url("../fonts/avenirnext/AvenirNextCyr-Medium.woff") format("woff"), url("../fonts/avenirnext/AvenirNextCyr-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "AvenirNext";
  font-weight: 600;
  font-style: italic;
  src: url("../fonts/avenirnext/AvenirNextCyr-MediumItalic.eot") format("eot"), url("../fonts/avenirnext/AvenirNextCyr-MediumItalic.woff") format("woff"), url("../fonts/avenirnext/AvenirNextCyr-MediumItalic.ttf") format("truetype"); }

@font-face {
  font-family: "Circe";
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/circe/Circe-Thin.eot") format("eot"), url("../fonts/circe/Circe-Thin.woff") format("woff"), url("../fonts/circe/Circe-Thin.ttf") format("truetype"); }

@font-face {
  font-family: "Circe";
  font-weight: 200;
  font-style: normal;
  src: url("../fonts/circe/Circe-ExtraLight.eot") format("eot"), url("../fonts/circe/Circe-ExtraLight.woff") format("woff"), url("../fonts/circe/Circe-ExtraLight.ttf") format("truetype"); }

@font-face {
  font-family: "Circe";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/circe/Circe-Light.eot") format("eot"), url("../fonts/circe/Circe-Light.woff") format("woff"), url("../fonts/circe/Circe-Light.ttf") format("truetype"); }

@font-face {
  font-family: "Circe";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/circe/Circe-Regular.eot") format("eot"), url("../fonts/circe/Circe-Regular.woff") format("woff"), url("../fonts/circe/Circe-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Circe";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/circe/Circe-Bold.eot") format("eot"), url("../fonts/circe/Circe-Bold.woff") format("woff"), url("../fonts/circe/Circe-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "Circe";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/circe/Circe-ExtraBold.eot") format("eot"), url("../fonts/circe/Circe-ExtraBold.woff") format("woff"), url("../fonts/circe/Circe-ExtraBold.ttf") format("truetype"); }

p {
  font-size: 14px;
  line-height: 1.73; }

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-family: "Circe";
  text-align: center; }

h1,
.h1 {
  font-size: 24px;
  font-weight: 400; }

h2,
.h2 {
  font-size: 24px;
  font-weight: 400;
  padding: 33px 0 30px; }

h3,
.h3 {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.43; }

h4,
.h4 {
  font-size: 14px;
  font-weight: 600; }

a {
  text-decoration: none;
  transition: border-bottom .3s ease-in-out;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  color: inherit; }
  a:hover {
    color: #0059af;
    border-bottom-color: rgba(0, 0, 0, 0.4); }

.link_border {
  text-decoration: none;
  position: relative;
  border: none; }
  .link_border:after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    background-color: #000000;
    height: 1px; }

@media (min-width: 768px) {
  h1,
  .h1 {
    font-size: 38px; }
  h2,
  .h2 {
    font-size: 38px;
    padding: 54px 0 50px; }
  h3,
  .h3 {
    font-size: 24px;
    margin-bottom: 25px; }
  h4,
  .h4 {
    font-size: 15px;
    font-weight: 700; } }

header {
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
  color: #818181;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  font-weight: 600;
  transition: border .3s ease;
  border-top: 20px solid #f9f9f9;
  border-bottom: 20px solid #f9f9f9; }
  header.fixed {
    border-top-width: 0;
    border-bottom-width: 0; }
  header .top {
    padding-top: 18px;
    padding-bottom: 18px; }
    header .top .top-navs {
      display: flex;
      flex-wrap: wrap;
      align-items: center; }
      header .top .top-navs .burger {
        flex: 1; }
        header .top .top-navs .burger .hamburger {
          padding: 0;
          top: 2px;
          position: relative; }
          header .top .top-navs .burger .hamburger .hamburger-box {
            height: 15px;
            width: 18px; }
          header .top .top-navs .burger .hamburger .hamburger-inner,
          header .top .top-navs .burger .hamburger .hamburger-inner:after,
          header .top .top-navs .burger .hamburger .hamburger-inner:before {
            width: 18px;
            height: 2px;
            margin: 0;
            background-color: #818181; }
          header .top .top-navs .burger .hamburger .hamburger-inner {
            top: 0; }
          header .top .top-navs .burger .hamburger .hamburger-inner:before {
            top: 6px; }
          header .top .top-navs .burger .hamburger .hamburger-inner:after {
            top: 12px; }
          header .top .top-navs .burger .hamburger.is-active .hamburger-inner {
            transform: translate3d(0, 6px, 0) rotate(45deg); }
          header .top .top-navs .burger .hamburger.is-active .hamburger-inner:after {
            transform: translate3d(0, -12px, 0) rotate(-90deg); }
      header .top .top-navs .phone {
        display: none;
        text-align: center;
        width: 100%;
        padding-top: 20px; }
      header .top .top-navs .logo {
        display: inline-block;
        text-align: center;
        border: none;
        flex: 1;
        height: 24px; }
        header .top .top-navs .logo img {
          width: 115px;
          height: 24px; }
        header .top .top-navs .logo a {
          border: none;
          display: inline-block;
          height: 24px; }
      header .top .top-navs .buttons {
        text-align: center;
        flex: 1;
        justify-content: flex-end;
        display: flex; }
        header .top .top-navs .buttons button {
          border: none;
          background: none;
          padding: 0;
          margin: 0;
          cursor: pointer;
          margin-left: 20px; }
      header .top .top-navs .langs {
        display: none;
        text-align: center;
        width: 100%;
        padding-top: 20px;
        font-size: 0; }
        header .top .top-navs .langs img {
          height: 25px;
          widows: 25px; }
        header .top .top-navs .langs a {
          border: none; }
  header nav {
    color: #818181;
    position: relative; }
    header nav .col {
      padding: 0;
      position: relative;
      border-bottom: 1px solid #dddddd;
      padding-left: 20px; }
      header nav .col a {
        margin-right: 60px;
        line-height: 60px;
        border: none;
        display: block;
        font-size: 15px;
        transition: color .3s ease; }
      header nav .col .more {
        position: absolute;
        transition: color .3s ease;
        right: 0;
        top: 0;
        font-size: 1.1em;
        cursor: pointer;
        width: 60px;
        display: flex;
        height: 100%;
        align-items: center; }
        header nav .col .more .up,
        header nav .col .more .down {
          height: 8px;
          margin-left: 20px;
          transition: opacity .3s ease;
          opacity: .5; }
        header nav .col .more .up {
          display: none; }
      header nav .col .submenu {
        background-color: #ffffff;
        padding: 0 20px 20px 0;
        width: 100%;
        display: none;
        margin-bottom: 1px; }
        header nav .col .submenu .submenu-item {
          padding-top: 20px; }
          header nav .col .submenu .submenu-item:first-child {
            padding-top: 0; }
        header nav .col .submenu a {
          padding: 0;
          line-height: 20px;
          border: none; }
          header nav .col .submenu a:after {
            display: none; }
        header nav .col .submenu.show {
          display: block; }
      header nav .col.is_submenu .more .down {
        display: none; }
      header nav .col.is_submenu .more .up {
        display: block; }
      header nav .col:hover > a {
        color: #000000; }
      header nav .col:hover .more .up,
      header nav .col:hover .more .down {
        opacity: 1; }
    header nav .active {
      color: #000000; }
    header nav:after, header nav:before {
      content: '';
      position: absolute;
      top: 0;
      height: 1px;
      background-color: #dddddd;
      width: 200%; }
    header nav:after {
      right: 0; }
    header nav:before {
      left: 0; }
  header .mob {
    display: none; }
    header .mob.show {
      display: block; }
  header .full {
    background-color: #ffffff;
    padding: 20px; }
  @media (min-width: 1025px) {
    header nav {
      text-align: left; }
      header nav .col {
        border-right: 1px solid #dddddd;
        border-bottom: none; }
        header nav .col:first-child {
          padding-left: 15px;
          padding-right: 5px; }
        header nav .col:last-child {
          border-right: none; }
        header nav .col .submenu {
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
          top: 70px;
          left: 0;
          position: absolute;
          padding-top: 20px;
          padding-left: 20px; }
      header nav.mob {
        display: flex; }
        header nav.mob.show {
          display: flex; }
    header .top .top-navs .burger {
      order: 1;
      flex: 1; }
    header .top .top-navs .phone {
      flex: 1;
      order: 2;
      padding: 0;
      text-align: left;
      display: block; }
    header .top .top-navs .logo {
      order: 3; }
    header .top .top-navs .buttons {
      flex: 1;
      order: 4; }
      header .top .top-navs .buttons button {
        margin-right: 16px; }
    header .top .top-navs .langs {
      display: block;
      text-align: right;
      flex: 1;
      order: 5;
      padding: 0; }
    header .top .top-navs .mob {
      display: block; }
      header .top .top-navs .mob.show {
        display: block; } }
  @media (min-width: 1200px) {
    header {
      border-top: 30px solid #f9f9f9;
      border-bottom: 30px solid #f9f9f9; }
      header .top .top-navs .buttons button {
        margin-right: 22px; } }

footer {
  background-color: #ffffff;
  padding-top: 20px;
  color: #818181;
  overflow: hidden; }
  footer .row {
    position: relative; }
    footer .row:before {
      content: '';
      height: 1px;
      width: 300%;
      position: absolute;
      top: 0;
      left: -100%;
      background-color: #dddddd; }
    footer .row [class*=col-] {
      padding-top: 20px;
      position: relative;
      display: none; }
      footer .row [class*=col-]:nth-child(4n):after {
        display: none; }
      footer .row [class*=col-]:last-child:after {
        display: none; }
      footer .row [class*=col-].mob {
        display: block; }
  footer ul {
    padding: 0;
    list-style: none; }
    footer ul li {
      margin-bottom: 1em; }
  footer a {
    color: inherit; }
  footer .title {
    margin-bottom: 1.5em;
    font-size: 24px;
    font-weight: 600;
    color: #000000; }
  footer .subscribe {
    padding-bottom: 0; }
    footer .subscribe [type=submit] {
      border: none;
      width: 100%; }
    footer .subscribe form {
      position: relative;
      padding-bottom: 30px; }
      footer .subscribe form label {
        color: #000000; }
      footer .subscribe form:after {
        content: '';
        height: 1px;
        width: 300%;
        position: absolute;
        bottom: 30px;
        left: -100%;
        background-color: #dddddd; }
  footer .socials {
    margin-bottom: 0;
    padding-top: 20px; }
    footer .socials a {
      border: none;
      float: right;
      vertical-align: middle;
      margin-left: 15px;
      margin-top: 3px; }
      footer .socials a img {
        width: 25px;
        height: 25px; }
  footer .contacts .phone {
    margin-bottom: 16px; }
    footer .contacts .phone .tel {
      font-size: 24px;
      color: #000000;
      font-family: 'Circe';
      font-weight: 400;
      border: none; }
  footer .contacts .mail a {
    font-size: 14px;
    color: #0059af;
    border-bottom-color: rgba(0, 89, 175, 0.3); }
    footer .contacts .mail a:hover {
      border-bottom-color: rgba(0, 89, 175, 0.6); }
  footer .bottom {
    border-top: none; }
    footer .bottom a {
      border-bottom-color: rgba(129, 129, 129, 0.2); }
    footer .bottom .footer_link .link {
      width: 100%;
      margin-bottom: 16px; }
      footer .bottom .footer_link .link a {
        display: inline-block;
        margin-right: 20px; }
    footer .bottom .footer_link .dev {
      float: left;
      width: 70%; }
      footer .bottom .footer_link .dev a {
        color: #0059af;
        border-color: rgba(0, 89, 175, 0.3); }
        footer .bottom .footer_link .dev a:hover {
          border-color: rgba(0, 89, 175, 0.6); }
    footer .bottom .footer_link .lang {
      width: 30%;
      float: right;
      text-align: right; }
      footer .bottom .footer_link .lang a {
        border: none;
        display: inline-block; }
        footer .bottom .footer_link .lang a img {
          width: 25px;
          height: 25px; }
    footer .bottom:before {
      display: none; }
  @media (min-width: 1025px) {
    footer {
      padding-top: 40px; }
      footer .row [class*=col-] {
        padding-top: 30px;
        padding-bottom: 20px;
        display: block; }
        footer .row [class*=col-]:after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          height: 20px;
          width: 1px;
          background-color: #dddddd; }
      footer .row.bottom:before {
        display: block; }
      footer .title {
        font-size: 17px; }
      footer .socials {
        border-top: none;
        padding-top: 0; }
        footer .socials a {
          margin-top: -3px; }
      footer .bottom .footer_link {
        margin-top: -0;
        display: flex;
        align-items: center; }
        footer .bottom .footer_link .link {
          flex: 3;
          margin-bottom: 0; }
        footer .bottom .footer_link .dev {
          flex: 2; }
        footer .bottom .footer_link .lang {
          flex: 1;
          text-align: right; }
          footer .bottom .footer_link .lang a {
            border: none;
            display: inline-block; }
            footer .bottom .footer_link .lang a img {
              width: 25px;
              height: 25px; }
      footer .contacts {
        display: none; }
      footer .subscribe form {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row; }
        footer .subscribe form:after {
          display: none; }
        footer .subscribe form [type=submit] {
          width: 85%; }
        footer .subscribe form .input {
          order: 1;
          flex: 60%; }
        footer .subscribe form .submit {
          order: 2;
          flex: 40%; }
        footer .subscribe form .label {
          order: 3;
          flex: 100%; }
  }
  @media (min-width: 1200px) {
    footer .subscribe form .input {
      flex: 70%; }
    footer .subscribe form .submit {
      flex: 30%; } }

html,
body {
  font-family: "AvenirNext";
  background-color: #f9f9f9;
  font-size: 14px;
  font-weight: 300; }

body {
  padding-top: 100px; }
  @media (max-width: 1025px) {
    body.is_submenu {
      overflow: hidden; }
      body.is_submenu header {
        overflow-x: hidden;
        height: 100%; }
        body.is_submenu header .top {
          position: fixed;
          top: 0;
          left: 0;
          padding: 20px;
          width: 100%;
          z-index: 10;
          background-color: #ffffff; }
        body.is_submenu header nav.mob.show {
          margin-top: 150px; } }

@media (min-width: 1025px) {
  body {
    padding-top: 160px; } }

form input,
form button {
  line-height: 50px;
  border-radius: 30px;
  background-color: transparent;
  border: solid 1px #d1d1d1;
  padding: 0 20px;
  font-size: 15px;
  vertical-align: middle; }
  form input.fluid,
  form button.fluid {
    width: 100%; }

form button,
form input[type=submit] {
  background-color: #f9f9f9;
  transition: .3s ease;
  transition-property: background-color, color, border, opacity; }
  form button:hover,
  form input[type=submit]:hover {
    background-color: #0059af;
    color: #ffffff; }

form input:focus,
form textarea:focus {
  border: solid 1px #95b6d9; }

form .input_field {
  margin-bottom: 30px;
  overflow: hidden;
  width: 100%;
  display: block; }

form label input {
  margin-right: 16px; }

form .checkbox,
form .radio {
  margin: 0; }

form.was-validate button[type=submit].disabled {
  opacity: .7; }

form.was-validate .input_field.has-validate input:required:invalid {
  border-color: crimson; }

form.was-validate .input_field.has-validate label {
  color: crimson; }

form.was-validate .input_field.has-validate .checkbox .cr,
form.was-validate .input_field.has-validate .radio .cr {
  border-color: crimson; }

form.was-validate .input_field input:required:valid {
  border-color: mediumseagreen; }

@media (min-width: 1025px) {
  form.was-validate button,
  form.was-validate input[type=submit] {
    padding: 0 36px; } }

h1 {
  margin: 84px auto 116px; }

h2 {
  padding: 32px 0; }

.main__title {
  text-align: center;
  color: #ffffff;
  overflow: hidden; }
  .main__title .bg_img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 440px; }
    .main__title .bg_img:before {
      background-image: radial-gradient(circle at 23% 53%, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  .main__title h1 {
    margin-top: 0;
    margin-bottom: 116px; }
    .main__title h1 small {
      display: block;
      font-size: 13px;
      color: inherit;
      margin-bottom: 84px; }
  .main__title .more {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 90px; }
  .main__title a {
    color: #ffffff; }
    .main__title a:after {
      background-color: #ffffff; }
    .main__title a.or:after {
      background-color: #feb100; }
  .main__title .owl-carousel .owl-stage-outer {
    overflow: visible; }
  .main__title .owl-carousel .container {
    position: relative;
    overflow: hidden;
    padding-top: 40px;
    padding-bottom: 53px;
    height: 100%; }
  .main__title .owl-navs {
    margin-top: -60px; }
    .main__title .owl-navs .container {
      position: relative;
      height: 60px; }

.block_news .row .image {
  min-height: 220px; }

.block_news .row .image {
  order: 1;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.block_news .row .text {
  order: 2;
  background-color: #ffffff;
  position: relative;
  text-align: center; }
  .block_news .row .text .info {
    margin-top: 66px;
    margin-bottom: 66px; }
    .block_news .row .text .info p {
      color: #818181;
      font-size: 15px;
      align-self: center; }
    .block_news .row .text .info .h3 {
      align-self: center; }
  .block_news .row .text span {
    position: absolute;
    top: 20px;
    font-size: 14px;
    color: #818181;
    left: 0;
    width: 100%;
    text-align: center; }
  .block_news .row .text .more {
    position: absolute;
    bottom: 20px;
    text-align: center;
    left: 0;
    width: 100%; }
  .block_news .row .text:before {
    content: '';
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    top: -15px;
    border-right: 10px solid white;
    left: 50%;
    transform: rotate(90deg);
    position: absolute; }

.block_news .row:nth-child(2n+1):hover .text:before {
  border-left: 10px solid #0059af; }

.block_news .row .more a {
  color: #0059af; }
  .block_news .row .more a:after {
    background-color: #feb100; }

.block_news .row:hover .text {
  background-color: #0059af;
  color: #ffffff; }
  .block_news .row:hover .text p,
  .block_news .row:hover .text a,
  .block_news .row:hover .text span,
  .block_news .row:hover .text .more {
    color: inherit; }
  .block_news .row:hover .text span {
    opacity: .5; }
  .block_news .row:hover .text p {
    opacity: .6; }
  .block_news .row:hover .text a:after {
    background-color: #ffffff; }
  .block_news .row:hover .text:before {
    border-right: 10px solid #0059af; }

.block_benefits .list__item {
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  counter-reset: list;
  color: #818181;
  position: relative; }
  .block_benefits .list__item:before {
    content: '';
    width: 1px;
    background-color: #dddddd;
    position: absolute;
    height: 100%;
    right: 0px; }
  .block_benefits .list__item:after {
    content: '';
    height: 1px;
    background-color: #dddddd;
    position: absolute;
    width: 100%;
    bottom: 0px; }
  .block_benefits .list__item .list__item-item {
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    background-size: 0;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer; }
    .block_benefits .list__item .list__item-item:before {
      counter-increment: list;
      content: "0" counter(list);
      top: 20px;
      left: 30px;
      position: absolute; }
    .block_benefits .list__item .list__item-item .ico {
      width: 100%;
      text-align: center; }
      .block_benefits .list__item .list__item-item .ico svg,
      .block_benefits .list__item .list__item-item .ico img {
        width: 40px;
        height: 40px;
        margin: 30px auto; }
        .block_benefits .list__item .list__item-item .ico svg use,
        .block_benefits .list__item .list__item-item .ico img use {
          fill: #0053AA; }
    .block_benefits .list__item .list__item-item h4,
    .block_benefits .list__item .list__item-item .h4 {
      text-align: center;
      color: #000000;
      padding-bottom: 20px;
      font-weight: 600;
      position: relative;
      z-index: 1;
      width: 100%;
      align-self: flex-end; }
    .block_benefits .list__item .list__item-item .text {
      display: none; }
      .block_benefits .list__item .list__item-item .text p {
        line-height: 1.43; }
    .block_benefits .list__item .list__item-item.active.img {
      background: none !important; }
  .block_benefits .list__item .list__item-mob {
    display: none;
    background-color: #ffffff;
    width: 100%;
    left: -15px;
    position: relative; }
    .block_benefits .list__item .list__item-mob p {
      padding: 20px; }
    .block_benefits .list__item .list__item-mob .img {
      background-position: center center;
      background-size: cover;
      height: 230px; }
    .block_benefits .list__item .list__item-mob.active {
      display: block; }

.block_portfolio .h4 {
  font-weight: 600; }

.block_portfolio .image {
  height: 140px;
  margin: 0 -15px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

.block_portfolio .desc {
  margin: 0 -15px;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  text-align: center; }
  .block_portfolio .desc .wrap {
    padding: 17px 20px; }
  .block_portfolio .desc h4,
  .block_portfolio .desc .h4 {
    margin-top: 12px;
    color: #000000;
    margin-bottom: 5px; }
  .block_portfolio .desc .avatar {
    text-align: center;
    margin: auto;
    margin-top: 18px; }
    .block_portfolio .desc .avatar img {
      width: 30px;
      height: 30px;
      border-radius: 100%; }
  .block_portfolio .desc .url a {
    border: none; }
  .block_portfolio .desc .icon {
    float: left; }
    .block_portfolio .desc .icon a {
      border: none;
      font-size: 16px;
      line-height: 1.1;
      display: inline-block; }
  .block_portfolio .desc .date {
    float: right; }

.block_portfolio [class*=col-] {
  color: #818181;
  transition: background-color .3s ease; }
  .block_portfolio [class*=col-]:nth-child(2n+2) .desc {
    border-left: none; }
  .block_portfolio [class*=col-]:hover {
    background-color: #0059af;
    color: #ffffff; }
    .block_portfolio [class*=col-]:hover h4,
    .block_portfolio [class*=col-]:hover .h4 {
      color: #ffffff; }
    .block_portfolio [class*=col-]:hover .date,
    .block_portfolio [class*=col-]:hover .icon,
    .block_portfolio [class*=col-]:hover .url {
      opacity: .5;
      transition: .3s ease;
      transition-property: color, opacity;
      border: none; }
      .block_portfolio [class*=col-]:hover .date:hover:not(.date),
      .block_portfolio [class*=col-]:hover .icon:hover:not(.date),
      .block_portfolio [class*=col-]:hover .url:hover:not(.date) {
        color: #ffffff;
        opacity: 1; }
    .block_portfolio [class*=col-]:hover .desc {
      border-right-color: #0059af; }
    .block_portfolio [class*=col-]:hover .avatar img {
      box-shadow: 0 2px 15px 0 rgba(0, 61, 119, 0.57); }
    .block_portfolio [class*=col-]:hover a:hover {
      color: #ffffff;
      opacity: 1; }

.block_clients [class*=col-] {
  border-right: 1px solid #dddddd;
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  border-bottom: 1px solid #dddddd;
  transition: box-shadow .3s ease; }
  .block_clients [class*=col-]:nth-child(2n+2) {
    border-right: none; }
  .block_clients [class*=col-]:hover {
    box-shadow: 0 2px 76px 0 #dce2e8;
    position: relative;
    z-index: 1; }

.block_clients .logo {
  min-height: 140px;
  border: none;
  display: block;
  filter: grayscale(100%);
  transition: filter .45s ease; }
  .block_clients .logo img {
    height: auto;
    width: 100%;
    margin: auto;
    display: block; }
  .block_clients .logo:hover {
    filter: grayscale(0%); }

.partners_request form {
  border-top: 1px solid #dddddd;
  padding-top: 20px;
  padding-bottom: 10px;
  position: relative; }
  .partners_request form:before {
    content: '';
    height: 1px;
    width: 300%;
    position: absolute;
    top: -1px;
    left: -100%;
    background-color: #dddddd; }
  .partners_request form label {
    margin-top: 16px;
    display: inline-block; }
  .partners_request form [type=submit] {
    width: 100%; }

@media (min-width: 768px) {
  .main__title h1 small {
    font-size: 14px;
    margin-bottom: 147px; }
  .main__title .link_border:after {
    bottom: -10px; }
  .main__title .bg_img {
    height: 600px; }
  .block_news .row .text {
    display: flex;
    flex-wrap: wrap;
    padding-left: 40px;
    padding-right: 40px; }
    .block_news .row .text .info {
      align-self: center;
      width: 100%;
      margin: 0;
      padding-top: 80px;
      padding-bottom: 80px; }
    .block_news .row .text span {
      top: 40px; }
    .block_news .row .text .more {
      bottom: 40px; }
  .block_news .row [class*=col-] {
    min-height: 390px; }
    .block_news .row [class*=col-]:before {
      top: 50%;
      transform: translateY(-50%);
      left: -10px;
      transform: none; }
  .block_news .row:nth-child(2n+1) .text {
    order: 1; }
    .block_news .row:nth-child(2n+1) .text:before {
      border-left: 10px solid white;
      right: -10px;
      left: auto;
      border-right: none; }
  .block_news .row:nth-child(2n+1) .image {
    order: 2; }
  .block_benefits .list__item .list__item-item {
    min-height: 260px; }
    .block_benefits .list__item .list__item-item .ico svg,
    .block_benefits .list__item .list__item-item .ico img {
      height: 77px;
      width: 77px;
      margin: 60px auto; }
  .block_portfolio .image {
    height: 260px; }
  .block_portfolio .desc .wrap {
    padding: 22px 30px; }
  .block_portfolio .desc h4,
  .block_portfolio .desc .h4 {
    border-top: 1px solid #dddddd;
    padding-top: 24px;
    margin-top: 41px;
    transition: border-top .3s ease; }
  .block_portfolio .desc .avatar img {
    width: 90px;
    height: 90px; }
  .block_portfolio [class*=col-]:nth-child(3n+3) .desc {
    border-left: none; }
  .block_portfolio [class*=col-]:hover .h4 {
    border-top-color: rgba(221, 221, 221, 0.14); } }

@media (min-width: 1025px) {
  .main__title h1 small {
    font-size: 14px;
    margin-bottom: 147px; }
  .main__title .link_border:after {
    bottom: -10px; }
  .main__title .bg_img {
    height: 600px; }
  .block_news .row .text {
    padding-left: 40px;
    padding-right: 40px; }
  .block_news .row [class*=col-] {
    min-height: 390px; }
    .block_news .row [class*=col-]:before {
      top: 50%;
      transform: translateY(-50%);
      left: -10px;
      transform: none; }
  .block_news .row:nth-child(2n+1) .text {
    order: 1; }
    .block_news .row:nth-child(2n+1) .text:before {
      border-left: 10px solid white;
      right: -10px;
      left: auto;
      border-right: none; }
  .block_news .row:nth-child(2n+1) .image {
    order: 2; }
  .partners_request form {
    padding-top: 40px; }
    .partners_request form [type=submit] {
      width: auto; }
  .block_benefits .list__item .list__item-item {
    display: flex;
    flex-wrap: wrap; }
    .block_benefits .list__item .list__item-item .text {
      background-color: #f9f9f9; }
      .block_benefits .list__item .list__item-item .text:before {
        opacity: 0; }
      .block_benefits .list__item .list__item-item .text.active {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 30px; }
      .block_benefits .list__item .list__item-item .text p {
        line-height: 1.71; }
    .block_benefits .list__item .list__item-item h4,
    .block_benefits .list__item .list__item-item .h4 {
      padding-top: 19px;
      border-top: 1px solid #dddddd; }
    .block_benefits .list__item .list__item-item.img:not(.active):hover {
      background-size: cover;
      color: #ffffff; }
      .block_benefits .list__item .list__item-item.img:not(.active):hover:before {
        opacity: 0; }
      .block_benefits .list__item .list__item-item.img:not(.active):hover .ico svg use {
        fill: #FFFFFF; }
      .block_benefits .list__item .list__item-item.img:not(.active):hover h4,
      .block_benefits .list__item .list__item-item.img:not(.active):hover .h4 {
        color: #ffffff;
        border-color: rgba(221, 221, 221, 0.5); }
  .block_benefits .row .list__item-mob.active {
    display: none; }
  .block_clients [class*=col-]:nth-child(2n+2) {
    border-right: 1px solid #dddddd; } }

@media (min-width: 1200px) {
  .block_news .row .text {
    padding-left: 60px;
    padding-right: 60px; }
  .block_clients .logo {
    min-height: 260px; } }

@media (min-width: 1400px) {
  .block_news .row .text {
    padding-left: 180px;
    padding-right: 170px; } }

.owl-navs {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  position: relative;
  height: 60px;
  z-index: 1; }
  .owl-navs .container-fluid {
    position: relative;
    height: 60px; }
  .owl-navs button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer; }
  .owl-navs .nav,
  .owl-navs .dots {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    line-height: 0; }
  .owl-navs .nav {
    height: 16px;
    z-index: 1; }
    .owl-navs .nav .owl-prev,
    .owl-navs .nav .owl-next {
      position: absolute; }
    .owl-navs .nav .owl-prev {
      left: 15px; }
    .owl-navs .nav .owl-next {
      right: 15px; }
  .owl-navs .dots {
    z-index: 2;
    width: auto;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
    .owl-navs .dots button {
      width: 8px;
      height: 8px;
      background-color: #ffffff;
      border-radius: 100%;
      margin-right: 8px;
      opacity: .5;
      -webkit-transition: opacity .3s ease;
      -o-transition: opacity .3s ease;
      transition: opacity .3s ease; }
      .owl-navs .dots button.active {
        opacity: 1; }
      .owl-navs .dots button:last-child {
        margin-right: 0; }

@media (min-width: 1200px) {
  .container {
    max-width: 1440px; } }

.float_right {
  float: right; }

.container-fluid {
  max-width: 1440px; }

main {
  overflow: hidden; }

.checkbox,
.radio {
  margin-right: 16px; }
  .checkbox label:after,
  .radio label:after {
    content: '';
    display: table;
    clear: both; }
  .checkbox .cr,
  .radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: 4px;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: 15px; }

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
  position: absolute;
  font-size: .8em;
  line-height: 0;
  top: 52%;
  left: 15%; }

.radio .cr .cr-icon {
  margin-left: 0.04em; }

.checkbox label,
.radio label {
  padding-left: 0; }

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
  display: none; }

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
  -webkit-transform: scale(3) rotateZ(-20deg);
  -ms-transform: scale(3) rotate(-20deg);
  transform: scale(3) rotateZ(-20deg);
  opacity: 0;
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in; }

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
  -webkit-transform: scale(1) rotateZ(0deg);
  -ms-transform: scale(1) rotate(0deg);
  transform: scale(1) rotateZ(0deg);
  opacity: 1; }

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
  opacity: .5; }

/*# sourceMappingURL=base.css.map */
