.av-breadcrumbs{ text-align: center; margin-top: 20px; padding-top: 44px; margin-bottom: -11px;
    a{margin-right: 29px; position: relative; display: inline-block;
        &:before{width: 3px;height: 3px; background-color: #969696; border-radius: 50%; display: block; right: -18px; top: calc(50% - 0px);  content: ''; position: absolute;}
    }
    span {position: relative;}
    &--gray {
        a {color: #eee;
            &:before {background-color: #eee;}
        }
        span {color: #eee;}
    }
}
.av-config{background-color: #fff; margin-top: 19px;
    .av-bb{border-bottom: 1px solid #dddddd;}
    .col-lg-6{border-right: 1px solid #dddddd;
        &:last-child{border-right: 0;}
    }
    .col-lg-3{border-right: 1px solid #dddddd;
        &:last-child{border-right: 0;}
    }
    &__title{min-height: 110px; display: flex; justify-content: center; align-items: center;flex-direction: column; border-bottom: 1px solid #dddddd;
        h5{font-size: 21px; font-weight: 500;}
        p{color: #818181; line-height: 1.86; font-size: 14px;}
    }
    &__radio{ cursor: pointer; margin: 30px 15px; width:calc(100% - 30px);display: block; position: relative;
        input{width: 1px;height: 1px; position: absolute; opacity: 0; visibility: hidden;
            &:checked + span { background-color: #e1f0ff; color: #0050ad;
                &:after{box-shadow: inset  0px 0px 0 4px #e1f0ff;
                    border: solid 1px #0059af; background-color: #0059af;}
            }
        }
        span{ width:100%;  height: 50px; display: flex; justify-content: space-between; align-items: center;border-radius: 25px;  background-color: #f9f9f9; padding: 0 20px; font-size: 15px; font-weight: normal; line-height: 1.73; color: #818181; cursor: pointer;
            &:after{width: 20px; flex-shrink: 0;  height: 20px; border-radius: 10px;  border: solid 1px #c6c6c6; content: ''; display: block;}
        }
        &--simple{
            span{justify-content: center;
                &:after{display: none;}
            }
        }
        i{font-style: normal;}
    }
    &__checkbox{ cursor: pointer; margin: 30px 15px; width:calc(100% - 30px);display: block; position: relative;
        input{width: 1px;height: 1px; position: absolute; opacity: 0; visibility: hidden;
            &:checked + span { background-color: #e1f0ff; color: #0050ad;
                &:after{   background-color: #0059af; transform: translateX(0);}
                &:before{   background-color: #0059af; }
            }
        }
        span{ width:100%;  height: 50px; display: flex; justify-content: space-between; align-items: center;border-radius: 25px;  background-color: #f9f9f9; padding: 0 20px; font-size: 15px; font-weight: normal; line-height: 1.73; color: #818181; cursor: pointer;
            &:after{width: 20px; flex-shrink: 0;  height: 20px; border-radius: 10px;  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.35);  background-color: #ffffff; content: ''; display: block; transform: translateX(-20px); transition: transform 300ms;}
            &:before{width: 40px; height: 1px;background-color: #ddd; position: absolute; content: ''; display: block; top: 25px; right: 20px;}
        }
        i{font-style: normal;}
    }
    &__range{display: flex; justify-content: space-between; align-items: center; padding: 30px 0;
        input{width: 80px; height: 50px;  border-radius: 25px;  border: solid 1px #dddddd; margin: 0 26px; text-align: center; font-size: 15px; font-weight: 500;}
        .ui-slider{position: relative; padding: 10px 20px ; width: 100%; height: 20px; margin-right: 20px;
            &:before{height: 1px; width: calc(100% ); background: #ddd;  position: absolute; display: block; content: ''; left: 10px; top: 10px;}
        }
        .ui-slider-range{height: 1px; background-color: #0059af; position: absolute;}
        .ui-slider-handle{width: 20px;   height: 20px; border-radius: 10px;  box-shadow: 0 2px 5px 0 rgba(0, 89, 175, 0.38);background-color: #0059af; display: block; cursor: pointer; position: absolute; transform: translateY(-50%)}
    }
    &__texter{padding: 20px 10px;}
    &__checker{ cursor: pointer;display: inline-flex; position: relative; justify-content: flex-start; align-items: center; margin: 0 20px;
        input{width: 1px;height: 1px; position: absolute; opacity: 0; visibility: hidden;
            &:checked + i + span {  color: #0050ad;  }
            &:checked + i{background-color: #0059af; border-color: #0059af;
                &:before{ opacity: 1; }
            }
        }
        i{width: 18px; flex-shrink: 0;  height: 18px; border-radius: 4px;border:1px solid #ddd; content: ''; display: inline-block; position: relative; margin-right: 20px;
            &:before{width: 10px; height: 5px;border-left: 2px solid #fff; border-bottom: 2px solid #fff; position: absolute; content: ''; display: block; top: 4px; left: 3px; transform: rotate(-45deg); opacity: 0;}
        }
        span{   font-size: 15px; font-weight: normal; line-height: 1.73; color: #818181; cursor: pointer; }
    }
    .row:last-child {
        .av-config__title {border-bottom: none;}
    }
    &--margin-bottom {margin-bottom: 40px;}
}
.av-info{background-color: #fff; margin-bottom: 60px;
    &__text{max-width: 463px; padding: 40px 0;}
    &__image{min-height: 390px; background-position: 50% 50%; background-size: cover;}
    p{text-align: center; font-size: 15px; letter-spacing: normal; color: #818181;}
}
.av-href{ text-align: center; width: 100%; margin-bottom: 77px; margin-top: -40px;
    a{   color: #0053aa;
        &:after {  background-color: #feb100;  }
    }
}
.av-list{margin-bottom: 60px;
    .col-6{border-top: 1px solid #dddddd; border-right: 1px solid #dddddd;
        &:nth-child(4n-3){border-left: 1px solid #dddddd;}
    }
}
.av-list-item{ padding: 0; width: 100%;
    &:hover{z-index: 50; box-shadow: 0 2px 76px 0 rgba(0, 89, 175, 0.27); background-color: #0059af;
        .av-list-item{
            &__img{opacity: 0;}
            &__top{border-color: rgba(255, 255, 255, 0.27);}
            &__text{opacity: 1;}
            &__bot{color: #fff; background-color: transparent;}
        }
    }
    &__top{height: 260px; display: flex; justify-content: center;align-items: center; position: relative;border-bottom: 1px solid #dddddd; }
    &__bot{font-size: 15px; font-weight: 600; height: 80px; display: flex;  justify-content: center;align-items: center; text-align: center; background-color: #fff;}
    &__img{transition: opacity 300ms; overflow: hidden;height: 100%; width: 100%;
        img{width: 100%; height: 100%; object-fit: cover;}
    }
    &__text{transition: opacity 300ms; font-size: 14px; font-weight: normal; line-height: 1.71; text-align: center; color: #ffffff; position: absolute; width: 100%;height: 100%; left: 0;top: 0; opacity: 0; display: flex; justify-content: center;align-items: center; padding: 30px;
    }
}
.btn {line-height: 50px;border-radius: 30px;border: 1px solid #d1d1d1;padding: 0 20px;font-size: 15px;vertical-align: middle; display: inline-block; transition: all .3s;
    &-primary {border: none;}
    &-default {background-color: transparent;}
    &:hover {border-color: #d1d1d1; background-color: #0059af; color: #fff;}
    &-wrap {text-align: center; padding: 30px 0;}
}
.owl-carousel {
    &--asset {position: relative; }
    &--product {
        .bg_img {background-repeat: repeat; background-size: contain;}
    }
}
.owl-navs {
    &--product { border-top: 1px solid #ddd;
        .dots button {background: #000;}
    }
}

.av-product {
    &__title {
        .bg_img {height: 780px;
            &:before {background-image: radial-gradient(circle at 23% 53%,rgba(0,0,0,0),rgba(0,0,0,.03));}
        }
    }
    &__tabs-caption {display: flex; justify-content: center;border-bottom: 1px solid #ddd;}
    &__tab {display: inline-block;padding: 25px 0; margin: 0 25px; border-bottom: 2px solid transparent; font-weight: 500; cursor: pointer; position: relative;
        &:hover {border-bottom: 2px solid #0059af;color: #0059af;}
        &.active {border-bottom: 2px solid #0059af;color: #0059af;}
        .tab-decimal { position: absolute; top: 16px; right: -10px;}
    }
    &__content {color: #818181; margin-top: 60px; display: none;
        &.active {display: block;}
        .col-12{border-top: 1px solid #ddd;
            &:nth-child(-n+2) {border-top: none;}
            &:hover {
                .av-product {
                    &__file {background-image: url('../img/file.svg');background-color: #0059af;}
                    &__name {color: #0059af;
                        span {color: #818181;}
                    }
                    &__play {background-image: url("../img/play-button-blue.svg");}
                    &__type {color: #818181;}
                    &__size {color: #818181;}
                }
            }
        }
        .col-6 {box-sizing: border-box; padding: 30px; background-color: #fff;
            &:first-child{background: #eee;}
            &:last-child {position: relative;
                &:before {content: ''; position: absolute; display: block; width: 0; height: 0; border-top: 8px solid transparent; border-right: 17px solid #fff; border-bottom: 8px solid transparent; background-color: transparent; left: -16px; top: 50%; transform: translateY(-50%);}
            }
        }
    }
    &__type {background: #fff; border-radius: 10px; padding: 1px 5px;font-size: 13px; position: relative; z-index: 2;}
    &__file {background-image: url('../img/file-copy-3.svg');background-position: center;background-repeat: no-repeat;background-color: #fff;border-radius: 100%; width: 90px; height: 90px;transition: background 300ms;margin: 29.5% 0;}
    &__size {font-size: 13px;background-color: transparent; position: relative; z-index: 2;}
    &__name {font-size: 15px; color: #000; font-weight: 600; text-align: center;
        span {font-size: 14px; color: #818181;display: block; line-height: 1.43; font-weight: 400; padding-top: 15px;}
    }
    &__icon {background-color: #fff;border-radius: 100%; width: 90px; height: 90px;margin: 35%;display: flex; align-items: center; justify-content: center;}
    &__desc {text-align: center; margin: 10px 40px;}
    &__person {border-radius: 100%; width: 90px; height: 90px; background-color: transparent;
        img {width: 100%; height: 100%; border-radius: 100%;}
        &-name {font-size: 15px; font-weight: 600; color: #000; padding: 20px 0 5px;}
        &-mail {font-size: 13px; color: #818181;}
    }
    &__play {border-radius: 100%; width: 90px; height: 90px;transition: background 300ms;background-color: transparent; position: absolute; top: 50%; left: 50%; transform: translate(-50%,  -50%); background-image: url("../img/play-button.svg");

    }
    &__comment {font-size: 15px; line-height: 1.73; text-align: center; padding: 143px 96px;
        a {color: #0050ad;}
    }
    &__arrow {
        &.flex-row-reverse {
            .col-white:before {left: 100%; transform: rotate(180deg);}
        }
    }
    &__no-arrow {
        .col-white:before {display: none;}
        &.flex-row-reverse {
            .av-product__photo:before {
                right: auto; left: 0; transform: rotate(180deg);
            }
        }
    }
    &__hover {
        .col-12 {transition: background-color 300ms;}
        .col-12:first-child {background-color: #eee;}
        &:hover {
            .col-12:first-child {background-color: #0059af;}
            .av-product {
                &__person {
                    &-name {color: #fff;}
                    &-mail {color: #fff;}
                }
            }
        }
    }
    &__photo {width: 100%; height: 100%; max-height:360px;object-fit: cover; position: relative;
        &:before {content: ''; position: absolute; display: block; width: 0; height: 0; border-top: 8px solid transparent; border-right: 17px solid #fff; border-bottom: 8px solid transparent; background-color: transparent; right: 0; top: 50%; transform: translateY(-50%);z-index: 5;}
    }
    &__about { padding: 96px; text-align: center; line-height: 1.73; font-size: 15px;
        &-title {font-size: 24px; color: #000; margin-bottom: 30px;}
    }
    &__img {min-height: 282px;
        img {position: absolute; top: 0;left: 0;right: 0;bottom: 0; width: 100%; height: 100%; object-fit: contain;}
        &--cover {
            img {object-fit: cover;}
        }
    }
    a.row {border: none;}
    &__feedback {
        .col-12 {height: auto;}
    }
    &__plan {position: relative;
        .plan {position: absolute;left: 50%;transform: translateX(-50%);bottom: 90px;z-index: 5;}
    }
    .tab-decimal {position: absolute; font-size: 10px; color: #0059af;}
}

.col-white {position: relative; background-color: #fff;
    &:before {content: ''; position: absolute; display: block; width: 0; height: 0; border-top: 8px solid transparent; border-right: 17px solid #fff; border-bottom: 8px solid transparent; background-color: transparent; left: -16px; top: 50%; transform: translateY(-50%);}
}
.header {border-bottom: 1px solid #f9f9f9;}
.av-works {margin-bottom: 40px;
    &__item {margin: 0 auto; border: none; overflow: hidden; display: flex;
        &:hover img {transform: scale(1.1);}
        img {width: 100%;height: 100%;object-fit: cover; transition: transform .3s;}
    }
}
.av-family {position: relative;
     &__title {height: 600px; color: #eee;background-size: cover; text-align: center; display: flex; flex-direction: column; align-items: center; justify-content: space-between; text-align: center;
         h2 {font-size: 38px; color: #fff;}
         p {font-size: 17px; max-width: 563px; margin: 0 auto;}
         .link_border {margin-top: 90px;
             &:after {background-color: #feb100;}
         }
    }
    &__more {padding: 15px; margin: 25px;}
    &__tabs {display: flex; justify-content: space-between;
        &-wrap {border-bottom: 1px solid #ddd;}
        a {display: inline-block;padding: 30px; border-bottom: 2px solid transparent; font-weight: 500; cursor: pointer;
            &:hover {border-bottom: 2px solid #0059af;color: #0059af;}
            &.active {border-bottom: 2px solid #0059af;color: #0059af;}
        }
    }

}
.av-news {margin: 60px auto;}
.av-template {background-color: #fff; line-height: 1.73;
    &__author {width: 30px;height: 30px; object-fit: cover; object-position: center; border-radius: 100%; display: block; margin: 30px auto}
    &__subtitle {font-size: 24px; margin: 50px 0 35px; padding: 0 15px;}
    &__desc {font-size: 16px; color: #818181; padding: 0 15px;}
    &__big-text {font-size: 38px; text-align: center; margin: 30px 0; padding: 0 15px; line-height: 1.31;
        a {color: #0059af;}
    }
    &__cursive {font-style: italic; font-size: 15px; color: #818181; text-align: right; padding: 0 15px;
        span {max-width: 193px; display: inline-block;}
    }
    &__link {margin: 60px 15px 35px; text-align: left;
        a {color: #0059af;  font-size: 16px; display: inline-block;}
        img {padding-left: 15px;}
    }
    &__slide {height: 600px; background-size: cover; background-position: center center;}
    &__img {margin: 0 -15px; max-height: 600px; height: 100%;
        img {width: 100%; height: 100%; object-fit: cover;}
    }
    &.owl-navs--product {border-bottom: 1px solid #ddd;}
    .col-lg-6 {
        .av-template__big-text {text-align: left;}
    }
    &__form {background-color: #0059af; color: #fff; padding-bottom: 30px; position: relative;
        &-title {font-size: 13px; opacity: .5; padding: 20px 15px;}
        &-btn {margin: 52px 0 0 -15px; padding: 0 15px 0 0;
            button {color: #0059af;}
        }
        .border-bottom {
            border-bottom: 1px solid rgba(255, 255, 255, .3);
        }
        label.input_field {margin: 0; overflow: visible;}
        input[required] + label {position: relative;
            &:before {position: absolute; content: ''; width: 12px; height: 10px; display: block; top: -32px; right: 7px; background-repeat: no-repeat;}
        }
        input[required].has-validate:not(:valid )+ label:before {
            background-image: url("../img/error-form.svg");
        }
        input[required]:valid + label:before {
            background-image: url("../img/done-arrow-white.svg");
        }


    }
    &__x {position: absolute; top: -15px; background-color: #0059af; width: 30px;height: 30px;transform: translateX(-50%); z-index: 5; left: 50%; cursor: pointer; border-radius: 100%;
        &:before {content: ''; z-index: 6; width: 16px; height: 2px; position: absolute; transform: rotate(45deg); top: 12px; left: 7px; background-color: #fff; transition: all .3s;}
        &:after {content: ''; z-index: 6; width: 16px; left: 7px; height: 2px; position: absolute; background-color: #fff; top: 12px; transform: rotate(-45deg); transition: all .3s;}

    }

    &__upload {display: block; height: 260px; border-radius: 24px; border: dashed 1px rgba(255,255,255, 0.55); margin: 0 15px; position: relative; overflow: hidden; cursor: pointer;
        &.has-validate {border-color: #dc143c;}
        &-loader {position: absolute;display: block; background-color: rgba(3, 19, 53, .6); opacity: 1;width: 100%;height: 100%;
            i {background: url('../img/preloader-icon.gif') center center no-repeat; background-size: contain; width: 75px; height: 100%; display: block; margin: 0 auto;}
        }
        &.active {border-color: transparent;
            img {display: block;}
            button {display: inline-block;padding: 0;}
            img.av-template__upload-plus {display: none;}
        }
        input {display: none;}
        img {position: absolute; display: none; top: -1px;left: -1px;right: 0;bottom: 0;width: calc(100% + 2px);height: calc(100% + 2px);object-fit: cover;border-radius: 23px;}
        img.av-template__upload-plus {display: block;width: auto;height: auto;top: 50%;left: 50%;transform: translate(-50%, -50%);}
    }
    &__remove {width: 20px; height: 20px; position: absolute; top: 15px; right: 15px; display:none; border-radius: 100%; background-color: #000; opacity: .2; border: none; padding: 0; z-index: 1; cursor: pointer;
        img {display: inline-block; width: 12px; height: 10px; margin: 6px 5px;}
    }
    &__input {width: 100%; margin: 0 15px; color: #fff; border-color: rgba(255, 255, 255, .3);
        &--text {height: 160px; background-color: transparent; border-radius: 30px; resize: none; padding: 15px 20px; line-height: 1.5; font-size: 15px; width: calc(100% - 30px);}
        &:focus {border-color: rgba(255, 255, 255, 1);}
        &.has-validate {border-color: #dc143c;}
    }
    &__guarantee {max-height: 92px; overflow: hidden; transition: height .3s;
        &-title {font-size: 24px; padding: 25px 15px; display: flex; justify-content: space-between; align-items: center;}
        &-desc {font-size: 16px; color: #818181; padding: 25px 15px;}
        .av-template__cursive {padding: 117px 15px 25px;}
        &:last-of-type {max-height: 91px; margin-bottom: 40px;}
        &.active {max-height: none;}
    }
    &__cross {display: inline-block; float: right; width: 16px; height: 16px; position: relative; border: none;
        &:hover {border: none;}
        &:before {content: ''; width: 16px; height: 2px; position: absolute; transform: rotate(90deg) translateX(-8%); top: 50%; background-color: #000; transition: all .3s;}
        &:after {content: ''; width: 16px; height: 2px; position: absolute; background-color: #000; top: 50%; transform: translateY(-50%); transition: all .3s;}
        &.active {
            &:before {transform: rotate(45deg);}
            &:after {transform: rotate(-45deg);}
        }
    }
    &__done {padding: 35px 15px; text-align: right;}

}
.av-course {
    .av-product {
        &__img {
            img {object-fit: cover;}
        }
    }
}
.av-library {
    &__file {background-color: #fff;border-radius: 100%; width: 90px; height: 90px;transition: background 300ms;margin: 35% 0; display: flex; justify-content: center; align-items: center;}
    svg {width: 48px; height: 48px;}
    .ico-hover {transition: fill 300ms;}
    .col-12:hover {
        .av-library {
            &__file {background-color: #0059af;
                .ico-hover {fill: #fff;}
            }
        }
    }
}

a.row {border: none;
    &:hover {border: none;}
}
.border {
    &-bottom {border-bottom: 1px solid #ddd;}
}
.margin {
    &-bottom {margin-bottom: 40px;}
}

@media screen and (max-width: 1280px) {
    .av-family {
        &__tabs {
            a {padding: 30px 15px;}
            &-wrap {overflow-x: auto; white-space: nowrap;}
        }
    }
}
@media screen and (max-width: 1024px) {
    .av-bb {
        &--border {border-bottom: 1px solid #ddd;}
    }
    .av-config {
        &__texter--border {border-bottom: 1px solid #ddd;}
        &__checker {margin: 10px 20px;}
        &__radio {margin: 15px;}
        &__checkbox {margin: 15px;}
        &__range--border {border-bottom: 1px solid #ddd;}
        .col-lg-6 {border-right: none;}
    }
    .btn {
        &-primary {width: calc(100% - 30px);}
        &-border {margin: 0 -15px 35px; border-bottom: 1px solid #d1d1d1;}
        &-max {width: 100%;}
    }
    .av-product {
        &__content {
            .col-6 {padding: 20px;}
            .col-12 {
                &:nth-child(n+2) {
                    border-top: 1px solid #ddd;
                }
            }
        }
        &__type {font-size: 12px;}
        &__file {width: 60px; height: 60px; margin: 10% 0;}
        &__size {font-size: 12px;}
        &__name {font-size: 13px;
            span {display: none;}
        }
        &__play {width: 60px; height: 60px;}
        &__comment {padding: 20px;}
        .col-12 {min-height: 220px; display: flex;}
        .row {width: 100%;}
        &__about { padding: 20px; font-size: 14px;
            &-title {font-size: 18px; color: #000; margin-bottom: 12px;}
        }
        &__arrow {max-height: none;
            .col-white:before {left: 50%;top: -16px;transform: rotate(90deg) translateY(50%);}
            &.flex-row-reverse {
                .col-white:before {left: 50%;top: -16px;transform: rotate(90deg) translateY(50%);}
            }
        }
        &__img {min-height: auto;}
        &__no-arrow {
            &.flex-row-reverse {
                .av-product__photo:before {
                    right: auto; left: 50%; top: auto;bottom: -1px; transform: rotate(90deg) translateY(50%);
                }
            }
        }
        &__photo {max-height: 220px;
            &:before {right: auto; left: 50%; top: auto; bottom: -1px; transform: rotate(90deg) translateY(50%);}
        }
        &__tab:hover {border-color: transparent; color:#000; }
        &__tab.active:hover {border-color: #0059af;color:#0059af;}
        .block_news {margin: 0; padding: 0;
            &>.row {margin: 0;}
        }
    }
    .av-library {
        &__file {width: 60px; height: 60px;}
        svg {width: 30px; height: 30px;}
    }
    .av-course {
        .col-12:nth-child(even) {
            .row {flex-direction: row-reverse;}
            .col-6:last-child:before {left: auto; right: -16px; transform: translateY(-50%) rotate(180deg);}
        }
    }
    .row-reverse {flex-direction: row-reverse;}
    .owl-carousel {
        &--product {
            .bg_img {background-repeat: no-repeat; background-size: cover;}
        }
    }
    .av-template {
        &__subtitle {font-size: 18px; margin: 25px 0 20px; text-align: center;}
        &__desc {font-size: 14px;}
        .col-12 {padding: 0;}
        .container-fluid {padding: 0;}
        &__big-text {font-size: 24px; line-height: 30px; text-align: center!important;}
        &__cursive {padding: 35px 15px 15px;}
        &__link {margin: 20px 15px;}
        &__img {margin: 0;
            img {display: block;}
        }
        &__form {padding-bottom: 20px;
            .row {margin: 0;}
            .container-fluid {padding: 0;}
            .col-12 .col-12 {padding: 0;}
            .col-lg-6 .col-6 {padding: 0;}
            &-btn {padding: 0;}
            &-photo {
                .col-12 {padding: 0;
                    &:first-child {margin-top: 0;}
                }
                .col-6 {padding: 0 15px!important;}
            }
            &-title {padding: 15px 0;
                &--double {padding: 15px;}
            }
            .input_field {margin: 0;}
        }
        &__input {margin: 0;
            &--text {width: 100%;}
        }
        &__upload {margin: 0;}
        &__guarantee {
            &-title {font-size: 18px; text-align: center; justify-content: center; position: relative; padding: 17px 15px;}
            &-desc {font-size: 14px; text-align: center;}
            .col-2 {position: absolute;}
            .col-10 {margin: 0 auto;}
            .hidden {display: none;}
            &.active {
                .hidden {display: block;}
            }
            &:last-of-type {margin-bottom: 20px;
                .border-bottom {border: none;}
                &.active {
                    .border-bottom {border-bottom: 1px solid #ddd;}
                }
            }
            .av-template__cursive {padding: 0 15px 20px; text-align: center;}
            .av-template__link {text-align: center;}
        }
        &__cross {position: absolute; left: 100%; top: 25px;}
        &__done {padding: 0 15px; margin-bottom: -10px; width: 100%; text-align: center;}
    }
    .margin {
        &-none {margin: 0;}
    }

}
@media screen and (max-width: 767px){
    h1{margin-top: 38px; margin-bottom: 30px;}
    .av-info__image{min-height: 220px;}
    .av-breadcrumbs{font-size: 13px; margin-top: 20px; padding-top: 0; margin-bottom: 0; }
    .av-href{margin-top: 0; font-size: 13px; margin-bottom: 44px;}
    .link_border:after{bottom: -7px;}
    .av-info{ margin-bottom: 30px; z-index: 5; position: relative;
        &__text{padding-top: 57px; padding-bottom: 49px;
            h3{margin-bottom: 12px;}
        }
        p{font-size: 14px; line-height: 1.43;}
    }
    .av-list-item{
        &:hover{background-color: transparent; box-shadow: none;
            .av-list-item__img { opacity: 1; }
            .av-list-item__bot{color: #000;background: #f4f4f4;}
        }
        &__top{height: 96px; border-bottom: 0; position: static;}
        &__bot{height: calc(100% - 96px); background-color: #f4f4f4; padding: 10px;}
        &__text{top: 100%; background-color: #fff; height: auto; width: 200%; line-height: 1.43; color: #000; font-size: 14px;padding: 67px 20px 50px; z-index: 100; pointer-events: none;
            &:before{content: ''; width: 15px;height: 15px;background-color: #fff; position: absolute; top: -7px; transform: rotate(-45deg); left: 25%; }
        }
    }
    .av-list{z-index: 10; position: relative; margin-bottom: 40px;
        .col-6:nth-child(2n){
            .av-list-item__text{left: -100%;
                &:before{left: 75%;}
            }
        }
        &-item {height: 100%;}
    }
    .av-config{margin-top: -3px;
        &__title{ min-height: 1px; padding-top: 23px; border-bottom: 0; padding-bottom: 16px;
            h5{font-size: 18px;}
        }
        &__radio{margin: 0 0 20px; width: 100%;
            span{font-size: 14px;  position: relative;
                i{white-space: nowrap;overflow: hidden;text-overflow: ellipsis; padding-right: 5px;}
            }
        }
        &__checkbox{margin: 0 0 20px; width: 100%;
            span{font-size: 14px;  position: relative;
                i{white-space: nowrap;overflow: hidden;text-overflow: ellipsis; padding-right: 20px;}
            }
        }
        &__range{padding: 0 10px 22px; border-bottom: 1px solid #ddd;
            input{width: 70px; margin: 0 10px;}
        }
        .col-lg-3 {  border-right: 0;  }
        .col-lg-6 {border-right: 0;}
        &__texter{border-bottom: 1px solid #ddd; padding-top: 0; line-height: 1.43; font-size: 14px;}
        &__checker{margin: 0 20px 10px; align-items: flex-start;
            i{margin-top: 4px;}
        }
    }
    .av-bb {
        &:nth-last-child(2){border-bottom: 0;}
    }
    .border-none {border: none;}
    .av-product {
        &__tabs-caption {overflow-x: auto; display: block; white-space: nowrap; text-align: center;}
        &__tab {font-size: 13px; margin: 0; padding: 20px;}
        &__content {margin-top: 30px;}
        &--max-height-140 {
            .col-12 {min-height: 140px; max-height: 140px;}
        }
        &__img {
            img {object-fit: cover;}
        }
    }
    .av-family {
        &__title {height: 440px;
            h2 {font-size: 24px;}
            p {font-size: 14px;}
        }
        &__tabs {
            a {font-size: 13px; padding: 20px 15px;}
        }
    }
    .av-news {margin: 25px 0;}
    .btn {
        &-default {width: 100%;}
        &-wrap {padding: 25px 15px;}
    }
    .margin {
        &-bottom {
           margin-bottom: 25px;
        }
    }
    .block_news .row:nth-child(2n+1):hover .text:before {border-left: none;}
    .av-product__tab .tab-decimal {
        top: 8px;
        right: 5px;
    }
}

@media  screen and (max-width: 720px){
    .av-template {
        &__img {
            img {height: auto;}
        }
    }
}
@media screen and (max-width: 600px){
    .av-template {
        &__upload {height: 180px;}
    }
}
@media screen and (max-width: 600px){
    .av-template {
        &__upload {height: 150px;}
    }
}
