.av-template__form input[required].tel-mask+label:before {
    background-image: none;
}

.av-template__form input[required].tel-mask.done+label:before {
    background-image: url(../img/done-arrow-white.svg);
}

.av-template__form input[required].tel-mask.has-validate+label:before {
    background-image: url(../img/error-form.svg);
}

.header {
    max-height: 100%;
    overflow-y: visible;
    overflow-x: visible;
}

header .mob.show {
    border-top: 20px solid #f9f9f9;
}

.col.is_submenu {
    .more {height: auto; top: 25px;}
}

.desktop {
    background-color: #ffffff;
    color: #818181;
    overflow: hidden;
    display: none;
    width: 100%;
    left: 0;
    padding: 0 0px 0 0px;
    display: none;
    margin-top: -60px;
    &.show {display: block;
        margin-top: 0;
        .mob.show {
            border-top: 0;
        }
        .row:before {
            display: none;
        }
    }
    .row {
        position: relative;
        background-color: #ffffff;

    }
    .row [class*=col-] {
        padding-top: 20px;
        position: relative;
        display: none;
    }
    .row [class*=col-]:nth-child(4n):after {
        display: none; }
    .row [class*=col-]:last-child:after {
        display: none; }
    .row [class*=col-].mob {
        display: block;
    }
    ul {
        padding: 0;
        list-style: none; }
    ul li {
        margin-bottom: 1em; }
    a {
        color: inherit;
        font-weight: 300;
    }
    .title {
        margin-bottom: 1.5em;
        font-size: 24px;
        font-weight: 600;
        color: #000000;
        a {font-weight: 600;}
    }
    .subscribe {
        padding-bottom: 0; }
    .subscribe [type=submit] {
        border: none;
        width: 100%; }
    .subscribe form {
        position: relative;
        padding-bottom: 30px; }
    .subscribe form label {
        color: #818181;
        font-size: 14px;
        font-weight: 400;
    }
    .subscribe form:after {
        content: '';
        height: 1px;
        width: 300%;
        position: absolute;
        bottom: 30px;
        left: -100%;
        background-color: #dddddd; }
    .socials {
        margin-bottom: 0;
        padding-top: 20px; }
    .socials a {
        border: none;
        float: right;
        vertical-align: middle;
        margin-left: 15px;
        margin-top: 3px; }
    .socials a img {
        width: 25px;
        height: 25px; }
    .contacts .phone {
        margin-bottom: 16px; }
    .contacts .phone .tel {
        font-size: 24px;
        color: #000000;
        font-family: 'Circe';
        font-weight: 400;
        border: none; }
    .contacts .mail a {
        font-size: 14px;
        color: #0059af;
        border-bottom-color: rgba(0, 89, 175, 0.3); }
    .contacts .mail a:hover {
        border-bottom-color: rgba(0, 89, 175, 0.6); }
    .bottom {
        border-top: none; }
    .bottom a {
        border-bottom-color: rgba(129, 129, 129, 0.2); }
    .bottom .footer_link .link {
        width: 100%;
        margin-bottom: 16px; }
    .bottom .footer_link .link a {
        display: inline-block;
        margin-right: 20px; }
    .bottom .footer_link .dev {
        float: left;
        width: 70%; }
    .bottom .footer_link .dev a {
        color: #0059af;
        border-color: rgba(0, 89, 175, 0.3); }
    .bottom .footer_link .dev a:hover {
        border-color: rgba(0, 89, 175, 0.6); }
    .bottom .footer_link .lang {
        width: 30%;
        float: right;
        text-align: right; }
    .bottom .footer_link .lang a {
        border: none;
        display: inline-block; }
    .bottom .footer_link .lang a img {
        width: 25px;
        height: 25px; }
    .bottom:before {
        display: none; }
}

.subheader {
    h1 {margin-bottom: 14px; margin-top: 24px;}
    p { font-weight:300; text-align: center; max-width: 608px; margin: 0 auto; font-size: 17px; line-height: 27px;}
    .av-href {margin-top: 35px;}
}
.map {position: relative; height: 765px;
    &__total { position: absolute; width: 100%; height:100%; right: 0;
        top:0;}
    //background-color: #95b6d9;

    #map {
        z-index: -1;
        width: 100%; height: 100%; padding: 0; margin: 0;
    }
    &__cover {
        width: 100%;
        height: 100%;
        position: absolute;
        background-image: linear-gradient(to right, #eaeaea, #eaeaea 270px, #ffffff00 390px,transparent);
        z-index: 1;
        pointer-events: none;
    }


}

.ymaps-2-1-74-float-button {width: 30px !important; height: 30px !important; max-width: 30px !important; display: flex; border-radius: 50% !important;
    align-items:center; justify-content: center;
    & > ymaps {box-sizing: border-box !important; width: 100%; height: 100%;}
}
.ymaps-2-1-74-float-button.ymaps-2-1-74-_checked {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ymaps-2-1-74-zoom {height: 20px !important;}
.ymaps-2-1-74-zoom__plus {border-radius: 50%; margin-bottom: 20px;
    .ymaps-2-1-74-zoom__icon {background-image: url("../img/plus.png") !important; background-size: 16px 16px; background-position: 60% 50%;}
}
.ymaps-2-1-74-zoom__minus {border-radius: 50%; position: relative !important;
    &:after {
        position: absolute;
        display: block;
        width: 16px;
        height: 2px;
        background-color: #000000;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: none;
        content: '';
    }
    .ymaps-2-1-74-zoom__icon {background-image: none !important; background-size: 16px 16px;}
}
.ymaps-2-1-74-float-button-icon_icon_expand {
    background-image: url("../img/maximize.png") !important; background-size: 16px 16px; background-position: 60% 50%;
}

.filters {  background-color: transparent;padding: 30px 20px 30px 30px;

    &__box { top: 0; left: 0; width: 360px;overflow: auto;  height: 100%; z-index: 2; position: relative;
        &:after {    background-color: #ccc; width: 2px; height: 100%; content: ''; display: block; right: 7px; top: 0; position: absolute; z-index: -1;}
        .mCSB_scrollTools .mCSB_draggerRail {background-color: #ccc;}
        .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {background-color: #0059af; width: 5px;}
        .mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden {margin-right: 30px;}
    }
    &__selectors {     max-width: 100%; width: calc(100% - 360px); padding-right: 100px;
        bottom: 40px;
        left: 380px;
        position: absolute;
        display: flex;
        //position: absolute; left: 450px; bottom: 25px;
        &--mob {
            position: static;
            display: none;
            flex-wrap: wrap;
            .selector {margin-right: 0; height: 50px; margin-bottom: 20px; position: unset;
                &.active { z-index: 1;
                    .selector__container { top: 0px; bottom: 0; position: relative;}
                }
            }
            .selector__link { border-radius: 50px; position: relative; }
            .selector__container--next  {
                .mCS_no_scrollbar {
                    .mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}
.search {display: flex; width: 100%;  align-items: center; justify-content: center; position: relative; margin-bottom: 20px;
    input {width: 100%; padding: 5px 25px 5px 5px; background-color: transparent;border: 0; font-size: 15px; color: #0059af; font-weight: 600;}
    &__img { cursor: pointer;
        width: 18px; height: 18px;  background-size: 100%; background-repeat: no-repeat; position: absolute; right: 0; padding: 0px; background-color: transparent;border: none; transition: all 200ms; display: flex; align-items: center; justify-content: center;
        svg {stroke: #000; transition: all 200ms;
            &:last-child { display: none; }
        }
        &:hover {
            svg {stroke: #0059af;}
        }
        &.cross { border-radius: 50%; background-color: #000000;
            svg {
                &:first-child { display: none; }
                &:last-child { display: block; }
            }
        }
    }
}
.selector { width: 100%;  max-width: 300px; margin-right: 60px; position: relative;
    &.active {
        .selector__link {color: #0059af;
            .arrow { background-image: url("../img/arrow-blue.png");transform: translateY(-50%) rotateZ(0deg); }
        }
        .selector__container {display: block; overflow: hidden;}
    }
    &__link { font-size: 15px; color: #000000; font-weight: 600; position: absolute; bottom: 0; padding: 20px; background-color: #ffffff; box-shadow: 0 1px 2px 0 rgba(0,0,0,.25);  height: 50px; border-radius: 25px; max-width: 300px; display: flex;  align-items: center; justify-content: flex-start; padding-right: 30px; width: 100%;
        .arrow { position: absolute;  top: 50%; transform: translateY(-50%) rotateZ(180deg); width: 15px; height: 8px; background-image: url("../img/arrow_up.svg"); right: 20px; }
    }
    &__box {    max-height: 550px; overflow: auto; padding: 0 0px 0 20px;
        .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
            background-color: #0059af;
            width: 5px;
        }
        .mCSB_scrollTools .mCSB_draggerRail {
            background-color: #ccc;
        }
    }
    &__closer {width: 20px; height: 20px; border: none; background-color: rgba(0,0,0,0.2); display: flex; align-items: center; justify-content: center; padding: 0; border-radius: 50%;  position: absolute; top: 24px; right: 20px; cursor: pointer;
        &:hover { background-color: rgba(0,0,0, 0.5); }
    }
    &__container {position: absolute; display: none;  width: 100%; bottom: 80px; max-height: 570px; background-color: #fff; box-shadow: 0 1px 2px 0 rgba(0,0,0,.25); padding: 20px 0 0px 0; border-radius: 8px;
        &--next {
            .selector__head {padding: 20px 0 0 20px;}
            .selector__closer {top: 24px; background-color: #000000; transform: rotateZ(45deg);
                &.active { transform: rotateZ(0deg); background-color: rgba(0,0,0,.2);
                    &:hover {background-color: rgba(0,0,0,0.5);}
                }
            }
            .selector__box {padding-left: 0;}
            .mCSB_inside>.mCSB_container {margin-right: 0;}
        }
    }
    &__checkers { border-top: 1px solid #cccccc; padding-top: 0;  position: relative;
        .selector__head {margin-bottom: 17px;}
        .selector__labelbox {display: none;}
        &.active {
            .selector__labelbox {display: block;}
        }
        &:first-child {border: 0;
            .selector__head {padding-top: 0;}
            .selector__closer {top: 4px;}
        }
        label { position: relative;  display: block; ; margin: 20px 0; padding-right: 20px; font-weight: 600; padding-left: 20px; }
        input { display: none;
            & + span {  color: #7f7f7f;
                i { display: block; width: 20px; height: 20px;  border-radius: 4px;  border: solid 1px #c6c6c6; position: absolute; right:20px; top: 50%; transform: translateY(-50%); }
            }
            & + i {}
            &:checked {
                & + span { color: #0059af;
                    i {background-color: #0059af; border-color: #0059af;
                        &:after {
                            width: 13px; height: 7px; border-left: 2px solid #ffffff;border-bottom: 2px solid #ffffff; display: block; position: absolute; content: ''; top: 40%; left: 50%; transform: translate(-50%, -50%) rotateZ(-45deg);
                        }
                    }
                }
            }
        }
    }
    &__head { font-size: 23px; font-weight: 600; padding: 0 20px; margin-bottom: 10px; }
    &__list { list-style-type: none;
        a {font-size: 15px; color: #7f7f7f; font-weight: 600; line-height: 2.67; border: 0;
            &:hover {color: #000000; }
            &.active {color: #0059af;}
        }
        label {

        }
    }
}
.select2-results__option {font-size: 15px; color: #7f7f7f; font-weight: 600;
    &:hover {color: #000000;}
}
//.select2-results { max-height: 400px; }
.select2-dropdown.select2-dropdown--below {
    margin: 15px 0; border-radius: 8px; border: 0; box-shadow: 0 1px 2px 0 rgba(0,0,0,.25);
}
.select2-dropdown.select2-dropdown--above {
    margin: 15px 0; border-radius: 8px; border: 0; box-shadow: 0 1px 2px 0 rgba(0,0,0,.25);
}
.select2.select2-container.select2-container--default.select2-container--above .select2-selection.select2-selection--single {
    border-radius: 25px;
}
.select2-container--default .select2-results>.select2-results__options {

}
li.select2-results__option.select2-results__option--highlighted {

}
.select2-dropdown.select2-dropdown--above {
    padding-bottom: 40px;
    background-color: transparent;
    box-shadow: none;
    .select2-results {
        background-color: #fff;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,.25);
        border-radius: 4px;
    }

}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
     color: #000000; background-color: transparent;
 }
.select2-container--default .select2-results__option[aria-selected=true]{
    background-color: transparent;color: #0059af; font-weight: 600;
}
.founded {width: 100%; background-color: #ffffff; border-radius: 8px; color: #000000; position: relative; margin-bottom: 30px; box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25); transition: all 200ms; display: none; cursor: pointer;
    &__closer {border-radius: 50%; width: 20px; height: 20px; padding: 0px; background-color: #000000; display: none; background-color: rgba(0,0,0,0.2); border: 0; cursor: pointer; position: absolute; right: 20px; top: 24px;}
    &__header { font-size:23px; font-weight: 400; margin-bottom:15px;}
    &.active {
        background-color: #0059af; color: #ffffff; box-shadow: 0 2px 20px 0 rgba(0, 89, 175, 0.39);
        .field__name {
            span {opacity: 0.5;}
        }
        .founded__closer {display: block;}
        .field__image {
            svg {
                use:first-child {display: none;}
                use:last-child {display: block;}
            }
        }
        .founded__details {display: block;}
        .founded__callback {display: flex;}
    }
    &__box {
        padding: 20px 20px 14px 20px;
    }
    &__callback {padding: 20px; border-top: 1px solid rgba(255,255,255,0.2);  align-items:center; justify-content:center; display: none;
        a { font-size: 15px; font-weight: 600;  border: none;
            &:hover {opacity: 0.8; text-decoration: none; color: #ffffff;}
        }
    }
    &__field { padding: 0 20px; }
    &__details { display: none;}
    &.display { display: block; }
}
.field { margin-bottom: 11px;
    &__name {display: flex; align-items:center; justify-content:flex-start; margin-bottom: 7px;}
    &__image {width: 16px; height: 18px;display: inline; vertical-align: middle; margin-right: 5px;
        svg {width: 100%; height: 100%;vertical-align: middle; display: inline;
            use {width: 100%; height:100%;
                &:first-child {display: block;}
                &:last-child {display: none;}
            }
        }
        &--mail {height: 16px;}
    }
    &__point { font-size: 15px; font-weight: 600; }
}
.sorter {
    &__box {  display: flex; align-items: center; justify-content: space-between; padding: 15px 0px; }
    &__item { display: flex; width: 100px;
        &:last-child {justify-content: flex-end;}
    }
    &__button { border: none; background: none; display: flex; align-items:center; cursor: pointer;
        span {font-size: 15px; color: #000000; font-weight: 600;}
        .arrows {margin: 0 10px;}
        img {
            &:nth-child(1) {display: none;}
            &:nth-child(2) {transform: rotateZ(180deg);}
        }
        &.active {
            span { color: #0059af; }
            img {
                &:nth-child(1) {display: block;}
                &:nth-child(2) {display: none;}
            }
        }
    }
    .btn { background-color: #0059af; color: #ffffff;}
    &__hidden {border-top: 1px solid #d8d8d8;
        .sorter__box {display: flex; align-items:center; justify-content: center;  }
    }
    &__bordered {border-bottom: 1px solid #d8d8d8; }
}
.tags {
    border-bottom: 1px solid #dddddd;
    &__box {
        display: flex; align-items: center; justify-content: flex-start;
    }
      padding: 25px 30px 20px 30px;
    &__cont { display: flex; justify-content: space-between;  }
    &__reset {color: #818181; font-size: 13px; font-weight: 400; padding-left: 20px; position: relative; background-color: transparent; border: none; cursor: pointer; display: none;
        &:after {position: absolute; content: ''; width: 2px; height: 12px; background-color: #818181; display: block; left: 5px; top: 50%; transform: translateY(-50%) rotateZ(-45deg);}
        &:before {position: absolute; content: ''; width: 2px; height: 12px; background-color: #818181; display: block; left: 5px; top: 50%; transform: translateY(-50%) rotateZ(-135deg);}
        &.active {display: flex;}
    }
    display: none;
        &.active {display: block;}


}
.reset__hidden {display: none;}
.sorter__hidden {display: none;}
.tag { margin: 0 5px 10px 5px; position: relative; cursor: pointer;
    input { display: none;
        & + span {font-size: 13px; color: #818181;  border: 1px solid #979797; padding: 5px 10px 7px 21px; border-radius: 15px; font-weight: 400;
            display: block;
            &:before { content: ''; display: block; background-color: rgba(0,0,0, 0.3);width: 5px; height: 5px;  border-radius: 50%; position: absolute;  top:13px; left: 10px; }
        }
        &:checked {
            & + span {background-color: #e1f0ff; color: #0059af; border-color: #e1f0ff;
                &:before {background-color: #0059af;}
            }
        }

    }
}
.people { margin-bottom: 25px; margin-top: 25px;
    &__box {display: flex; flex-wrap: wrap; }
    .container-fluid {padding: 0;}
}
.man { width: 25%; flex-grow: 1; border:1px solid #dddddd; color: #000000;  margin-bottom: -1px;  display: none; flex-direction: column; border-left: 0;
    &:nth-child(4n - 3) {border-left: 1px solid #dddddd;}
    &.active {display: flex;}
    .field__image {margin-right: 0;}
    &:hover {
        color: #ffffff;
        .man__about {background-color: #0059af;}
        .man__coord { color: rgba(255, 255, 255, 0.5); }
        .man__location {color: rgba(255, 255,255, 0.5); border-color: rgba(255,255,255,0.35);}
        .field__image svg use {
            &:first-child { display: none; }
            &:last-child { display: block; }
        }
        .man__insta {
            a {background-image: url(../img/inst_h.png);}
        }
    }
    &__place {
        width: 100%; height: 260px; text-decoration: none; border: none; overflow: hidden;
        img {width: 100%; height:  100%; transition: all 300ms;}
        &:hover {
            img {transform: scale(1.3);}
        }
    }
    &__info {padding: 42px 30px 0px 30px; display: flex; flex-direction: column; }
    &__about {position: relative; flex-grow: 1; display: flex; }
    &__photo {position: absolute;  transform: translateY(-50%); left: 30px; border-radius: 50%; overflow: hidden; width: 64px; height: 64px;}
    &__name {font-size: 18px; font-weight: 600; margin-bottom: 3px;}
    &__coord { font-size: 13px; color: #818181; padding: 0px 0 7px;
        a {
            &:hover {border-color: #ffffff; color: #ffffff;}
        }
    }
    &__describe {margin: 12px 0; line-height: 20px; flex-grow: 1; font-weight: 600;
        a {
            &:hover {border-color: #ffffff; color: #ffffff;}
        }
    }
    &__location { border-top: 1px solid #ddd;  color: #818181; padding: 17px 0; display: flex;  align-items: center; justify-content: space-between;}
    &__town {display: flex; align-items: center;  justify-content: flex-start;}
    &__insta {
        a {width: 15px; height: 15px; display: block;  background-image: url(../img/inst.png);}
    }
}

.contacts {
    h1 {    margin: 84px auto 75px;}
    h2 {color: #000000;
        br {display: none;}
    }
    .av-product__content {margin-top: 0;}
    .tab-decimal {position: absolute; font-size: 10px; color: #0059af;}
    .av-product__tab { position: relative;
        .tab-decimal { position: absolute; top: 16px; right: -10px;}
    }
    &__map {height: 600px; width: 100%; margin-top: 30px;}
    #c_map {width: 100%; height:100%;}
    &__workers {display: flex; flex-wrap: wrap; align-items: stretch;}
    .container-fluid {padding: 0;}
}

.contact { display: flex; background-color: #ffffff;
    &__col { width: 50%; flex-grow: 1; display: flex; flex-wrap: wrap;
        &:first-child { border-right: 1px solid #dddddd; }
        &:last-child {
            .contact__row {
                &:first-child {border-bottom: 1px solid #dddddd;
                    .contact__item:last-child {border-right: 0;}
                }
                &:last-child {
                    .contact__item:last-child {border-right: 0;}
                }
            }
            .contact__item {border-right: 1px solid #dddddd;}
        }
    }
    &__row {width: 100%; display: flex;}
    &__item {padding: 19px 30px 23px; width: 45%; flex-grow: 1; min-height: 130px; display: flex; flex-direction: column; justify-content: space-between;}
    &__text { font-size: 23px; color: #000000; font-weight: 600; }
    &__head {display: flex; align-items: center; justify-content: flex-start; margin-bottom: 7px;}
    &__time span{ white-space: nowrap; }
}

.worker { width: 25%; border-right: 1px solid #dddddd; margin-bottom: 15px;
    &:last-child {
        border-right:0;}
    &__photo { width: 100%; height: 260px; background-color: #eeeeee; display: flex; align-items: center; justify-content:center;}
    &__img {width: 90px; height: 90px; border-radius: 50%; overflow: hidden;
        img {object-fit: cover;}
    }
    &__who {padding: 23px 29px; border-bottom: 1px solid #dddddd;}
    &__name {font-size: 23px; color: #000000; font-weight: 600;}
    &__height { font-size: 14px; color: #818181;}
    &__about {padding: 23px 29px;}
    &__info { background-color: #ffffff; }
    &__item {  margin-bottom: 13px;
        .contact__head {margin-bottom: 7px;}
        .contact__text {font-size: 15px;}
        &--mail {
            .contact__text {color: #0059af;
                br {display: none;}
            }
        }
    }
    &__button { display: flex; align-items: center;  width: 100%;  justify-content:center; padding: 30px; border-bottom: 1px solid #dddddd;
        .btn {  text-align: center;}
        &--long {
            .btn { padding: 0 30px; }
        }
    }
}

.documentation {

    h1 {    margin: 84px auto 60px;}
    .tab-decimal {position: absolute; font-size: 10px; color: #0059af;}
    .av-product__tab { position: relative;
        .tab-decimal { position: absolute; top: 16px; right: -10px;}
    }
    .av-library svg {width: 24px; height: 30px;}
    .av-product__type { position: absolute; }
    &__size { font-size: 13px; color: #818181; position: absolute; bottom: 28px; left: 30px;}
    .col-12:hover .av-library__file {
        background-color: #0059af;
    }
    .col-12:hover .col-6:last-child {
        box-shadow: 0 2px 75px 0 #dbdee2;
    }
}

div.documentation {
    margin-bottom: 30px;
}

span.blue {background-color: #e1f0ff; border-radius: 5px; color: #0059af;}

.support {
    h3 {color: #000000; font-size: 23px; margin-bottom: 60px; position: relative;
        br {display: none;}
    }
    h1 {    margin: 84px auto 60px;}
    .av-family__tabs-wrap {margin-bottom: 20px;}
    .av-template__guarantee {max-height: none; cursor: pointer;
        &:hover {
            .av-template__guarantee-title {color: #0059af;}
            .av-template__cross:before {background-color: #0059af;}
            .av-template__cross:after {background-color: #0059af;}
        }
    }
    .border-bottom.hidden { display: none; }
    .border-bottom.custom {border-bottom: none;}
    .container-fluid.custom {padding: 0; padding-bottom: 30px; background-color: #f9f9f9;}
    .av-template__guarantee-title {font-size: 23px; font-weight: 600; position: relative; padding: 20px 40px 20px 15px; color: #000000; }
    .av-template__cross {position: absolute; right: 20px; top: 31px;}
    .av-template__guarantee.active { max-height: none;
        .av-template__guarantee-title {color: #0059af;}
        .av-template__cross {
            &:after {background-color: #0059af;}
            &:before {background-color: #0059af;}
        }
        .border-bottom.hidden {display: block;}
        .border-bottom.custom {border-bottom: 1px solid #ddd;}
    }
    &__info { column-count: 2; font-size: 16px; color: #818181; line-height: 1.63; padding: 29px 30px; column-gap: 60px; background-color: #ffffff;}
    .av-product__tab { display: flex;  position: relative; white-space: nowrap;
        .tab-decimal {position: absolute; right: -10px; top: 16px; font-size: 10px; display: none;}
        .arrows { margin-left: 10px; transform: rotateZ(180deg); margin-bottom: 3px;
            img {
                &:first-child {display: none;}
                &:last-child {display: block;}
            }
        }
        &.active {
            .tab-decimal {display: block;}
            .arrows {
                img {
                    &:first-child {display: block;}
                    &:last-child {display: none;}
                }
            }
        }
    }
    &__head {display: flex; align-items: center; justify-content: center;
        .tab-decimal {position: absolute; right: -10px; top: -3; font-size: 11px;}
    }
    .av-product__tabs-caption { display: flex; overflow: auto; justify-content: flex-start;}
    &__scroll {width: 100%; display: flex; min-width: 630px; justify-content: center;
        align-items:center;}
}

.partnership {
    .av-family__tabs {
        a {font-weight: 600;}
    }
    .av-library .col-12:hover .av-library__file .ico-stroke {stroke: #ffffff;}
    .av-product__content {margin-top: 0;}
    .documentation .col-12:hover .col-6:last-child {
        box-shadow: 0 2px 75px 0 #dbdee2;
    }
    .av-template__input--text {height: 52px; overflow: hidden;}
    &__form {margin-top: 60px;}
    .av-product__about-title {font-weight: 600;}
    .av-product__no-arrow {
        &:hover {
            .col-white { background-color: #0059af;}
            .av-product__about {color: #ffffff;}
            .av-product__about-title {color: #ffffff;}
            .av-product__photo:before {border-right: 17px solid #0059af;}
        }
    }
}
.block_news .row .text .info {width: 100%;}
.block_news .row .text .info .h3 {color: #000000; text-align: center;}
.block_news .row:hover .text .info .h3{color: #ffffff;}
.news {
    h1 {margin-bottom: 65px;}
    .av-product__tab .tab-decimal {font-size: 11px;}
    .av-product-tabs {margin-bottom: 30px;}
}



@media (max-width: 1025px) {
    body.is_submenu header .top {
        margin: 0;
        padding: 18px 18px 18px 0;
        margin-top: 20px;
    }
    body.is_submenu header nav.mob.show {
        margin-top:60px;
    }
    .contact {flex-wrap: wrap;
        &__col {width: 100%;
            &:first-child {
                border-right:0;}
            &:last-child {
                .contact__row {
                    &:last-child {border-bottom: none;}
                }
            }
        }
        &__item {border-right: 0;min-height: 110px;}
        &__row {border-bottom: 1px solid #dddddd;}
        &__text {font-size: 17px;}
    }
    .contacts {
        .container-fluid {padding-right: 0; padding-left: 0;}
    }
    .documentation__size { bottom: 18px; left: 20px; }
}

@media (max-width: 1024px) {
    .support  {
        .av-template__cross { left: auto; }
        .av-template__guarantee-title {text-align: left; justify-content: flex-start;}
    }
    .partnership {
        .av-product__content.active {margin-top: 0;
            .col-12 { min-height: 140px; }
        }
        &__form {margin-top: 20px;}
    }
}



@media (max-width: 900px) {
    .man {
        width: 50%;
    }
    .worker {width: 50%;}
    .support {
        .av-template__cross { top: 28px; }
        .av-template__guarantee-title { font-size: 18px; padding-left: 20px; }
        &__info {padding-left: 20px; padding-right: 20px; padding-top: 0; }
    }

}

@media (max-width: 840px) {
    .filters__selectors{ padding-right: 0;
        &--desc {display: none;}
        &--mob {display: flex; width: 100%;
            .selector__link {max-width: none; width: 100%;}
        }
    }
    .contacts__map {height:440px; }
    .contact__item {padding-left: 18px; padding-right: 10px; padding-bottom: 10px;}
    .contacts h1 {
        margin: 40px auto 35px;
    }
    .documentation {
        h1 { margin: 40px auto 25px; }
        .av-product .col-12 {  min-height: 140px;  display: flex; }
    }
    .news {
        h1 { margin: 40px auto 25px; }
    }
    .support {
        h1 { margin: 40px auto 25px; }
    }
}
@media (max-width: 768px) {
    .support {
        .av-product__tab .tab-decimal {  right: 36px; }
        h3 {margin-bottom: 30px;}
    }
    .support__head .tab-decimal {display: none;}
    .support .av-template__guarantee.active > .border-bottom {border-color: transparent;}
    .documentation .av-product__tab .tab-decimal {top: 13px; right: 5px; }
    .contacts .av-product__tab .tab-decimal {top: 13px; right: 5px; }
    .reset__hidden {display: block;}

    .tags {
        .tags__reset {display: none;}
        &__box {width: 100%;
            justify-content:center;}
    }
    .sorter__box { padding: 15px 15px;
        .btn {display: none;}

    }
    .sorter__hidden {display: block;
        .btn {display: block; text-align: center;}
    }
    .sorter__button span {font-size: 13px;}
    .sorter__item:last-child {justify-content: flex-end;}
}



@media screen and (max-width: 640px) {
    .map {flex-wrap: wrap; height: auto; position: static;}
    .map__total {width: 100%; order: 1;}
    .map__cover {display: none;}
    .selector {max-width: none;}
    .filters__box {width: 100%; position: static;}
    .map__total {position: static; height: 440px;}
    .support__info {column-count: 1; font-size: 14px;}
    .support {
        h3 br{display: block;}
    }
    .partnership {
        .av-library__file {margin: auto auto;}
    }
    .documentation {
        .av-library__file {margin: auto auto;}
    }
    footer {
        h4.hide {
            span {display: none;}
        }
    }
    .contacts {
        h2 br {display: block;}
    }
}

@media (max-width: 500px) {
    .man {
        width: 100%;
    }
    .worker {width: 100%; border-right: 0;
        &:nth-child(3) {display: none;}
        &:nth-child(4) {display: none;}
    }
    .worker__item--mail .contact__text br {
        display: block;
    }
    .tags {padding-left: 0; padding-right: 0;
        &__box {flex-wrap: wrap;}
    }
    .community {
        .container-fluid {padding-right: 0; padding-left: 0;}
    }
}

@media (min-width: 1025px) {
    .desktop {
        padding-top: 0px;
        &.show {display: block; margin-top: -60px;}
        .row {
            &:after {
                content: '';
                height: 1px;
                width: 300%;
                position: absolute;
                top: 0;
                left: -100%;
                background-color: #dddddd; }
        }
    .row [class*=col-] {
        padding-top: 30px;
        padding-bottom: 20px;
        display: block; }
    .row [class*=col-]:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 20px;
        width: 1px;
        background-color: #dddddd; }
    .row.bottom:before {
        display: block; }
    .title {
        font-size: 15px; }
    .socials {
        border-top: none;
        padding-top: 0; }
    .socials a {
        margin-top: -3px; }
    .bottom .footer_link {
        margin-top: -0;
        display: flex;
        align-items: center; }
    .bottom .footer_link .link {
        flex: 3;
        margin-bottom: 0; }
    .bottom .footer_link .dev {
        flex: 2; }
    .bottom .footer_link .lang {
        flex: 1;
        text-align: right; }
    .bottom .footer_link .lang a {
        border: none;
        display: inline-block; }
    .bottom .footer_link .lang a img {
        width: 25px;
        height: 25px; }
    .contacts {
        display: none; }
    .subscribe form {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row; }
    .subscribe form:after {
        display: none; }
    .subscribe form [type=submit] {
        width: auto; }
    .subscribe form .input {
        order: 1;
        flex: 60%; }
    .subscribe form .submit {
        order: 2;
        flex: 40%; }
    .subscribe form .label {
        order: 3;
        flex: 100%; }
    }
}

@media (min-width: 1200px) {
    .desktop {
        .subscribe form .input {
            flex: 70%; }
        .subscribe form .submit {
            flex: 30%; } }
    }

